Linux-layer/Docker-Testing/MicroHub-Docker/data/old/flows_MicroscopeHub.json
[{"id":"fc06c4a.4b34f38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9bb8256.88dc2","type":"ui_group","z":"","name":"Default","tab":"b8e6c56e.53b4b8","disp":false,"width":"12","collapse":false},{"id":"b8e6c56e.53b4b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"107dd3a5.86a78c","type":"mqtt-broker","z":"","name":"","broker":"microscopehub.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7642363e.06e4f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"70e1910e.ab59a","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"bfb44075.6ece3","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6"},{"id":"c438778e.a28198","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"fcb713a6.99bf8","type":"ui_group","z":"","name":"Performance","tab":"","disp":true,"width":"6"},{"id":"f2a13443.6baa18","type":"serial-port","z":0,"serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"2cab7ad.282d386","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"135fd196.02214e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"2f3e927e.28ba7e","type":"ui_group","z":"","name":"Dashboard","tab":"135fd196.02214e","disp":true,"width":"6","collapse":false},{"id":"9b95c750.4d9f68","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"505901ca.93c41","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"ee54ca4b.427da8","type":"ui_tab","z":"","name":"Disabled","icon":"dashboard","order":2},{"id":"6fae05a3.d7742c","type":"ui_group","z":"","name":"temporary","tab":"ee54ca4b.427da8","disp":true,"width":"6","collapse":false},{"id":"9606b430.626f88","type":"ui_group","z":"","name":"Camera","tab":"135fd196.02214e","order":2,"disp":true,"width":"7","collapse":false},{"id":"15d42c8d.d70de3","type":"debug","z":"fc06c4a.4b34f38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":80,"wires":[]},{"id":"eb82db9c.704468","type":"mqtt in","z":"fc06c4a.4b34f38","name":"command","topic":"camCommand","qos":"2","broker":"2cab7ad.282d386","x":160,"y":120,"wires":[["1976c586.c0edba"]]},{"id":"3019419d.6f79ee","type":"mqtt out","z":"fc06c4a.4b34f38","name":"squirrel","topic":"camCommand","qos":"","retain":"","broker":"2cab7ad.282d386","x":440,"y":260,"wires":[]},{"id":"1976c586.c0edba","type":"debug","z":"fc06c4a.4b34f38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":120,"wires":[]},{"id":"ea9c2ae7.d37d18","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":13,"width":0,"height":0,"passthru":false,"label":"Take Picture","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":254,"y":229,"wires":[["3019419d.6f79ee"]]},{"id":"1e817b7e.4563f5","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"up 100","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":149,"y":718,"wires":[["ddc5b270.9141d"]]},{"id":"11fba1ea.17f05e","type":"serial out","z":"fc06c4a.4b34f38","name":"Focus","serial":"505901ca.93c41","x":405,"y":421,"wires":[]},{"id":"41560357.45bd4c","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"light","group":"6fae05a3.d7742c","order":10,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"6","step":1,"x":134,"y":425,"wires":[["11fba1ea.17f05e"]]},{"id":"3c1a0489.4bc89c","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"position","group":"2f3e927e.28ba7e","order":5,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"5000","step":1,"x":140,"y":563,"wires":[["25f17217.8e2f1e"]]},{"id":"15168339.fcc5ed","type":"function","z":"fc06c4a.4b34f38","name":"motor flag","func":"msg.payload = \"m:\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":583,"wires":[["11fba1ea.17f05e","d6058796.5753a8"]]},{"id":"65741099.8b934","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":528,"y":1130,"wires":[]},{"id":"4883e672.7a1808","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"position","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":595,"wires":[[]]},{"id":"7fd612a4.c40f2c","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"White On","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":109,"y":951,"wires":[["ebf5570e.d2fe08"]]},{"id":"137c0a49.404e46","type":"http request","z":"fc06c4a.4b34f38","name":"","method":"POST","ret":"txt","url":"http://LEDcontroller.local","tls":"","x":519,"y":1011,"wires":[[]]},{"id":"ebf5570e.d2fe08","type":"function","z":"fc06c4a.4b34f38","name":"","func":"var id = flow.get(\"LED_id\");\nvar com = id+\",1\";\nmsg.payload = { led: com };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":379,"y":951,"wires":[["137c0a49.404e46"]]},{"id":"49e79963.938918","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":2,"width":0,"height":0,"passthru":false,"label":"White Off","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":109,"y":991,"wires":[["91b3f067.b12a3"]]},{"id":"91b3f067.b12a3","type":"function","z":"fc06c4a.4b34f38","name":"","func":"var id = flow.get(\"LED_id\");\nvar com = id+\",0\";\nmsg.payload = { led: com };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":991,"wires":[["137c0a49.404e46"]]},{"id":"80c76eb1.a61","type":"ui_numeric","z":"fc06c4a.4b34f38","name":"","label":"","group":"2f3e927e.28ba7e","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"24","step":1,"x":364,"y":1317,"wires":[["ad72c38.3c9dc4","f53d10fe.64f1d"]]},{"id":"ad72c38.3c9dc4","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"LED id","group":"2f3e927e.28ba7e","order":7,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"24","step":1,"x":358,"y":1405,"wires":[["80c76eb1.a61","f53d10fe.64f1d"]]},{"id":"f53d10fe.64f1d","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":563,"y":1348,"wires":[["da2fcc4b.b0eec"]]},{"id":"da2fcc4b.b0eec","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"LED_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":751,"y":1372,"wires":[[]]},{"id":"3567a835.b55ec8","type":"inject","z":"fc06c4a.4b34f38","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":181,"y":1382,"wires":[["80c76eb1.a61","ad72c38.3c9dc4"]]},{"id":"7b33ff29.7ca5f","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":3,"width":0,"height":0,"passthru":false,"label":"All Off","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":99,"y":1031,"wires":[["55988a38.445ba4"]]},{"id":"55988a38.445ba4","type":"function","z":"fc06c4a.4b34f38","name":"","func":"msg.payload = { led: \"100,0\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":353,"y":1041,"wires":[["137c0a49.404e46"]]},{"id":"25f17217.8e2f1e","type":"ui_numeric","z":"fc06c4a.4b34f38","name":"","label":"Position","group":"2f3e927e.28ba7e","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"5000","step":1,"x":124,"y":659,"wires":[["3c1a0489.4bc89c","30237f9c.98e74"]]},{"id":"e2540324.99327","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"Brightness","group":"2f3e927e.28ba7e","order":8,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":120,"y":1240,"wires":[["3b11b7fa.2e3888"]]},{"id":"3b11b7fa.2e3888","type":"function","z":"fc06c4a.4b34f38","name":"","func":"var msg1 = msg\nvalue = msg.payload;\nmsg1.payload = { brightness: value };\nmsg1.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg1;","outputs":1,"noerr":0,"x":347,"y":1184,"wires":[["65741099.8b934","137c0a49.404e46"]]},{"id":"30237f9c.98e74","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":368,"y":651,"wires":[["4883e672.7a1808","15168339.fcc5ed"]]},{"id":"fd6dcf50.fa624","type":"mosca in","z":"fc06c4a.4b34f38","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":137.5,"y":68,"wires":[["15d42c8d.d70de3"]]},{"id":"6b42149.7d9c5ec","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":3,"width":0,"height":0,"passthru":false,"label":"All On","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":103,"y":1071,"wires":[["b2985dc0.818b"]]},{"id":"b2985dc0.818b","type":"function","z":"fc06c4a.4b34f38","name":"","func":"msg.payload = { led: \"100,1\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":1085,"wires":[[]]},{"id":"ddc5b270.9141d","type":"function","z":"fc06c4a.4b34f38","name":"","func":"pos = flow.get(\"position\") || 0;\nmsg.payload += pos;\nreturn msg;","outputs":1,"noerr":0,"x":323.5,"y":736,"wires":[["3c1a0489.4bc89c"]]},{"id":"d73f5d61.e97ee","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"down 100","color":"","bgcolor":"","icon":"","payload":"-100","payloadType":"num","topic":"","x":157,"y":756,"wires":[["ddc5b270.9141d"]]},{"id":"49563f5d.a217f","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"up 10","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":147,"y":795,"wires":[["ddc5b270.9141d"]]},{"id":"89db2c3f.67215","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"down 10","color":"","bgcolor":"","icon":"","payload":"-10","payloadType":"num","topic":"","x":156,"y":832,"wires":[["ddc5b270.9141d"]]},{"id":"f7925e6e.46c87","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"up 1","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":147,"y":870,"wires":[["ddc5b270.9141d"]]},{"id":"996447ce.c0b0b8","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"down 1","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"num","topic":"","x":155,"y":910,"wires":[["ddc5b270.9141d"]]},{"id":"d6058796.5753a8","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":529.5,"y":512,"wires":[]},{"id":"24b78cba.012e04","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"set 0","color":"","bgcolor":"","icon":"","payload":"c","payloadType":"str","topic":"","x":118,"y":488,"wires":[["11fba1ea.17f05e","bba2e5f6.df2c08"]]},{"id":"bba2e5f6.df2c08","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":259.5,"y":521,"wires":[["3c1a0489.4bc89c"]]},{"id":"7ec64965.2f3898","type":"inject","z":"fc06c4a.4b34f38","name":"take picture every 10 minutes","topic":"","payload":"true","payloadType":"bool","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":152.5,"y":308,"wires":[["39d3f6b9.7b4dba","fe8afee.77fe7"]]},{"id":"39d3f6b9.7b4dba","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"100","op1type":"nul","op2type":"num","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":364.5,"y":355,"wires":[["3019419d.6f79ee"]]},{"id":"fe8afee.77fe7","type":"link out","z":"fc06c4a.4b34f38","name":"","links":["3295d941.316736"],"x":547.5,"y":326,"wires":[]},{"id":"3295d941.316736","type":"link in","z":"fc06c4a.4b34f38","name":"","links":["fe8afee.77fe7"],"x":34.5,"y":1120,"wires":[["b2985dc0.818b","2bb717f9.7d0b78"]]},{"id":"2bb717f9.7d0b78","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":156.5,"y":1150,"wires":[["55988a38.445ba4"]]}]
