Linux-layer/CameraEnd-Node-Red/flows.json
[{"id":"6ea7014a.9fc36","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9bb8256.88dc2","type":"ui_group","z":"","name":"Default","tab":"b8e6c56e.53b4b8","disp":false,"width":"12","collapse":false},{"id":"b8e6c56e.53b4b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"107dd3a5.86a78c","type":"mqtt-broker","z":"","name":"","broker":"microscopehub.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7642363e.06e4f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"70e1910e.ab59a","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"bfb44075.6ece3","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6"},{"id":"c438778e.a28198","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"fcb713a6.99bf8","type":"ui_group","z":"","name":"Performance","tab":"","disp":true,"width":"6"},{"id":"f2a13443.6baa18","type":"serial-port","z":0,"serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"923bf6ab.17bb68","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5fab0252.ba892c","type":"mqtt-broker","z":"","name":"Mosca","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"44b7505.d4876b","type":"exec","z":"6ea7014a.9fc36","command":"hostname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":598,"y":202,"wires":[["2af80a91.f52ae6","fd80f6fe.089ac8"],[],[]]},{"id":"2a06b30d.42aa3c","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":446,"y":249,"wires":[["44b7505.d4876b","24818357.4cafcc"]]},{"id":"2af80a91.f52ae6","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"hostname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":788,"y":162,"wires":[[]]},{"id":"24818357.4cafcc","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":678,"y":262,"wires":[[]]},{"id":"429bc9f8.12b178","type":"mqtt in","z":"6ea7014a.9fc36","name":"","topic":"camCommand","qos":"2","broker":"107dd3a5.86a78c","x":90,"y":351,"wires":[["fd655753.733e38","f62e7cd8.ddc0e","c77882fd.a9c09","40ca57fc.43d5e8","338004e2.abefec"]]},{"id":"56499502.7f186c","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"id_number","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1008,"y":202,"wires":[[]]},{"id":"fd80f6fe.089ac8","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"camera","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":798,"y":202,"wires":[["56499502.7f186c"]]},{"id":"fd655753.733e38","type":"function","z":"6ea7014a.9fc36","name":"handle standard picture","func":"var id = flow.get(\"id_number\")||\"0\";\nvar count = flow.get(\"count\") || 0;\n\nif (msg.payload == id || msg.payload == \"100\"){\n    msg.payload = count\n    count++\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":352,"y":512,"wires":[["b7143395.dcf56","987b6593.23b4f8"]]},{"id":"b7143395.dcf56","type":"exec","z":"6ea7014a.9fc36","command":"echo 'im' >/var/www/html/FIFO","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":634.5,"y":511.5,"wires":[[],[],[]]},{"id":"987b6593.23b4f8","type":"trigger","z":"6ea7014a.9fc36","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":611.5,"y":571,"wires":[["57c29886.e873e8"]]},{"id":"57c29886.e873e8","type":"exec","z":"6ea7014a.9fc36","command":"~/scripts/sendNewest.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":863.5,"y":572.5,"wires":[[],[],[]]},{"id":"40ca57fc.43d5e8","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":246,"y":289,"wires":[]},{"id":"8530c731.02d708","type":"function","z":"6ea7014a.9fc36","name":"handle z-stack start","func":"if (msg.payload == \"101\"){\n    var date = new Date();\n    var timestamp = date.getTime();\n    msg.payload = timestamp;\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":346,"y":445,"wires":[[]]},{"id":"7278487d.53a3d8","type":"exec","z":"6ea7014a.9fc36","command":"echo 'im' >/var/www/html/FIFO","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":644,"wires":[[],[],["2a0e1fbf.8992"]]},{"id":"c0771cea.624e8","type":"exec","z":"6ea7014a.9fc36","command":"/home/pi/scripts/copyNewest.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":739,"y":772,"wires":[[],[],["8646c48e.dd718"]]},{"id":"dc7e32dc.32343","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"current-directory","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":135,"y":919,"wires":[[]]},{"id":"9ab08081.bd78f","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"101","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109.5,"y":417,"wires":[["8530c731.02d708"]]},{"id":"9880eaba.8a27c8","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":474,"y":755,"wires":[["c0771cea.624e8"]]},{"id":"f62e7cd8.ddc0e","type":"function","z":"6ea7014a.9fc36","name":"handle z-stack middle","func":"if (msg.payload == \"102\"){\n    msg.payload = true;\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":343,"y":587,"wires":[["7278487d.53a3d8"]]},{"id":"c77882fd.a9c09","type":"function","z":"6ea7014a.9fc36","name":"handle z-stack end","func":"if (msg.payload == \"103\"){\n    msg.payload = true;\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":330,"y":627,"wires":[["8c7049d.f5950b8"]]},{"id":"9e139f9a.2fdae","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"102","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":459,"wires":[["f62e7cd8.ddc0e"]]},{"id":"8582b85d.562a98","type":"exec","z":"6ea7014a.9fc36","command":"/home/pi/scripts/send-z-stack.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":731,"y":844,"wires":[[],[],["8646c48e.dd718"]]},{"id":"d5ddc848.cc6388","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"103","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":503,"wires":[["c77882fd.a9c09"]]},{"id":"d749155a.d16578","type":"exec","z":"6ea7014a.9fc36","command":"rm -rf /home/pi/Pictures/*","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1026,"y":873,"wires":[[],[],[]]},{"id":"8646c48e.dd718","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000.5,"y":757,"wires":[]},{"id":"2a0e1fbf.8992","type":"trigger","z":"6ea7014a.9fc36","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":943,"y":676,"wires":[["9880eaba.8a27c8"]]},{"id":"6a0b6157.6de99","type":"catch","z":"6ea7014a.9fc36","name":"","scope":["8582b85d.562a98"],"x":147.5,"y":809,"wires":[["f49741f3.0fb74"]]},{"id":"f49741f3.0fb74","type":"trigger","z":"6ea7014a.9fc36","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":289,"y":843,"wires":[["8c7049d.f5950b8"]]},{"id":"338004e2.abefec","type":"json","z":"6ea7014a.9fc36","name":"","property":"payload","action":"","pretty":false,"x":287.5,"y":366,"wires":[["1ce8bd6b.f72e83","653f2ac3.a02e14"]]},{"id":"1ce8bd6b.f72e83","type":"debug","z":"6ea7014a.9fc36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":489,"y":329,"wires":[]},{"id":"653f2ac3.a02e14","type":"function","z":"6ea7014a.9fc36","name":"handle experiment start","func":"if (msg.payload.hasOwnProperty(\"uuid\") && msg.payload.hasOwnProperty(\"timestamp\"))\n{\n    msg.path = msg.payload.uuid + \"/\" + msg.payload.timestamp\n    return msg\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":496,"y":384,"wires":[["1ce8bd6b.f72e83","b33733bc.d5b19","ff3c83a6.ed2ad","fc3e77b9.c50a88"]]},{"id":"b33733bc.d5b19","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"cur-uuid","pt":"global","to":"payload.uuid","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"cur-uuid","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":743,"y":357,"wires":[[]]},{"id":"5715679e.4a81b8","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1013,"y":324,"wires":[]},{"id":"ff3c83a6.ed2ad","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"path","pt":"flow","to":"path","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":714,"y":411,"wires":[[]]},{"id":"fc3e77b9.c50a88","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"^","fromt":"re","to":"/home/pi/Pictures/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":907,"y":389,"wires":[["5715679e.4a81b8","46078f73.007f2"]]},{"id":"8c7049d.f5950b8","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":419,"y":800,"wires":[["8582b85d.562a98"]]},{"id":"46078f73.007f2","type":"exec","z":"6ea7014a.9fc36","command":"mkdir -p","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1159,"y":389,"wires":[[],[],["8646c48e.dd718"]]}]