Linux-layer/CameraEnd-Node-Red/flows.json
[{"id":"6ea7014a.9fc36","type":"tab","label":"Main","disabled":false,"info":""},{"id":"9ba5d7ae.ee55b8","type":"tab","label":"Debug Mode","disabled":false,"info":""},{"id":"8db2ea60.69ff98","type":"tab","label":"Set Hub Configuration","disabled":false,"info":""},{"id":"3469f5ce.3bda6a","type":"tab","label":"Z-Stack Data Transfer","disabled":false,"info":""},{"id":"62d9d035.0edf7","type":"tab","label":"Transfer Test","disabled":true,"info":""},{"id":"a9bb8256.88dc2","type":"ui_group","z":"","name":"Default","tab":"b8e6c56e.53b4b8","disp":false,"width":"12","collapse":false},{"id":"b8e6c56e.53b4b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"107dd3a5.86a78c","type":"mqtt-broker","z":"","name":"","broker":"EveeHub.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7642363e.06e4f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"70e1910e.ab59a","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"bfb44075.6ece3","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6"},{"id":"c438778e.a28198","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"fcb713a6.99bf8","type":"ui_group","z":"","name":"Performance","tab":"","disp":true,"width":"6"},{"id":"f2a13443.6baa18","type":"serial-port","z":0,"serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"923bf6ab.17bb68","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5fab0252.ba892c","type":"mqtt-broker","z":"","name":"Mosca","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"44b7505.d4876b","type":"exec","z":"6ea7014a.9fc36","command":"hostname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":598,"y":202,"wires":[["2af80a91.f52ae6","5d17ef0e.919af"],[],[]]},{"id":"2a06b30d.42aa3c","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":357,"y":244,"wires":[["44b7505.d4876b","24818357.4cafcc"]]},{"id":"2af80a91.f52ae6","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"hostname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":788,"y":162,"wires":[[]]},{"id":"24818357.4cafcc","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":678,"y":262,"wires":[[]]},{"id":"429bc9f8.12b178","type":"mqtt in","z":"6ea7014a.9fc36","name":"","topic":"camCommand","qos":"2","broker":"107dd3a5.86a78c","x":96,"y":344,"wires":[["fd655753.733e38","f62e7cd8.ddc0e","40ca57fc.43d5e8","338004e2.abefec","1cb7ecb3.01c503"]]},{"id":"56499502.7f186c","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"id_number","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1032,"y":202,"wires":[[]]},{"id":"fd655753.733e38","type":"function","z":"6ea7014a.9fc36","name":"handle standard picture","func":"var id = global.get(\"id_number\")||\"0\";\nvar count = flow.get(\"count\") || 0;\n\nif (msg.payload == id || msg.payload == \"100\"){\n    msg.payload = count\n    count++\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":350,"y":487,"wires":[["b7143395.dcf56","987b6593.23b4f8"]]},{"id":"b7143395.dcf56","type":"exec","z":"6ea7014a.9fc36","command":"echo 'im' >/var/www/html/FIFO","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":847.5,"y":492.5,"wires":[[],[],[]]},{"id":"987b6593.23b4f8","type":"trigger","z":"6ea7014a.9fc36","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":602.5,"y":517,"wires":[["57c29886.e873e8"]]},{"id":"57c29886.e873e8","type":"exec","z":"6ea7014a.9fc36","command":"~/scripts/sendNewest.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":869.5,"y":542.5,"wires":[[],[],[]]},{"id":"40ca57fc.43d5e8","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":246,"y":289,"wires":[]},{"id":"8530c731.02d708","type":"function","z":"6ea7014a.9fc36","name":"handle z-stack start","func":"if (msg.payload == \"101\"){\n    var date = new Date();\n    var timestamp = date.getTime();\n    msg.payload = timestamp;\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":330,"y":447,"wires":[[]]},{"id":"7278487d.53a3d8","type":"exec","z":"6ea7014a.9fc36","command":"echo 'im' >/var/www/html/FIFO","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":640,"y":726,"wires":[[],[],["2a0e1fbf.8992"]]},{"id":"c0771cea.624e8","type":"exec","z":"6ea7014a.9fc36","command":"/home/pi/scripts/copyNewest.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1475,"y":706,"wires":[[],[],[]]},{"id":"9ab08081.bd78f","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"101","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109.5,"y":417,"wires":[["8530c731.02d708"]]},{"id":"9880eaba.8a27c8","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1027,"y":653,"wires":[["8756e014.d6012"]]},{"id":"f62e7cd8.ddc0e","type":"function","z":"6ea7014a.9fc36","name":"handle z-stack middle","func":"if (msg.payload == \"102\"){\n    msg.payload = true;\n    var num = flow.get(\"stack_layer\") || 0;\n    num += 1;\n    flow.set(\"stack_layer\", num);\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":341,"y":568,"wires":[["9a5feea.9f50d1"]]},{"id":"9e139f9a.2fdae","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"102","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":107,"y":462,"wires":[["f62e7cd8.ddc0e"]]},{"id":"2a0e1fbf.8992","type":"trigger","z":"6ea7014a.9fc36","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":862,"y":671,"wires":[["9880eaba.8a27c8"]]},{"id":"338004e2.abefec","type":"json","z":"6ea7014a.9fc36","name":"","property":"payload","action":"","pretty":false,"x":287.5,"y":366,"wires":[["1ce8bd6b.f72e83","653f2ac3.a02e14"]]},{"id":"1ce8bd6b.f72e83","type":"debug","z":"6ea7014a.9fc36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":489,"y":329,"wires":[]},{"id":"653f2ac3.a02e14","type":"function","z":"6ea7014a.9fc36","name":"handle json","func":"if (msg.payload.hasOwnProperty(\"uuid\") && msg.payload.hasOwnProperty(\"timestamp\"))\n{\n    msg.path = msg.payload.uuid + \"/\" + msg.payload.timestamp\n    return msg\n}\nelse if(msg.payload.hasOwnProperty(\"cam_params\")){\n    global.set(\"camera_params\", msg.payload.cam_params)\n    return null\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":481,"y":375,"wires":[["1ce8bd6b.f72e83","b33733bc.d5b19","ff3c83a6.ed2ad","fc3e77b9.c50a88","613b3684.59a3e8"]]},{"id":"b33733bc.d5b19","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"cur-uuid","pt":"global","to":"payload.uuid","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"cur-uuid","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":743,"y":357,"wires":[[]]},{"id":"5715679e.4a81b8","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1013,"y":324,"wires":[]},{"id":"ff3c83a6.ed2ad","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"path","pt":"global","to":"path","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":724,"y":411,"wires":[[]]},{"id":"fc3e77b9.c50a88","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"^","fromt":"re","to":"/home/pi/Pictures/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":907,"y":389,"wires":[["5715679e.4a81b8","46078f73.007f2"]]},{"id":"46078f73.007f2","type":"exec","z":"6ea7014a.9fc36","command":"mkdir -p","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1214,"y":427,"wires":[[],[],[]]},{"id":"613b3684.59a3e8","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"stack_layer","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":735,"y":448,"wires":[[]]},{"id":"8756e014.d6012","type":"function","z":"6ea7014a.9fc36","name":"append file name","func":"var num = flow.get(\"stack_layer\")\nmsg.payload = msg.payload + \"/\"+num+\".jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":1209.5,"y":682,"wires":[["c0771cea.624e8"]]},{"id":"f641b74d.ef4218","type":"mqtt in","z":"9ba5d7ae.ee55b8","name":"","topic":"camCommand","qos":"2","broker":"107dd3a5.86a78c","x":141,"y":133,"wires":[["9c6f982d.ff5b18","b530e16c.74d94"]]},{"id":"9c6f982d.ff5b18","type":"function","z":"9ba5d7ae.ee55b8","name":"turn off debug mode","func":"if (msg.payload == \"db_stop\"){\n    msg.payload = true;\n    global.set(\"debug\",\"disabled\");\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":376.5,"y":100,"wires":[["f8eb8dd5.cc278"]]},{"id":"b530e16c.74d94","type":"function","z":"9ba5d7ae.ee55b8","name":"turn on debug mode","func":"if (msg.payload == \"db_start\"){\n    msg.payload = true;\n    global.set(\"debug\",\"enabled\");\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":377,"y":164,"wires":[["3bbfbcdc.6f2454"]]},{"id":"9a5feea.9f50d1","type":"switch","z":"6ea7014a.9fc36","name":"check debug mode","property":"debug","propertyType":"global","rules":[{"t":"eq","v":"enabled","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":382.5,"y":729,"wires":[["7278487d.53a3d8"],["89e6c075.fd326"]]},{"id":"89e6c075.fd326","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":775,"wires":[["58130d1b.0f0724"]]},{"id":"58130d1b.0f0724","type":"function","z":"6ea7014a.9fc36","name":"append parameters","func":"var num = flow.get(\"stack_layer\")\nvar params = global.get(\"camera_params\")\nmsg.payload = params + \" /home/pi/Pictures/\"+msg.payload + \"/\"+num+\".jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":780,"wires":[["530727ee.e28188","deae6993.219c18"]]},{"id":"f8eb8dd5.cc278","type":"exec","z":"9ba5d7ae.ee55b8","command":"/home/pi/RPi_Cam_Web_Interface/stop.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":699,"y":95,"wires":[["5a810784.aadc08"],[],["5a810784.aadc08"]]},{"id":"3bbfbcdc.6f2454","type":"exec","z":"9ba5d7ae.ee55b8","command":"/home/pi/RPi_Cam_Web_Interface/start.sh","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":698,"y":165,"wires":[["5a810784.aadc08"],[],["5a810784.aadc08"]]},{"id":"523e413b.27cd1","type":"inject","z":"9ba5d7ae.ee55b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":409.5,"y":49,"wires":[["f8eb8dd5.cc278"]]},{"id":"ab911b33.2aec68","type":"inject","z":"9ba5d7ae.ee55b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":412,"y":221,"wires":[["3bbfbcdc.6f2454"]]},{"id":"5a810784.aadc08","type":"debug","z":"9ba5d7ae.ee55b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":984.5,"y":123,"wires":[]},{"id":"ceceebbe.b71a38","type":"inject","z":"9ba5d7ae.ee55b8","name":"","topic":"","payload":"db_stop","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":164,"y":62,"wires":[["9c6f982d.ff5b18"]]},{"id":"cb03222b.ea32b","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"{\"uuid\":\"internal-test\", \"timestamp\":\"glarfbloo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":299,"y":327,"wires":[["653f2ac3.a02e14"]]},{"id":"4a80ec3e.3ac8c4","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1224,"y":851,"wires":[]},{"id":"1cb7ecb3.01c503","type":"function","z":"6ea7014a.9fc36","name":"handle z-stack gfp middle","func":"if (msg.payload == \"gfp\"){\n    msg.payload = true;\n    var num = flow.get(\"stack_layer\") || 0;\n    num += 1;\n    flow.set(\"stack_layer\", num);\n    var debug = global.get(\"debug\") || \"disabled\";\n    if(debug != \"disabled\"){\n        return [msg, \"db_stop\"]\n    }\n    return [msg, null];\n}\nelse\n    return [null, null];","outputs":2,"noerr":0,"x":348,"y":529,"wires":[["ecea33f.9bcb1d","ac97e9.1373f818"],["55d7fd0d.9eb514","ac97e9.1373f818"]]},{"id":"cf1a3ed3.6b22","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"gfp","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":510,"wires":[["1cb7ecb3.01c503"]]},{"id":"55d7fd0d.9eb514","type":"link out","z":"6ea7014a.9fc36","name":"turn off debug for gfp","links":["c879a77e.50c618"],"x":550.5,"y":614,"wires":[]},{"id":"c879a77e.50c618","type":"link in","z":"9ba5d7ae.ee55b8","name":"","links":["55d7fd0d.9eb514"],"x":192.5,"y":97,"wires":[["9c6f982d.ff5b18"]]},{"id":"ecea33f.9bcb1d","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":622,"y":571,"wires":[["eb8f429.4df83c"]]},{"id":"eb8f429.4df83c","type":"function","z":"6ea7014a.9fc36","name":"append file name","func":"var num = flow.get(\"stack_layer\")\nmsg.payload = \"/home/pi/Pictures/\"+msg.payload + \"/\"+num+\".jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":593,"wires":[["2eca220d.a76b1e"]]},{"id":"2eca220d.a76b1e","type":"exec","z":"6ea7014a.9fc36","command":"raspistill -t 4000 -ss 2500000 -ISO 300 -awb off -awbg 1,1 -co 0 -o","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"gfp take picture","x":1063,"y":595,"wires":[["5db70134.0923e"],[],["5db70134.0923e","c519c26a.2bdbf"]]},{"id":"deae6993.219c18","type":"exec","z":"6ea7014a.9fc36","command":"raspistill","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1009,"y":784,"wires":[["4a80ec3e.3ac8c4"],["4a80ec3e.3ac8c4"],["4a80ec3e.3ac8c4","da95740f.e9ad68"]]},{"id":"5db70134.0923e","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1290,"y":583,"wires":[]},{"id":"ac97e9.1373f818","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":666,"wires":[]},{"id":"92a7d7f8.71ed18","type":"mqtt out","z":"6ea7014a.9fc36","name":"","topic":"pic-taken","qos":"1","retain":"","broker":"107dd3a5.86a78c","x":1408.5,"y":502,"wires":[]},{"id":"c519c26a.2bdbf","type":"function","z":"6ea7014a.9fc36","name":"check success","func":"if (msg.payload.code === 0){\n    msg.payload = \"1\"\n    return msg\n}","outputs":1,"noerr":0,"x":1250,"y":533,"wires":[["92a7d7f8.71ed18"]]},{"id":"1fb6c6cc.e840e9","type":"inject","z":"9ba5d7ae.ee55b8","name":"","topic":"","payload":"db_start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":177,"y":214,"wires":[["b530e16c.74d94"]]},{"id":"6e879308.7c2c8c","type":"mqtt out","z":"6ea7014a.9fc36","name":"","topic":"pic-taken","qos":"1","retain":"","broker":"107dd3a5.86a78c","x":1404,"y":780,"wires":[]},{"id":"da95740f.e9ad68","type":"function","z":"6ea7014a.9fc36","name":"check success","func":"if (msg.payload.code === 0){\n    msg.payload = \"1\"\n    return msg\n}","outputs":1,"noerr":0,"x":1232.5,"y":797,"wires":[["6e879308.7c2c8c"]]},{"id":"f9b95b5.59a4ea8","type":"change","z":"9ba5d7ae.ee55b8","name":"","rules":[{"t":"set","p":"camera_params","pt":"global","to":"-awboff -o","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":459.5,"y":310,"wires":[[]]},{"id":"787c6189.7c1b9","type":"inject","z":"9ba5d7ae.ee55b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":229.5,"y":320,"wires":[["f9b95b5.59a4ea8"]]},{"id":"530727ee.e28188","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":948.5,"y":853,"wires":[]},{"id":"8ac24710.b501c8","type":"exec","z":"6ea7014a.9fc36","command":"sudo cat /boot/hub-hostname.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":315.5,"y":124.5,"wires":[["95419845.401758","b49e1573.511018"],[],[]]},{"id":"95419845.401758","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":432,"y":60,"wires":[]},{"id":"ed0a3dad.85e8c","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":93,"y":76,"wires":[["8ac24710.b501c8"]]},{"id":"b49e1573.511018","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"re","to":"","tot":"str"},{"t":"set","p":"hub_id","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560.5,"y":131,"wires":[["95419845.401758"]]},{"id":"85fda19d.632f1","type":"file in","z":"8db2ea60.69ff98","name":"","filename":"/home/pi/.node-red/flows.json","format":"utf8","chunk":false,"sendError":false,"x":210,"y":112,"wires":[["952ae5ac.ca9548"]]},{"id":"c6f8859d.a89c28","type":"inject","z":"8db2ea60.69ff98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":136.5,"y":61,"wires":[["85fda19d.632f1"]]},{"id":"952ae5ac.ca9548","type":"json","z":"8db2ea60.69ff98","name":"","property":"payload","action":"","pretty":false,"x":383,"y":57,"wires":[["7f5cc059.9db68"]]},{"id":"7f5cc059.9db68","type":"function","z":"8db2ea60.69ff98","name":"","func":"var hub_id = global.get(\"hub_id\") + \".local\"\nfor(var f in msg.payload){\n    if(msg.payload[f].hasOwnProperty(\"id\")){\n        if(msg.payload[f].id == \"107dd3a5.86a78c\"){\n            node.log(msg.payload[f].broker)\n            if(msg.payload[f].broker != hub_id){\n                msg.payload[f].broker = hub_id\n                return msg\n            }\n            //msg.payload = msg.payload[f];\n        }\n    }\n}\nnode.warn(\"no change\")\nreturn null;","outputs":1,"noerr":0,"x":462,"y":111,"wires":[["6ddb550f.ec305c","285fe9ac.c55b06"]]},{"id":"6ddb550f.ec305c","type":"debug","z":"8db2ea60.69ff98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":486.5,"y":174,"wires":[]},{"id":"285fe9ac.c55b06","type":"json","z":"8db2ea60.69ff98","name":"","property":"payload","action":"","pretty":false,"x":565.5,"y":57,"wires":[["5e9d021d.70b56c","38f67719.922578"]]},{"id":"5e9d021d.70b56c","type":"file","z":"8db2ea60.69ff98","name":"","filename":"/home/pi/.node-red/flows.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":771.5,"y":104,"wires":[[]]},{"id":"38f67719.922578","type":"exec","z":"8db2ea60.69ff98","command":"node-red-restart","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":726.5,"y":149.5,"wires":[[],[],[]]},{"id":"c82e6a90.bf28d8","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":962,"y":903,"wires":[]},{"id":"30e6edf6.e6d842","type":"function","z":"62d9d035.0edf7","name":"handle transfer speed test","func":"if (msg.payload == \"test\"){\n    var date = new Date();\n    var timestamp = date.getTime();\n    msg.payload = timestamp;\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":306,"y":220,"wires":[["9d6181da.7e144"]]},{"id":"10f33cf8.029bd3","type":"exec","z":"62d9d035.0edf7","command":"rsync -zvrW /home/pi/transfer-test pi@eveehub.local:/home/pi/Pictures/transfer-test/$(hostname)","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":868,"y":345,"wires":[["916417be.641328"],["916417be.641328"],["514f0ac1.ecff04"]]},{"id":"212309de.6dc306","type":"function","z":"62d9d035.0edf7","name":"time data transfer","func":"if(msg.payload === \"start\"){\n    context.set(\"transfer_start\", Date.now())\n}\nif(msg.payload.hasOwnProperty(\"end\")){\n    var start = context.get(\"transfer_start\")\n    var elapsed = msg.payload.end - start\n    var host = flow.get(\"hostname\")\n    var uuid = global.get(\"cur_uuid\")\n    msg.payload[\"host\"]= host\n    msg.payload.uuid = uuid\n    msg.payload.elapsed = elapsed\n    msg.payload.seconds = elapsed/1000\n    msg.payload.minutes = elapsed/(1000*60)\n    return msg\n}\nreturn null;","outputs":1,"noerr":0,"x":964.5,"y":525,"wires":[["916417be.641328","d2ff0a3d.d0cf18"]]},{"id":"514f0ac1.ecff04","type":"function","z":"62d9d035.0edf7","name":"","func":"if (msg.payload.code === 0 ){\n    msg.payload[\"end\"] = Date.now()\n}\nreturn msg;","outputs":1,"noerr":0,"x":852,"y":462,"wires":[["212309de.6dc306","916417be.641328","8bc6eef4.ecfe6"]]},{"id":"9d6181da.7e144","type":"change","z":"62d9d035.0edf7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":692,"y":236,"wires":[["212309de.6dc306","916417be.641328","e3719f3.5d4c86"]]},{"id":"d2ff0a3d.d0cf18","type":"file","z":"62d9d035.0edf7","name":"","filename":"/home/pi/transfer_test_log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":979.5,"y":602,"wires":[[]]},{"id":"916417be.641328","type":"debug","z":"62d9d035.0edf7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1088,"y":447,"wires":[]},{"id":"653bb84d.dbcc88","type":"inject","z":"62d9d035.0edf7","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":642.7856941223145,"y":178.42856407165527,"wires":[["9d6181da.7e144"]]},{"id":"9337eccf.3d3a2","type":"inject","z":"62d9d035.0edf7","name":"","topic":"","payload":"{\"code\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":583,"y":495,"wires":[["514f0ac1.ecff04"]]},{"id":"5526c747.00aaf8","type":"function","z":"62d9d035.0edf7","name":"catch error","func":"var count = context.get(\"err_count\")||0;\nif (msg.payload.code === 0 || count > 5){\n    context.set(\"err_count\", 0);\n    return null\n}\n//else retry\ncount = count + 1;\ncontext.set(\"err_count\", count)\nreturn msg;","outputs":1,"noerr":0,"x":133.5,"y":430,"wires":[["a22464c8.c83448"]]},{"id":"a22464c8.c83448","type":"trigger","z":"62d9d035.0edf7","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":223,"y":369,"wires":[["e3719f3.5d4c86"]]},{"id":"e3719f3.5d4c86","type":"change","z":"62d9d035.0edf7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"../transfer-test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":342,"y":281,"wires":[["6c506981.1a34f8"]]},{"id":"6c506981.1a34f8","type":"function","z":"62d9d035.0edf7","name":"append hub","func":"var hub_id = global.get(\"hub_id\")\nmsg.payload = msg.payload + \" \" + hub_id\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":345,"wires":[["10f33cf8.029bd3"]]},{"id":"1587fdb3.0416a2","type":"mqtt in","z":"62d9d035.0edf7","name":"","topic":"camCommand","qos":"2","broker":"107dd3a5.86a78c","x":93,"y":148,"wires":[["30e6edf6.e6d842"]]},{"id":"144d1399.024eec","type":"inject","z":"62d9d035.0edf7","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":301,"wires":[["30e6edf6.e6d842"]]},{"id":"decaa221.704e","type":"mqtt out","z":"62d9d035.0edf7","name":"","topic":"camCommand/ack","qos":"1","retain":"false","broker":"107dd3a5.86a78c","x":695.5,"y":80,"wires":[]},{"id":"5d17ef0e.919af","type":"function","z":"6ea7014a.9fc36","name":"get index number","func":"id = msg.payload\nnum = id.match(/\\d+/g)\nmsg.payload = num[0]\nreturn msg","outputs":1,"noerr":0,"x":798,"y":203,"wires":[["56499502.7f186c"]]},{"id":"217728de.a24368","type":"function","z":"62d9d035.0edf7","name":"acknowledge command","func":"index = global.get(\"id_number\") || null\nif (msg.payload == index){\n    var date = new Date();\n    var timestamp = date.getTime();\n    msg.payload = timestamp;\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":339,"y":135,"wires":[["551740ec.04ab8","9d6181da.7e144"]]},{"id":"551740ec.04ab8","type":"change","z":"62d9d035.0edf7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"id_number","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":480.5,"y":70,"wires":[["decaa221.704e","e96d1310.201b2"]]},{"id":"5fcc2d0d.f748a4","type":"mqtt in","z":"62d9d035.0edf7","name":"","topic":"camCommand/sync","qos":"2","broker":"107dd3a5.86a78c","x":128,"y":85,"wires":[["217728de.a24368","e96d1310.201b2"]]},{"id":"e96d1310.201b2","type":"debug","z":"62d9d035.0edf7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":25,"wires":[]},{"id":"8bc6eef4.ecfe6","type":"change","z":"62d9d035.0edf7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"id_number","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1242,"y":497,"wires":[["7a6e4536.31380c"]]},{"id":"7a6e4536.31380c","type":"mqtt out","z":"62d9d035.0edf7","name":"","topic":"camCommand/finish","qos":"1","retain":"false","broker":"107dd3a5.86a78c","x":1372,"y":434,"wires":[]},{"id":"2dd81c46.2b56a4","type":"inject","z":"62d9d035.0edf7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":298,"y":561,"wires":[["8558fe80.e48ab"]]},{"id":"8558fe80.e48ab","type":"change","z":"62d9d035.0edf7","name":"","rules":[{"t":"set","p":"kill","pt":"msg","to":"SIGINT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":428,"wires":[["10f33cf8.029bd3"]]},{"id":"93c22fe4.f84b9","type":"mqtt in","z":"62d9d035.0edf7","name":"","topic":"camCommand/sync","qos":"2","broker":"107dd3a5.86a78c","x":121,"y":502,"wires":[["7d0798ba.169698"]]},{"id":"7d0798ba.169698","type":"switch","z":"62d9d035.0edf7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"kill","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":286.5,"y":461,"wires":[["8558fe80.e48ab"]]},{"id":"af0edb15.4edd98","type":"function","z":"3469f5ce.3bda6a","name":"calculate elapsed time","func":"if(msg.payload === \"start\"){\n    context.set(\"transfer_start\", Date.now())\n}\nif(msg.payload.hasOwnProperty(\"end\")){\n    var start = context.get(\"transfer_start\")\n    var elapsed = msg.payload.end - start\n    var host = flow.get(\"hostname\")\n    var uuid = global.get(\"cur_uuid\")\n    msg.payload[\"host\"]= host\n    msg.payload.uuid = uuid\n    msg.payload.elapsed = elapsed\n    msg.payload.seconds = elapsed/1000\n    msg.payload.minutes = elapsed/(1000*60)\n    return msg\n}\nreturn null;","outputs":1,"noerr":0,"x":1071.357192993164,"y":600.7142581939697,"wires":[["d1311c21.7525d","c8fb157b.8583f8"]]},{"id":"137557f7.7c0998","type":"function","z":"3469f5ce.3bda6a","name":"get end time","func":"if (msg.payload.code === 0 ){\n    msg.payload[\"end\"] = Date.now()\n}\nreturn msg;","outputs":1,"noerr":0,"x":917.4286231994629,"y":536.2857055664062,"wires":[["af0edb15.4edd98","d1311c21.7525d","141dcd90.efcc52"]]},{"id":"662947b5.3f0188","type":"change","z":"3469f5ce.3bda6a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":683.1429138183594,"y":301.71429347991943,"wires":[["af0edb15.4edd98","d1311c21.7525d","80debeec.7f7a3"]]},{"id":"c8fb157b.8583f8","type":"file","z":"3469f5ce.3bda6a","name":"","filename":"/home/pi/transfer_test_log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1162.0715026855469,"y":677.714282989502,"wires":[[]]},{"id":"d1311c21.7525d","type":"debug","z":"3469f5ce.3bda6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1250.5714263916016,"y":299.8571557998657,"wires":[]},{"id":"c51d8556.4686b8","type":"inject","z":"3469f5ce.3bda6a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":726.7857456207275,"y":248.42858028411865,"wires":[["662947b5.3f0188"]]},{"id":"4e790eb5.5cc2b","type":"inject","z":"3469f5ce.3bda6a","name":"","topic":"","payload":"{\"code\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":737.0000610351562,"y":573.5713844299316,"wires":[["137557f7.7c0998"]]},{"id":"80debeec.7f7a3","type":"change","z":"3469f5ce.3bda6a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":378.8571720123291,"y":355.28571701049805,"wires":[["9da80e47.9745b"]]},{"id":"9da80e47.9745b","type":"function","z":"3469f5ce.3bda6a","name":"append hub","func":"var hub_id = global.get(\"hub_id\")\nmsg.payload = msg.payload + \" \" + hub_id\nreturn msg;","outputs":1,"noerr":0,"x":431.1428909301758,"y":422.14286708831787,"wires":[["da554501.186d18"]]},{"id":"3323169b.8ca27a","type":"mqtt out","z":"3469f5ce.3bda6a","name":"","topic":"camCommand/ack","qos":"1","retain":"false","broker":"107dd3a5.86a78c","x":855.2143402099609,"y":145.71429634094238,"wires":[]},{"id":"cdc2b79c.6dc388","type":"function","z":"3469f5ce.3bda6a","name":"acknowledge command","func":"index = global.get(\"id_number\") || null\nif (msg.payload == index){\n    var date = new Date();\n    var timestamp = date.getTime();\n    msg.payload = timestamp;\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":415.85717010498047,"y":286.42858123779297,"wires":[["f3a6381a.9c2678","662947b5.3f0188"]]},{"id":"f3a6381a.9c2678","type":"change","z":"3469f5ce.3bda6a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"id_number","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":543.0714569091797,"y":215.71429634094238,"wires":[["3323169b.8ca27a","9b8f065f.d8da68"]]},{"id":"479350f4.a7eda","type":"mqtt in","z":"3469f5ce.3bda6a","name":"","topic":"camCommand/sync","qos":"2","broker":"107dd3a5.86a78c","x":210.5714569091797,"y":232.14286994934082,"wires":[["cdc2b79c.6dc388","9b8f065f.d8da68","e44af3cc.29572"]]},{"id":"9b8f065f.d8da68","type":"debug","z":"3469f5ce.3bda6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":446.85718154907227,"y":93.57144165039062,"wires":[]},{"id":"141dcd90.efcc52","type":"change","z":"3469f5ce.3bda6a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"id_number","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1186.0000839233398,"y":534.1428480148315,"wires":[["e550f4d5.9fa0a8"]]},{"id":"e550f4d5.9fa0a8","type":"mqtt out","z":"3469f5ce.3bda6a","name":"","topic":"camCommand/finish","qos":"1","retain":"false","broker":"107dd3a5.86a78c","x":1423.142936706543,"y":479.71431255340576,"wires":[]},{"id":"fe3f641e.e60c18","type":"inject","z":"3469f5ce.3bda6a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":394.85718154907227,"y":629.5714416503906,"wires":[["163bbc1b.9206f4"]]},{"id":"163bbc1b.9206f4","type":"change","z":"3469f5ce.3bda6a","name":"","rules":[{"t":"set","p":"kill","pt":"msg","to":"SIGINT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":518.2857437133789,"y":535.1428737640381,"wires":[["da554501.186d18"]]},{"id":"e44af3cc.29572","type":"switch","z":"3469f5ce.3bda6a","name":"kill signal","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"kill","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":379.07144927978516,"y":475.2857189178467,"wires":[["163bbc1b.9206f4"]]},{"id":"da554501.186d18","type":"exec","z":"3469f5ce.3bda6a","command":"/home/pi/scripts/send-z-stack.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":701.4285430908203,"y":428.57144355773926,"wires":[[],[],["137557f7.7c0998"]]}]