Linux-layer/CameraEnd-Node-Red/gfp-flows.json
[{"id":"6ea7014a.9fc36","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9ba5d7ae.ee55b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a9bb8256.88dc2","type":"ui_group","z":"","name":"Default","tab":"b8e6c56e.53b4b8","disp":false,"width":"12","collapse":false},{"id":"b8e6c56e.53b4b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"107dd3a5.86a78c","type":"mqtt-broker","z":"","name":"","broker":"GFPhub.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7642363e.06e4f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"70e1910e.ab59a","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"bfb44075.6ece3","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6"},{"id":"c438778e.a28198","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"fcb713a6.99bf8","type":"ui_group","z":"","name":"Performance","tab":"","disp":true,"width":"6"},{"id":"f2a13443.6baa18","type":"serial-port","z":0,"serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"923bf6ab.17bb68","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5fab0252.ba892c","type":"mqtt-broker","z":"","name":"Mosca","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"44b7505.d4876b","type":"exec","z":"6ea7014a.9fc36","command":"hostname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":598,"y":202,"wires":[["2af80a91.f52ae6","fd80f6fe.089ac8"],[],[]]},{"id":"2a06b30d.42aa3c","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":446,"y":249,"wires":[["44b7505.d4876b","24818357.4cafcc"]]},{"id":"2af80a91.f52ae6","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"hostname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":788,"y":162,"wires":[[]]},{"id":"24818357.4cafcc","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":678,"y":262,"wires":[[]]},{"id":"429bc9f8.12b178","type":"mqtt in","z":"6ea7014a.9fc36","name":"","topic":"camCommand","qos":"2","broker":"107dd3a5.86a78c","x":95,"y":354,"wires":[["fd655753.733e38","f62e7cd8.ddc0e","c77882fd.a9c09","40ca57fc.43d5e8","338004e2.abefec","1cb7ecb3.01c503"]]},{"id":"56499502.7f186c","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"id_number","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1008,"y":202,"wires":[[]]},{"id":"fd80f6fe.089ac8","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"camera","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":798,"y":202,"wires":[["56499502.7f186c"]]},{"id":"fd655753.733e38","type":"function","z":"6ea7014a.9fc36","name":"handle standard picture","func":"var id = flow.get(\"id_number\")||\"0\";\nvar count = flow.get(\"count\") || 0;\n\nif (msg.payload == id || msg.payload == \"100\"){\n    msg.payload = count\n    count++\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":350,"y":487,"wires":[["b7143395.dcf56","987b6593.23b4f8"]]},{"id":"b7143395.dcf56","type":"exec","z":"6ea7014a.9fc36","command":"echo 'im' >/var/www/html/FIFO","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":847.5,"y":492.5,"wires":[[],[],[]]},{"id":"987b6593.23b4f8","type":"trigger","z":"6ea7014a.9fc36","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":602.5,"y":517,"wires":[["57c29886.e873e8"]]},{"id":"57c29886.e873e8","type":"exec","z":"6ea7014a.9fc36","command":"~/scripts/sendNewest.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":869.5,"y":542.5,"wires":[[],[],[]]},{"id":"40ca57fc.43d5e8","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":246,"y":289,"wires":[]},{"id":"8530c731.02d708","type":"function","z":"6ea7014a.9fc36","name":"handle z-stack start","func":"if (msg.payload == \"101\"){\n    var date = new Date();\n    var timestamp = date.getTime();\n    msg.payload = timestamp;\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":330,"y":447,"wires":[[]]},{"id":"7278487d.53a3d8","type":"exec","z":"6ea7014a.9fc36","command":"echo 'im' >/var/www/html/FIFO","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":640,"y":726,"wires":[[],[],["2a0e1fbf.8992"]]},{"id":"c0771cea.624e8","type":"exec","z":"6ea7014a.9fc36","command":"/home/pi/scripts/copyNewest.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1475,"y":706,"wires":[[],[],[]]},{"id":"9ab08081.bd78f","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"101","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109.5,"y":417,"wires":[["8530c731.02d708"]]},{"id":"9880eaba.8a27c8","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1027,"y":653,"wires":[["8756e014.d6012"]]},{"id":"f62e7cd8.ddc0e","type":"function","z":"6ea7014a.9fc36","name":"handle z-stack middle","func":"if (msg.payload == \"102\"){\n    msg.payload = true;\n    var num = flow.get(\"stack_layer\") || 0;\n    num += 1;\n    flow.set(\"stack_layer\", num);\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":341,"y":568,"wires":[["9a5feea.9f50d1"]]},{"id":"c77882fd.a9c09","type":"function","z":"6ea7014a.9fc36","name":"handle z-stack end","func":"if (msg.payload == \"103\"){\n    msg.payload = true;\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":357,"y":858,"wires":[["8c7049d.f5950b8"]]},{"id":"9e139f9a.2fdae","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"102","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":107,"y":462,"wires":[["f62e7cd8.ddc0e"]]},{"id":"8582b85d.562a98","type":"exec","z":"6ea7014a.9fc36","command":"/home/pi/scripts/send-z-stack.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":924,"y":905,"wires":[[],[],["8646c48e.dd718","d1adbb4d.ef62d8"]]},{"id":"d5ddc848.cc6388","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"103","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":103,"y":561,"wires":[["c77882fd.a9c09"]]},{"id":"8646c48e.dd718","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1313.5,"y":936,"wires":[]},{"id":"2a0e1fbf.8992","type":"trigger","z":"6ea7014a.9fc36","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":862,"y":671,"wires":[["9880eaba.8a27c8"]]},{"id":"6a0b6157.6de99","type":"catch","z":"6ea7014a.9fc36","name":"","scope":["8582b85d.562a98"],"x":235.5,"y":985,"wires":[["f49741f3.0fb74","51dadea2.a9f3e"]]},{"id":"f49741f3.0fb74","type":"trigger","z":"6ea7014a.9fc36","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":547,"y":940,"wires":[["8c7049d.f5950b8"]]},{"id":"338004e2.abefec","type":"json","z":"6ea7014a.9fc36","name":"","property":"payload","action":"","pretty":false,"x":287.5,"y":366,"wires":[["1ce8bd6b.f72e83","653f2ac3.a02e14"]]},{"id":"1ce8bd6b.f72e83","type":"debug","z":"6ea7014a.9fc36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":489,"y":329,"wires":[]},{"id":"653f2ac3.a02e14","type":"function","z":"6ea7014a.9fc36","name":"handle experiment start","func":"if (msg.payload.hasOwnProperty(\"uuid\") && msg.payload.hasOwnProperty(\"timestamp\"))\n{\n    msg.path = msg.payload.uuid + \"/\" + msg.payload.timestamp\n    return msg\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":496,"y":384,"wires":[["1ce8bd6b.f72e83","b33733bc.d5b19","ff3c83a6.ed2ad","fc3e77b9.c50a88","613b3684.59a3e8"]]},{"id":"b33733bc.d5b19","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"cur-uuid","pt":"global","to":"payload.uuid","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"cur-uuid","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":743,"y":357,"wires":[[]]},{"id":"5715679e.4a81b8","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1013,"y":324,"wires":[]},{"id":"ff3c83a6.ed2ad","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"path","pt":"flow","to":"path","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":714,"y":411,"wires":[[]]},{"id":"fc3e77b9.c50a88","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"^","fromt":"re","to":"/home/pi/Pictures/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":907,"y":389,"wires":[["5715679e.4a81b8","46078f73.007f2"]]},{"id":"8c7049d.f5950b8","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":581,"y":886,"wires":[["8582b85d.562a98"]]},{"id":"46078f73.007f2","type":"exec","z":"6ea7014a.9fc36","command":"mkdir -p","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1214,"y":427,"wires":[[],[],[]]},{"id":"51dadea2.a9f3e","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":336,"y":914,"wires":[]},{"id":"d1adbb4d.ef62d8","type":"function","z":"6ea7014a.9fc36","name":"catch error","func":"var count = context.get(\"err_count\")||0;\nif (msg.payload.code === 0 || count > 5){\n    context.set(\"err_count\", 0);\n    return null\n}\n//else retry\ncount = count + 1;\ncontext.set(\"err_count\", count)\nreturn msg;","outputs":1,"noerr":0,"x":696.5,"y":1009,"wires":[["f49741f3.0fb74","d0b9c9b4.f4f588"]]},{"id":"d0b9c9b4.f4f588","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1135,"y":1001,"wires":[]},{"id":"613b3684.59a3e8","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"stack_layer","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":735,"y":448,"wires":[[]]},{"id":"8756e014.d6012","type":"function","z":"6ea7014a.9fc36","name":"append file name","func":"var num = flow.get(\"stack_layer\")\nmsg.payload = msg.payload + \"/\"+num+\".jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":1209.5,"y":682,"wires":[["c0771cea.624e8"]]},{"id":"f641b74d.ef4218","type":"mqtt in","z":"9ba5d7ae.ee55b8","name":"","topic":"camCommand","qos":"2","broker":"107dd3a5.86a78c","x":141,"y":133,"wires":[["9c6f982d.ff5b18","b530e16c.74d94"]]},{"id":"9c6f982d.ff5b18","type":"function","z":"9ba5d7ae.ee55b8","name":"turn off debug mode","func":"if (msg.payload == \"db_stop\"){\n    msg.payload = true;\n    global.set(\"debug\",\"disabled\");\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":376.5,"y":100,"wires":[["f8eb8dd5.cc278"]]},{"id":"b530e16c.74d94","type":"function","z":"9ba5d7ae.ee55b8","name":"turn on debug mode","func":"if (msg.payload == \"db_start\"){\n    msg.payload = true;\n    global.set(\"debug\",\"enabled\");\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":377,"y":164,"wires":[["3bbfbcdc.6f2454"]]},{"id":"dc7e32dc.32343","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"current-directory","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":708,"y":1090,"wires":[[]]},{"id":"9a5feea.9f50d1","type":"switch","z":"6ea7014a.9fc36","name":"check debug mode","property":"debug","propertyType":"global","rules":[{"t":"eq","v":"enabled","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":382.5,"y":729,"wires":[["7278487d.53a3d8"],["89e6c075.fd326"]]},{"id":"89e6c075.fd326","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":775,"wires":[["58130d1b.0f0724"]]},{"id":"58130d1b.0f0724","type":"function","z":"6ea7014a.9fc36","name":"append file name","func":"var num = flow.get(\"stack_layer\")\nmsg.payload = \"/home/pi/Pictures/\"+msg.payload + \"/\"+num+\".jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":827,"y":772,"wires":[["deae6993.219c18"]]},{"id":"f8eb8dd5.cc278","type":"exec","z":"9ba5d7ae.ee55b8","command":"/home/pi/RPi_Cam_Web_Interface/stop.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":699,"y":95,"wires":[["5a810784.aadc08"],[],["5a810784.aadc08"]]},{"id":"3bbfbcdc.6f2454","type":"exec","z":"9ba5d7ae.ee55b8","command":"/home/pi/RPi_Cam_Web_Interface/start.sh","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":698,"y":165,"wires":[["5a810784.aadc08"],[],["5a810784.aadc08"]]},{"id":"523e413b.27cd1","type":"inject","z":"9ba5d7ae.ee55b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":409.5,"y":49,"wires":[["f8eb8dd5.cc278"]]},{"id":"ab911b33.2aec68","type":"inject","z":"9ba5d7ae.ee55b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":412,"y":221,"wires":[["3bbfbcdc.6f2454"]]},{"id":"5a810784.aadc08","type":"debug","z":"9ba5d7ae.ee55b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":984.5,"y":123,"wires":[]},{"id":"ceceebbe.b71a38","type":"inject","z":"9ba5d7ae.ee55b8","name":"","topic":"","payload":"db_stop","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":164,"y":62,"wires":[["9c6f982d.ff5b18"]]},{"id":"cb03222b.ea32b","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"{\"uuid\":\"internal-test\", \"timestamp\":\"glarfbloo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":299,"y":327,"wires":[["653f2ac3.a02e14"]]},{"id":"4a80ec3e.3ac8c4","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1224,"y":790,"wires":[]},{"id":"1cb7ecb3.01c503","type":"function","z":"6ea7014a.9fc36","name":"handle z-stack gfp middle","func":"if (msg.payload == \"gfp\"){\n    msg.payload = true;\n    var num = flow.get(\"stack_layer\") || 0;\n    num += 1;\n    flow.set(\"stack_layer\", num);\n    var debug = global.get(\"debug\") || \"disabled\";\n    if(debug != \"disabled\"){\n        return [msg, \"db_stop\"]\n    }\n    return [msg, null];\n}\nelse\n    return [null, null];","outputs":2,"noerr":0,"x":348,"y":529,"wires":[["ecea33f.9bcb1d","ac97e9.1373f818"],["55d7fd0d.9eb514","ac97e9.1373f818"]]},{"id":"cf1a3ed3.6b22","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"gfp","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":510,"wires":[["1cb7ecb3.01c503"]]},{"id":"55d7fd0d.9eb514","type":"link out","z":"6ea7014a.9fc36","name":"turn off debug for gfp","links":["c879a77e.50c618"],"x":550.5,"y":614,"wires":[]},{"id":"c879a77e.50c618","type":"link in","z":"9ba5d7ae.ee55b8","name":"","links":["55d7fd0d.9eb514"],"x":192.5,"y":97,"wires":[["9c6f982d.ff5b18"]]},{"id":"ecea33f.9bcb1d","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":622,"y":571,"wires":[["eb8f429.4df83c"]]},{"id":"eb8f429.4df83c","type":"function","z":"6ea7014a.9fc36","name":"append file name","func":"var num = flow.get(\"stack_layer\")\nmsg.payload = \"/home/pi/Pictures/\"+msg.payload + \"/\"+num+\".jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":593,"wires":[["2eca220d.a76b1e"]]},{"id":"2eca220d.a76b1e","type":"exec","z":"6ea7014a.9fc36","command":"raspistill -t 4000 -ss 2500000 -ISO 300 -awb off -awbg 1,1 -co 0 -o","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"gfp take picture","x":1063,"y":595,"wires":[["5db70134.0923e"],[],["5db70134.0923e","c519c26a.2bdbf"]]},{"id":"deae6993.219c18","type":"exec","z":"6ea7014a.9fc36","command":"raspistill -o","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1018,"y":763,"wires":[["4a80ec3e.3ac8c4"],["4a80ec3e.3ac8c4"],["4a80ec3e.3ac8c4"]]},{"id":"5db70134.0923e","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1290,"y":583,"wires":[]},{"id":"ac97e9.1373f818","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":666,"wires":[]},{"id":"92a7d7f8.71ed18","type":"mqtt out","z":"6ea7014a.9fc36","name":"","topic":"pic-taken","qos":"1","retain":"","broker":"107dd3a5.86a78c","x":1377.5,"y":497,"wires":[]},{"id":"c519c26a.2bdbf","type":"function","z":"6ea7014a.9fc36","name":"check success","func":"if (msg.payload.code === 0){\n    msg.payload = \"1\"\n    return msg\n}","outputs":1,"noerr":0,"x":1237,"y":544,"wires":[["92a7d7f8.71ed18"]]},{"id":"1fb6c6cc.e840e9","type":"inject","z":"9ba5d7ae.ee55b8","name":"","topic":"","payload":"db_start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":177,"y":214,"wires":[["b530e16c.74d94"]]}]