Linux-layer/MicroHub-Node-Red/flows.json
[{"id":"fc06c4a.4b34f38","type":"tab","label":"Main-Imaging","disabled":false,"info":""},{"id":"4e55d630.ae2828","type":"tab","label":"Z-Stack-Imaging","disabled":false,"info":""},{"id":"4f262a61.07b8b4","type":"tab","label":"AWS stuff","disabled":false,"info":""},{"id":"a9bb8256.88dc2","type":"ui_group","z":"","name":"Default","tab":"b8e6c56e.53b4b8","disp":false,"width":"12","collapse":false},{"id":"b8e6c56e.53b4b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"107dd3a5.86a78c","type":"mqtt-broker","z":"","name":"","broker":"microscopehub.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7642363e.06e4f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"70e1910e.ab59a","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"bfb44075.6ece3","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6"},{"id":"c438778e.a28198","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"fcb713a6.99bf8","type":"ui_group","z":"","name":"Performance","tab":"","disp":true,"width":"6"},{"id":"f2a13443.6baa18","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"2cab7ad.282d386","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"135fd196.02214e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"2f3e927e.28ba7e","type":"ui_group","z":"","name":"Dashboard","tab":"135fd196.02214e","disp":true,"width":"6","collapse":false},{"id":"505901ca.93c41","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"ee54ca4b.427da8","type":"ui_tab","z":"","name":"Disabled","icon":"dashboard","order":2},{"id":"6fae05a3.d7742c","type":"ui_group","z":"","name":"temporary","tab":"ee54ca4b.427da8","disp":true,"width":"6","collapse":false},{"id":"9606b430.626f88","type":"ui_group","z":"","name":"Camera","tab":"135fd196.02214e","order":2,"disp":true,"width":"7","collapse":false},{"id":"7c9af3d7.1e97bc","type":"mqtt-broker","z":"","name":"Braingeneers","broker":"ahp00abmtph4i-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"43906f87.b8743","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"376dbcff.a3dff4","type":"tls-config","z":"","name":"aws-iot-certs","cert":"","key":"","ca":"","certname":"dev-1.cert.pem","keyname":"dev-1.private.key","caname":"root-CA.crt","servername":"","verifyservercert":false},{"id":"43906f87.b8743","type":"tls-config","z":"","name":"Andy","cert":"/home/pi/.agent/certs/9c0b11f5d8-certificate.pem.crt","key":"/home/pi/.agent/certs/9c0b11f5d8-private.pem.key","ca":"/home/pi/.agent/certs/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"15d42c8d.d70de3","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":995.6666870117188,"y":233.66665649414062,"wires":[]},{"id":"eb82db9c.704468","type":"mqtt in","z":"fc06c4a.4b34f38","name":"camCommand","topic":"camCommand","qos":"2","broker":"2cab7ad.282d386","x":120.66669464111328,"y":86.66667079925537,"wires":[["1976c586.c0edba"]]},{"id":"3019419d.6f79ee","type":"mqtt out","z":"fc06c4a.4b34f38","name":"camCommand","topic":"camCommand","qos":"","retain":"","broker":"2cab7ad.282d386","x":712.6666946411133,"y":419.6666650772095,"wires":[]},{"id":"1976c586.c0edba","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":312.6666946411133,"y":94.66666412353516,"wires":[]},{"id":"ea9c2ae7.d37d18","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":18,"width":0,"height":0,"passthru":false,"label":"Take Picture","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":122.66669464111328,"y":398.6666650772095,"wires":[["39d3f6b9.7b4dba","fe8afee.77fe7"]]},{"id":"1e817b7e.4563f5","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"up 100","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":155.66669464111328,"y":764.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"11fba1ea.17f05e","type":"serial out","z":"fc06c4a.4b34f38","name":"Focus","serial":"505901ca.93c41","x":411.6666946411133,"y":467.6666650772095,"wires":[]},{"id":"41560357.45bd4c","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"light","group":"6fae05a3.d7742c","order":10,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"6","step":1,"x":140.66669464111328,"y":471.6666650772095,"wires":[["11fba1ea.17f05e"]]},{"id":"3c1a0489.4bc89c","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"position","group":"2f3e927e.28ba7e","order":13,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"5000","step":1,"x":168.66669464111328,"y":634.6666650772095,"wires":[["25f17217.8e2f1e"]]},{"id":"15168339.fcc5ed","type":"function","z":"fc06c4a.4b34f38","name":"motor flag","func":"msg.payload = \"m:\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":386.6666946411133,"y":629.6666650772095,"wires":[["11fba1ea.17f05e","d6058796.5753a8"]]},{"id":"65741099.8b934","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":591.6666946411133,"y":1118.6666650772095,"wires":[]},{"id":"4883e672.7a1808","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"position","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":737.6666946411133,"y":641.6666650772095,"wires":[[]]},{"id":"7fd612a4.c40f2c","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":5,"width":0,"height":0,"passthru":false,"label":"White On","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":115.66669464111328,"y":997.6666650772095,"wires":[["ebf5570e.d2fe08"]]},{"id":"137c0a49.404e46","type":"http request","z":"fc06c4a.4b34f38","name":"","method":"POST","ret":"txt","url":"http://LEDcontroller.local","tls":"","x":575.6666946411133,"y":1053.6666650772095,"wires":[[]]},{"id":"ebf5570e.d2fe08","type":"function","z":"fc06c4a.4b34f38","name":"","func":"var id = flow.get(\"LED_id\");\nvar com = id+\",1\";\nmsg.payload = { led: com };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":365.6666946411133,"y":973.6666650772095,"wires":[["137c0a49.404e46"]]},{"id":"49e79963.938918","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":6,"width":0,"height":0,"passthru":false,"label":"White Off","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":115.66669464111328,"y":1037.6666650772095,"wires":[["91b3f067.b12a3"]]},{"id":"91b3f067.b12a3","type":"function","z":"fc06c4a.4b34f38","name":"","func":"var id = flow.get(\"LED_id\");\nvar com = id+\",0\";\nmsg.payload = { led: com };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":362.6666946411133,"y":1011.6666650772095,"wires":[["137c0a49.404e46"]]},{"id":"80c76eb1.a61","type":"ui_numeric","z":"fc06c4a.4b34f38","name":"","label":"","group":"2f3e927e.28ba7e","order":14,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"24","step":1,"x":370.6666946411133,"y":1363.6666650772095,"wires":[["ad72c38.3c9dc4","f53d10fe.64f1d"]]},{"id":"ad72c38.3c9dc4","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"LED id","group":"2f3e927e.28ba7e","order":15,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"24","step":1,"x":364.6666946411133,"y":1451.6666650772095,"wires":[["80c76eb1.a61","f53d10fe.64f1d"]]},{"id":"f53d10fe.64f1d","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":569.6666946411133,"y":1394.6666650772095,"wires":[["da2fcc4b.b0eec"]]},{"id":"da2fcc4b.b0eec","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"LED_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":757.6666946411133,"y":1418.6666650772095,"wires":[[]]},{"id":"3567a835.b55ec8","type":"inject","z":"fc06c4a.4b34f38","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":187.66669464111328,"y":1428.6666650772095,"wires":[["80c76eb1.a61","ad72c38.3c9dc4"]]},{"id":"7b33ff29.7ca5f","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":10,"width":0,"height":0,"passthru":false,"label":"All Off","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":105.66669464111328,"y":1077.6666650772095,"wires":[["55988a38.445ba4"]]},{"id":"55988a38.445ba4","type":"function","z":"fc06c4a.4b34f38","name":"turn off lights","func":"msg.payload = { led: \"100,0\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":380.6666946411133,"y":1048.6666650772095,"wires":[["137c0a49.404e46"]]},{"id":"25f17217.8e2f1e","type":"ui_numeric","z":"fc06c4a.4b34f38","name":"","label":"Position","group":"2f3e927e.28ba7e","order":12,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"5000","step":1,"x":163.66669464111328,"y":708.6666650772095,"wires":[["3c1a0489.4bc89c","30237f9c.98e74"]]},{"id":"e2540324.99327","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"Brightness","group":"2f3e927e.28ba7e","order":17,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":126.66669464111328,"y":1310.6666650772095,"wires":[["ae7d87a3.3aa418","171501ff.e34b1e"]]},{"id":"3b11b7fa.2e3888","type":"function","z":"fc06c4a.4b34f38","name":"","func":"var msg1 = msg\nvalue = msg.payload;\nmsg1.payload = { brightness: value };\nmsg1.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg1;","outputs":1,"noerr":0,"x":510.6666946411133,"y":1278.6666650772095,"wires":[["137c0a49.404e46"]]},{"id":"30237f9c.98e74","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":446.6666946411133,"y":705.6666650772095,"wires":[["4883e672.7a1808","15168339.fcc5ed","25b1421a.8ad01e"]]},{"id":"fd6dcf50.fa624","type":"mosca in","z":"fc06c4a.4b34f38","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":100.16669464111328,"y":42.666664123535156,"wires":[[]]},{"id":"6b42149.7d9c5ec","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":11,"width":0,"height":0,"passthru":false,"label":"All On","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":109.66669464111328,"y":1117.6666650772095,"wires":[["b2985dc0.818b"]]},{"id":"b2985dc0.818b","type":"function","z":"fc06c4a.4b34f38","name":"turn on lights","func":"msg.payload = { led: \"100,1\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":381.6666946411133,"y":1085.6666650772095,"wires":[["137c0a49.404e46"]]},{"id":"ddc5b270.9141d","type":"function","z":"fc06c4a.4b34f38","name":"","func":"pos = global.get(\"position\") || 0;\nmsg.payload += pos;\nreturn msg;","outputs":1,"noerr":0,"x":330.1666946411133,"y":782.6666650772095,"wires":[["3c1a0489.4bc89c"]]},{"id":"d73f5d61.e97ee","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":2,"width":0,"height":0,"passthru":false,"label":"down 100","color":"","bgcolor":"","icon":"","payload":"-100","payloadType":"num","topic":"","x":163.66669464111328,"y":802.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"49563f5d.a217f","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":3,"width":0,"height":0,"passthru":false,"label":"up 10","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":153.66669464111328,"y":841.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"89db2c3f.67215","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":4,"width":0,"height":0,"passthru":false,"label":"down 10","color":"","bgcolor":"","icon":"","payload":"-10","payloadType":"num","topic":"","x":162.66669464111328,"y":878.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"f7925e6e.46c87","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":7,"width":0,"height":0,"passthru":false,"label":"up 1","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":153.66669464111328,"y":916.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"996447ce.c0b0b8","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":8,"width":0,"height":0,"passthru":false,"label":"down 1","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"num","topic":"","x":161.66669464111328,"y":956.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"d6058796.5753a8","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":536.1666946411133,"y":558.6666650772095,"wires":[]},{"id":"24b78cba.012e04","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":9,"width":0,"height":0,"passthru":false,"label":"set 0","color":"","bgcolor":"","icon":"","payload":"c:0","payloadType":"str","topic":"","x":124.66669464111328,"y":534.6666650772095,"wires":[["11fba1ea.17f05e","bba2e5f6.df2c08","d6058796.5753a8"]]},{"id":"bba2e5f6.df2c08","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":266.1666946411133,"y":567.6666650772095,"wires":[["3c1a0489.4bc89c"]]},{"id":"7ec64965.2f3898","type":"inject","z":"fc06c4a.4b34f38","name":"take picture every so often","topic":"","payload":"true","payloadType":"bool","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":173.16669464111328,"y":331.6666650772095,"wires":[[]]},{"id":"39d3f6b9.7b4dba","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"100","op1type":"nul","op2type":"num","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":420.1666946411133,"y":393.6666650772095,"wires":[["3019419d.6f79ee"]]},{"id":"fe8afee.77fe7","type":"link out","z":"fc06c4a.4b34f38","name":"","links":["3295d941.316736","53b80033.4435"],"x":559.1666946411133,"y":342.6666650772095,"wires":[]},{"id":"3295d941.316736","type":"link in","z":"fc06c4a.4b34f38","name":"","links":["fe8afee.77fe7"],"x":55.16669464111328,"y":1164.6666650772095,"wires":[["b2985dc0.818b","cbab32ee.a5e46"]]},{"id":"2bb717f9.7d0b78","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"light-timer","x":286.1666946411133,"y":1131.6666650772095,"wires":[["55988a38.445ba4"]]},{"id":"ae7d87a3.3aa418","type":"ui_numeric","z":"fc06c4a.4b34f38","name":"","label":"brightness","group":"2f3e927e.28ba7e","order":16,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":132.16669464111328,"y":1254.6666650772095,"wires":[["e2540324.99327"]]},{"id":"171501ff.e34b1e","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":337.6666946411133,"y":1281.6666650772095,"wires":[["3b11b7fa.2e3888"]]},{"id":"d61f8fe8.a62b3","type":"inject","z":"4e55d630.ae2828","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":163.5,"y":202,"wires":[["696cfa56.56eb84"]]},{"id":"5540d83a.eb8328","type":"function","z":"4e55d630.ae2828","name":"Move camera step size 50","func":"var pos = global.get(\"position\") || 0;\nvar myCount = flow.get(\"stack-count\") || 1;\nvar endStack = { payload: null };\nif (myCount > 2){\n    msg.payload = global.get(\"start-position\") || 0;\n    flow.set(\"stack-count\", 1);\n    global.set(\"z-stack-flag\", false);\n    endStack.payload = true\n    return [msg,endStack]\n}\nelse{\n    //this is to compensate for making the z-stack start not take a picture\n    if(myCount > 1){\n        msg.payload = pos + 50;\n    }\n    else{\n        msg.payload = pos\n    }\n    myCount += 1;    \n    flow.set(\"stack-count\", myCount);\n}\nreturn [msg, null];","outputs":2,"noerr":0,"x":401,"y":430,"wires":[["70f81f8.ea12be","e6f4d58.b928128","77bf75c9.f41b7c"],["4c07ad85.b82fb4"]]},{"id":"25b1421a.8ad01e","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"start-position","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":755.6666946411133,"y":686.6666650772095,"wires":[[]]},{"id":"70f81f8.ea12be","type":"link out","z":"4e55d630.ae2828","name":"move camera","links":["99165736.5f16c8"],"x":634.5,"y":422,"wires":[]},{"id":"99165736.5f16c8","type":"link in","z":"fc06c4a.4b34f38","name":"move camera","links":["70f81f8.ea12be"],"x":567.1666946411133,"y":798.6666650772095,"wires":[["15168339.fcc5ed","4883e672.7a1808"]]},{"id":"696cfa56.56eb84","type":"change","z":"4e55d630.ae2828","name":"","rules":[{"t":"set","p":"z-stack-flag","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":376,"y":201,"wires":[["5f00eeea.760c"]]},{"id":"cbab32ee.a5e46","type":"function","z":"fc06c4a.4b34f38","name":"z-stack-check","func":"if (global.get(\"z-stack-flag\") === true ){\n    return [null,msg];\n}\nelse\n    return [msg,null];","outputs":2,"noerr":0,"x":191.16669464111328,"y":1182.6666650772095,"wires":[["2bb717f9.7d0b78","65741099.8b934"],["3045467f.80548a"]]},{"id":"fce72e28.d0edc","type":"link out","z":"fc06c4a.4b34f38","name":"trigger-next-stack","links":["13ac7eea.044fe1"],"x":501.1666946411133,"y":1193.6666650772095,"wires":[]},{"id":"13ac7eea.044fe1","type":"link in","z":"4e55d630.ae2828","name":"","links":["fce72e28.d0edc"],"x":224.5,"y":391,"wires":[["5540d83a.eb8328"]]},{"id":"39829108.2035be","type":"link out","z":"4e55d630.ae2828","name":"trigger-z-start","links":["f13c4113.574e3"],"x":705.5,"y":199,"wires":[]},{"id":"f13c4113.574e3","type":"link in","z":"fc06c4a.4b34f38","name":"trigger z-stack start","links":["39829108.2035be"],"x":305.16668701171875,"y":162.6666717529297,"wires":[["fe8afee.77fe7","5a304204.0369bc"]]},{"id":"e6f4d58.b928128","type":"trigger","z":"4e55d630.ae2828","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"delay to allow motors to finish","x":752.5,"y":458,"wires":[["7ac9e93b.8c2e78"]]},{"id":"77bf75c9.f41b7c","type":"debug","z":"4e55d630.ae2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":816.5,"y":325,"wires":[]},{"id":"5f00eeea.760c","type":"trigger","z":"4e55d630.ae2828","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":579,"y":193,"wires":[["39829108.2035be"]]},{"id":"efdded6d.06168","type":"inject","z":"4e55d630.ae2828","name":"stop","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":126.5,"y":305,"wires":[["cebb101d.6f477"]]},{"id":"cebb101d.6f477","type":"change","z":"4e55d630.ae2828","name":"","rules":[{"t":"set","p":"z-stack-flag","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"stack-count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":313,"y":315,"wires":[[]]},{"id":"7ac9e93b.8c2e78","type":"link out","z":"4e55d630.ae2828","name":"trigger z-stack next","links":["fbac947b.1b40a8"],"x":944.5,"y":463,"wires":[]},{"id":"fbac947b.1b40a8","type":"link in","z":"fc06c4a.4b34f38","name":"trigger-z-stack-next","links":["7ac9e93b.8c2e78"],"x":332.1666946411133,"y":248.66666507720947,"wires":[["fe8afee.77fe7","53b5f94a.e79ac8"]]},{"id":"97cd527f.2deef","type":"link out","z":"4e55d630.ae2828","name":"trigger z-stack end","links":["aef9ebcf.fcadf8","53b80033.4435"],"x":912.5,"y":547,"wires":[]},{"id":"8ade422c.c81ca","type":"change","z":"fc06c4a.4b34f38","name":"trigger z-stack end","rules":[{"t":"set","p":"payload","pt":"msg","to":"103","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":584.1666946411133,"y":288.6666650772095,"wires":[["3019419d.6f79ee","6bcc9655.740588"]]},{"id":"3045467f.80548a","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"wait-for-picture","x":389.6666946411133,"y":1193.6666650772095,"wires":[["fce72e28.d0edc"]]},{"id":"aef9ebcf.fcadf8","type":"link in","z":"fc06c4a.4b34f38","name":"trigger z-stack-end","links":["97cd527f.2deef"],"x":334.1666946411133,"y":291.6666650772095,"wires":[["8ade422c.c81ca"]]},{"id":"53b80033.4435","type":"link in","z":"fc06c4a.4b34f38","name":"","links":["97cd527f.2deef","fe8afee.77fe7"],"x":81.66669464111328,"y":1215.6666650772095,"wires":[[]]},{"id":"53b5f94a.e79ac8","type":"change","z":"fc06c4a.4b34f38","name":"trigger z-stack picture","rules":[{"t":"set","p":"payload","pt":"msg","to":"102","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":594.6666946411133,"y":243.66666507720947,"wires":[["3019419d.6f79ee"]]},{"id":"4c07ad85.b82fb4","type":"trigger","z":"4e55d630.ae2828","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"delay to allow pictures to finish","x":686,"y":509,"wires":[["97cd527f.2deef"]]},{"id":"664c33b2.e1402c","type":"change","z":"fc06c4a.4b34f38","name":"trigger z-stack start","rules":[{"t":"set","p":"payload","pt":"msg","to":"101","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":585.6666870117188,"y":157.6666717529297,"wires":[[]]},{"id":"b1255d31.3febe","type":"inject","z":"fc06c4a.4b34f38","name":"test mid","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":184.66669464111328,"y":253.66666507720947,"wires":[["53b5f94a.e79ac8"]]},{"id":"e6ca4e85.d7b6","type":"inject","z":"fc06c4a.4b34f38","name":"test end","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":183.66669464111328,"y":291.6666650772095,"wires":[["8ade422c.c81ca"]]},{"id":"9b4e6e8.81e279","type":"mqtt out","z":"fc06c4a.4b34f38","name":"","topic":"wifi","qos":"1","retain":"","broker":"2cab7ad.282d386","x":713.1666870117188,"y":39.666664123535156,"wires":[]},{"id":"7a3b8d18.18d954","type":"mqtt out","z":"4f262a61.07b8b4","name":"","topic":"demo","qos":"","retain":"","broker":"7c9af3d7.1e97bc","x":322.5,"y":138,"wires":[]},{"id":"c3c6f58f.5cbec8","type":"mqtt in","z":"4f262a61.07b8b4","name":"","topic":"#","qos":"1","broker":"7c9af3d7.1e97bc","x":68.5,"y":293,"wires":[["fe1b4f30.44fbf","acf27736.54a5c8"]]},{"id":"fe1b4f30.44fbf","type":"debug","z":"4f262a61.07b8b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":184.5,"y":339,"wires":[]},{"id":"6cf02691.4c3a88","type":"function","z":"4f262a61.07b8b4","name":"get uuid","func":"if (msg.payload.hasOwnProperty(\"uuid\"))\n{\n    global.set(\"uuid\", msg.payload.uuid);\n    global.set(\"state\", \"engaged\");\n    msg.payload = msg.payload.uuid;\n    return msg\n}\nelse if (msg.topic.includes(\"stop\"))\n    global.set(\"state\", \"stopped\");\n    return null\n\n","outputs":1,"noerr":0,"x":467.5,"y":240,"wires":[["df243b51.d6c6e8","fb418e5c.52caa","d587eb8d.913578"]]},{"id":"df243b51.d6c6e8","type":"debug","z":"4f262a61.07b8b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":676.5,"y":239,"wires":[]},{"id":"9e659ccc.9fb27","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":328.5,"y":239,"wires":[["6cf02691.4c3a88"]]},{"id":"d7acecea.1ab2f","type":"exec","z":"4f262a61.07b8b4","command":"mkdir","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":855.5,"y":298.5,"wires":[["56f44bfc.c2d914"],["56f44bfc.c2d914"],["56f44bfc.c2d914"]]},{"id":"56f44bfc.c2d914","type":"debug","z":"4f262a61.07b8b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1045,"y":269,"wires":[]},{"id":"fb418e5c.52caa","type":"change","z":"4f262a61.07b8b4","name":"prepend path","rules":[{"t":"change","p":"payload","pt":"msg","from":"^","fromt":"re","to":"/home/pi/Pictures/experiments/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":683.5,"y":301,"wires":[["d7acecea.1ab2f"]]},{"id":"f6911202.ec6de","type":"inject","z":"4f262a61.07b8b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":112.5,"y":53,"wires":[["c0aff476.099d38"]]},{"id":"c0aff476.099d38","type":"file in","z":"4f262a61.07b8b4","name":"","filename":"/boot/hub-identifier.txt","format":"utf8","chunk":false,"sendError":false,"x":297.5,"y":69,"wires":[["d0b80d9d.dbca9"]]},{"id":"d0b80d9d.dbca9","type":"change","z":"4f262a61.07b8b4","name":"remove newline","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\r?\\n","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":492.5,"y":82,"wires":[["fbdc1637.ef88e8"]]},{"id":"fbdc1637.ef88e8","type":"change","z":"4f262a61.07b8b4","name":"","rules":[{"t":"set","p":"hub-id","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":679.5,"y":97,"wires":[[]]},{"id":"acf27736.54a5c8","type":"function","z":"4f262a61.07b8b4","name":"filter for hub id","func":"var hub_id = global.get(\"hub-id\") || \"boof\"\nif (msg.topic.includes(hub_id))\n    return msg;\nelse \n    return null","outputs":1,"noerr":0,"x":171.5,"y":241,"wires":[["9e659ccc.9fb27"]]},{"id":"656d8d3b.9010a4","type":"comment","z":"4f262a61.07b8b4","name":"Get and store Hub Identifier (ex, andy, buzz, etc)","info":"","x":422.5,"y":27,"wires":[]},{"id":"fc37965b.c9e408","type":"comment","z":"4f262a61.07b8b4","name":"Get and store Hub Identifier (ex, andy, buzz, etc)","info":"","x":419,"y":198,"wires":[]},{"id":"5a304204.0369bc","type":"function","z":"fc06c4a.4b34f38","name":"add uuid and timestamp","func":"var uuid = global.get(\"uuid\") \nvar date = new Date();\nvar timestamp = date.getTime();\nglobal.set(\"last-timestamp\", timestamp)\nmsg.payload = {}\nmsg.payload[\"uuid\"] = uuid;\nmsg.payload[\"timestamp\"] = timestamp;\nmsg.path = \"/home/pi/Pictures/\"+uuid+\"/\"+timestamp\nreturn msg;","outputs":1,"noerr":0,"x":604.5,"y":199,"wires":[["15d42c8d.d70de3","7804c8d6.97f2c8","f1f062e.dbfe3a","8cbc9e3d.32383"]]},{"id":"7804c8d6.97f2c8","type":"json","z":"fc06c4a.4b34f38","name":"","property":"payload","action":"","pretty":false,"x":930.5,"y":326,"wires":[["3019419d.6f79ee"]]},{"id":"2a2ff78c.245478","type":"inject","z":"fc06c4a.4b34f38","name":"test stack start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":156,"y":211,"wires":[["5a304204.0369bc"]]},{"id":"cbc60ca2.8de5","type":"comment","z":"fc06c4a.4b34f38","name":"used to delay here for starting lights","info":"","x":622.1666870117188,"y":112.66667175292969,"wires":[]},{"id":"42e8be19.4d98c","type":"exec","z":"fc06c4a.4b34f38","command":"mkdir -p","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1020.5,"y":128.5,"wires":[[],[],[]]},{"id":"f1f062e.dbfe3a","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":841.5,"y":162,"wires":[["42e8be19.4d98c"]]},{"id":"23818b10.a54f14","type":"inject","z":"4f262a61.07b8b4","name":"","topic":"","payload":"{\"foo\":\"bar\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106,"y":386,"wires":[["d587eb8d.913578"]]},{"id":"fc200ee7.bf511","type":"inject","z":"4f262a61.07b8b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111.5,"y":472,"wires":[["60afd67c.c76a48"]]},{"id":"a29bfafa.d185f8","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":755.5,"y":539,"wires":[]},{"id":"60afd67c.c76a48","type":"file in","z":"4f262a61.07b8b4","name":"","filename":"/home/pi/Pictures/manifest.json","format":"utf8","chunk":false,"sendError":false,"x":346,"y":473,"wires":[["68f9afe6.5dd7e"]]},{"id":"19548bb7.a837d4","type":"file","z":"4f262a61.07b8b4","name":"","filename":"/home/pi/Pictures/manifest.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":603,"y":613,"wires":[[]]},{"id":"68f9afe6.5dd7e","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":562.5,"y":474,"wires":[["a29bfafa.d185f8","a3ea7e78.2ff23"]]},{"id":"6bcc9655.740588","type":"link out","z":"fc06c4a.4b34f38","name":"to manifest.json","links":["c7fd9bbb.a250d8"],"x":906.5,"y":283,"wires":[]},{"id":"c7fd9bbb.a250d8","type":"link in","z":"4f262a61.07b8b4","name":"manifest.json","links":["6bcc9655.740588"],"x":141.5,"y":537,"wires":[["60afd67c.c76a48"]]},{"id":"a3ea7e78.2ff23","type":"function","z":"4f262a61.07b8b4","name":"add to manifest","func":"var timestamp = global.get(\"last-timestamp\") || null\nvar cur_uuid = global.get(\"uuid\") || null\nvar a = msg.payload.uuid[cur_uuid].captures\n//above line is passing a reference to a js object\n\naddItem(timestamp)\nreturn msg;\n\n\nfunction addItem(item) {\n  var index = a.findIndex(x => x.name == item.name)\n  if (index === -1) {\n    a.push(item);\n  }else {\n    console.log(\"object already exists\")\n  }\n}","outputs":1,"noerr":0,"x":577.5,"y":549,"wires":[["a29bfafa.d185f8","41fa41d.678bfc"]]},{"id":"41fa41d.678bfc","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":377,"y":610,"wires":[["19548bb7.a837d4"]]},{"id":"8cbc9e3d.32383","type":"link out","z":"fc06c4a.4b34f38","name":"add uuid to manifest","links":[],"x":960.5,"y":196,"wires":[]},{"id":"d587eb8d.913578","type":"file in","z":"4f262a61.07b8b4","name":"","filename":"/home/pi/Pictures/manifest.json","format":"utf8","chunk":false,"sendError":false,"x":352,"y":419,"wires":[["87ac5fe4.78cb6"]]},{"id":"5c67c9c1.410c88","type":"function","z":"4f262a61.07b8b4","name":"add to manifest","func":"var cur_uuid = global.get(\"uuid\") || null;\n\nif(!(msg.payload.uuid.hasOwnProperty(cur_uuid))){\n    msg.payload.uuid[cur_uuid]={\"captures\":[]}\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":706,"y":415,"wires":[["a29bfafa.d185f8","41fa41d.678bfc"]]},{"id":"87ac5fe4.78cb6","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":556,"y":419,"wires":[["5c67c9c1.410c88"]]}]