Linux-layer/MicroHub-Node-Red/flows.json
[{"id":"fc06c4a.4b34f38","type":"tab","label":"Main-Imaging","disabled":false,"info":""},{"id":"4e55d630.ae2828","type":"tab","label":"Z-Stack-Imaging","disabled":false,"info":""},{"id":"4f262a61.07b8b4","type":"tab","label":"AWS stuff","disabled":false,"info":""},{"id":"796b600a.c4d14","type":"tab","label":"Get params","disabled":false,"info":""},{"id":"a9bb8256.88dc2","type":"ui_group","z":"","name":"Default","tab":"b8e6c56e.53b4b8","disp":false,"width":"12","collapse":false},{"id":"b8e6c56e.53b4b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"107dd3a5.86a78c","type":"mqtt-broker","z":"","name":"","broker":"microscopehub.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7642363e.06e4f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"70e1910e.ab59a","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"bfb44075.6ece3","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6"},{"id":"c438778e.a28198","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"fcb713a6.99bf8","type":"ui_group","z":"","name":"Performance","tab":"","disp":true,"width":"6"},{"id":"2cab7ad.282d386","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"135fd196.02214e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"2f3e927e.28ba7e","type":"ui_group","z":"","name":"Dashboard","tab":"135fd196.02214e","disp":true,"width":"6","collapse":false},{"id":"ee54ca4b.427da8","type":"ui_tab","z":"","name":"Disabled","icon":"dashboard","order":2},{"id":"6fae05a3.d7742c","type":"ui_group","z":"","name":"temporary","tab":"ee54ca4b.427da8","disp":true,"width":"6","collapse":false},{"id":"9606b430.626f88","type":"ui_group","z":"","name":"Camera","tab":"135fd196.02214e","order":2,"disp":true,"width":"7","collapse":false},{"id":"7c9af3d7.1e97bc","type":"mqtt-broker","z":"","name":"Braingeneers","broker":"ahp00abmtph4i-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"43906f87.b8743","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"376dbcff.a3dff4","type":"tls-config","z":"","name":"aws-iot-certs","cert":"","key":"","ca":"","certname":"dev-1.cert.pem","keyname":"dev-1.private.key","caname":"root-CA.crt","servername":"","verifyservercert":false},{"id":"43906f87.b8743","type":"tls-config","z":"","name":"Andy","cert":"/home/pi/.agent/certs/9c0b11f5d8-certificate.pem.crt","key":"/home/pi/.agent/certs/9c0b11f5d8-private.pem.key","ca":"/home/pi/.agent/certs/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"ca0899c6.fc0ac8","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"15d42c8d.d70de3","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":995.6666870117188,"y":233.66665649414062,"wires":[]},{"id":"eb82db9c.704468","type":"mqtt in","z":"fc06c4a.4b34f38","name":"camCommand","topic":"camCommand","qos":"2","broker":"2cab7ad.282d386","x":120.66669464111328,"y":86.66667079925537,"wires":[["1976c586.c0edba"]]},{"id":"3019419d.6f79ee","type":"mqtt out","z":"fc06c4a.4b34f38","name":"camCommand","topic":"camCommand","qos":"","retain":"","broker":"2cab7ad.282d386","x":712.6666946411133,"y":419.6666650772095,"wires":[]},{"id":"1976c586.c0edba","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":322.6666946411133,"y":94.66666412353516,"wires":[]},{"id":"ea9c2ae7.d37d18","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":18,"width":0,"height":0,"passthru":false,"label":"Take Picture","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":122.66669464111328,"y":398.6666650772095,"wires":[["39d3f6b9.7b4dba","fe8afee.77fe7"]]},{"id":"1e817b7e.4563f5","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"up 100","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":155.66669464111328,"y":764.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"11fba1ea.17f05e","type":"serial out","z":"fc06c4a.4b34f38","name":"Focus","serial":"ca0899c6.fc0ac8","x":509.66668701171875,"y":467.6666564941406,"wires":[]},{"id":"41560357.45bd4c","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"light","group":"6fae05a3.d7742c","order":10,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"6","step":1,"x":140.66669464111328,"y":471.6666650772095,"wires":[["11fba1ea.17f05e"]]},{"id":"3c1a0489.4bc89c","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"position","group":"2f3e927e.28ba7e","order":13,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"5000","step":1,"x":168.66669464111328,"y":634.6666650772095,"wires":[["25f17217.8e2f1e"]]},{"id":"15168339.fcc5ed","type":"function","z":"fc06c4a.4b34f38","name":"motor flag","func":"if (msg.payload == \"reset\"){\n    msg.payload = \"r:0\";\n}\nelse{ \n    msg.payload = \"m:\"+msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":640.6666870117188,"y":630.6666870117188,"wires":[["11fba1ea.17f05e","d6058796.5753a8"]]},{"id":"65741099.8b934","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":591.6666946411133,"y":1118.6666650772095,"wires":[]},{"id":"4883e672.7a1808","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"position","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":843.6666870117188,"y":617.6666870117188,"wires":[[]]},{"id":"7fd612a4.c40f2c","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":5,"width":0,"height":0,"passthru":false,"label":"White On","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":115.66669464111328,"y":997.6666650772095,"wires":[["ebf5570e.d2fe08"]]},{"id":"137c0a49.404e46","type":"http request","z":"fc06c4a.4b34f38","name":"","method":"POST","ret":"txt","url":"http://LEDcontroller.local","tls":"","x":822.6666870117188,"y":1006.6666259765625,"wires":[[]]},{"id":"ebf5570e.d2fe08","type":"function","z":"fc06c4a.4b34f38","name":"","func":"var id = flow.get(\"LED_id\");\nvar com = id+\",1\";\nmsg.payload = { led: com };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":365.6666946411133,"y":973.6666650772095,"wires":[["137c0a49.404e46"]]},{"id":"49e79963.938918","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":6,"width":0,"height":0,"passthru":false,"label":"White Off","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":115.66669464111328,"y":1037.6666650772095,"wires":[["91b3f067.b12a3"]]},{"id":"91b3f067.b12a3","type":"function","z":"fc06c4a.4b34f38","name":"","func":"var id = flow.get(\"LED_id\");\nvar com = id+\",0\";\nmsg.payload = { led: com };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":362.6666946411133,"y":1011.6666650772095,"wires":[["137c0a49.404e46"]]},{"id":"80c76eb1.a61","type":"ui_numeric","z":"fc06c4a.4b34f38","name":"","label":"","group":"2f3e927e.28ba7e","order":14,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"24","step":1,"x":370.6666946411133,"y":1363.6666650772095,"wires":[["ad72c38.3c9dc4","f53d10fe.64f1d"]]},{"id":"ad72c38.3c9dc4","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"LED id","group":"2f3e927e.28ba7e","order":15,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"24","step":1,"x":364.6666946411133,"y":1451.6666650772095,"wires":[["80c76eb1.a61","f53d10fe.64f1d"]]},{"id":"f53d10fe.64f1d","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":569.6666946411133,"y":1394.6666650772095,"wires":[["da2fcc4b.b0eec"]]},{"id":"da2fcc4b.b0eec","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"LED_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":757.6666946411133,"y":1418.6666650772095,"wires":[[]]},{"id":"3567a835.b55ec8","type":"inject","z":"fc06c4a.4b34f38","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":187.66669464111328,"y":1428.6666650772095,"wires":[["80c76eb1.a61","ad72c38.3c9dc4"]]},{"id":"7b33ff29.7ca5f","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":10,"width":0,"height":0,"passthru":false,"label":"All Off","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":105.66669464111328,"y":1077.6666650772095,"wires":[["55988a38.445ba4"]]},{"id":"55988a38.445ba4","type":"function","z":"fc06c4a.4b34f38","name":"turn off lights","func":"msg.payload = { led: \"100,1\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":365.66668701171875,"y":1048.6666259765625,"wires":[["137c0a49.404e46","7b303f4b.3f389"]]},{"id":"25f17217.8e2f1e","type":"ui_numeric","z":"fc06c4a.4b34f38","name":"","label":"Position","group":"2f3e927e.28ba7e","order":12,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"5000","step":1,"x":163.66669464111328,"y":708.6666650772095,"wires":[["3c1a0489.4bc89c","30237f9c.98e74"]]},{"id":"e2540324.99327","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"Brightness","group":"2f3e927e.28ba7e","order":17,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":126.66669464111328,"y":1310.6666650772095,"wires":[["ae7d87a3.3aa418","171501ff.e34b1e"]]},{"id":"3b11b7fa.2e3888","type":"function","z":"fc06c4a.4b34f38","name":"","func":"var msg1 = msg\nvalue = msg.payload;\nmsg1.payload = { brightness: value };\nmsg1.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg1;","outputs":1,"noerr":0,"x":510.6666946411133,"y":1278.6666650772095,"wires":[["137c0a49.404e46"]]},{"id":"30237f9c.98e74","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":417.66668701171875,"y":708.6666870117188,"wires":[["4883e672.7a1808","15168339.fcc5ed","25b1421a.8ad01e"]]},{"id":"6b42149.7d9c5ec","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":11,"width":0,"height":0,"passthru":false,"label":"All On","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":109.66669464111328,"y":1117.6666650772095,"wires":[["b2985dc0.818b"]]},{"id":"b2985dc0.818b","type":"function","z":"fc06c4a.4b34f38","name":"turn on lights","func":"msg.payload = { led: \"100,0\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":369.66668701171875,"y":1087.6666259765625,"wires":[["6176b1e4.0f50b"]]},{"id":"ddc5b270.9141d","type":"function","z":"fc06c4a.4b34f38","name":"","func":"pos = global.get(\"position\") || 0;\nmsg.payload += pos;\nreturn msg;","outputs":1,"noerr":0,"x":330.1666946411133,"y":782.6666650772095,"wires":[["3c1a0489.4bc89c"]]},{"id":"d73f5d61.e97ee","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":2,"width":0,"height":0,"passthru":false,"label":"down 100","color":"","bgcolor":"","icon":"","payload":"-100","payloadType":"num","topic":"","x":163.66669464111328,"y":802.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"49563f5d.a217f","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":3,"width":0,"height":0,"passthru":false,"label":"up 10","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":153.66669464111328,"y":841.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"89db2c3f.67215","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":4,"width":0,"height":0,"passthru":false,"label":"down 10","color":"","bgcolor":"","icon":"","payload":"-10","payloadType":"num","topic":"","x":162.66669464111328,"y":878.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"f7925e6e.46c87","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":7,"width":0,"height":0,"passthru":false,"label":"up 1","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":153.66669464111328,"y":916.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"996447ce.c0b0b8","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":8,"width":0,"height":0,"passthru":false,"label":"down 1","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"num","topic":"","x":161.66669464111328,"y":956.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"d6058796.5753a8","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":567.1666870117188,"y":537.6666870117188,"wires":[]},{"id":"24b78cba.012e04","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":9,"width":0,"height":0,"passthru":false,"label":"set 0","color":"","bgcolor":"","icon":"","payload":"c:0","payloadType":"str","topic":"","x":124.66669464111328,"y":534.6666650772095,"wires":[["11fba1ea.17f05e","bba2e5f6.df2c08","d6058796.5753a8"]]},{"id":"bba2e5f6.df2c08","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330.16668701171875,"y":596.6666870117188,"wires":[["3c1a0489.4bc89c","4883e672.7a1808","25b1421a.8ad01e"]]},{"id":"7ec64965.2f3898","type":"inject","z":"fc06c4a.4b34f38","name":"take picture every so often","topic":"","payload":"true","payloadType":"bool","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":174.16668701171875,"y":323.6666564941406,"wires":[[]]},{"id":"39d3f6b9.7b4dba","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"100","op1type":"nul","op2type":"num","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":420.1666946411133,"y":393.6666650772095,"wires":[["3019419d.6f79ee"]]},{"id":"fe8afee.77fe7","type":"link out","z":"fc06c4a.4b34f38","name":"","links":["3295d941.316736","53b80033.4435"],"x":559.1666946411133,"y":342.6666650772095,"wires":[]},{"id":"3295d941.316736","type":"link in","z":"fc06c4a.4b34f38","name":"","links":["fe8afee.77fe7"],"x":55.16669464111328,"y":1164.6666650772095,"wires":[["b2985dc0.818b","cbab32ee.a5e46"]]},{"id":"ae7d87a3.3aa418","type":"ui_numeric","z":"fc06c4a.4b34f38","name":"","label":"brightness","group":"2f3e927e.28ba7e","order":16,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":132.16669464111328,"y":1254.6666650772095,"wires":[["e2540324.99327"]]},{"id":"171501ff.e34b1e","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":337.6666946411133,"y":1281.6666650772095,"wires":[["3b11b7fa.2e3888"]]},{"id":"d61f8fe8.a62b3","type":"inject","z":"4e55d630.ae2828","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":96.5,"y":51,"wires":[["8ad05eae.68eba"]]},{"id":"5540d83a.eb8328","type":"function","z":"4e55d630.ae2828","name":"Move camera","func":"var pos = global.get(\"position\") || 0;\nvar parameters = global.get(\"params\");\nvar myCount = flow.get(\"stack-count\") || 1;\nvar endStack = { payload: null };\nif (myCount > parameters.stack_size){\n    //msg.payload = global.get(\"start-position\") || 0;\n    //msg.payload = \"reset\" //reset motor position \n    flow.set(\"stack-count\", 1);\n    global.set(\"z-stack-flag\", false);\n    endStack.payload = true\n    return [null,endStack]\n}\nelse{\n    //this is to compensate for making the z-stack start not take a picture\n    if(myCount > 1){\n        msg.payload = pos + parameters.step_size;\n    }\n    else{\n        msg.payload = pos + parameters.stack_offset; //for limit switch hysteresis\n    }\n    myCount += 1;    \n    flow.set(\"stack-count\", myCount);\n}\nreturn [msg, null];","outputs":2,"noerr":0,"x":361,"y":427,"wires":[["e6f4d58.b928128","77bf75c9.f41b7c","70f81f8.ea12be"],["4c07ad85.b82fb4"]]},{"id":"25b1421a.8ad01e","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"start-position","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":864.6666870117188,"y":652.6666870117188,"wires":[[]]},{"id":"70f81f8.ea12be","type":"link out","z":"4e55d630.ae2828","name":"move camera","links":["99165736.5f16c8"],"x":634.5,"y":422,"wires":[]},{"id":"99165736.5f16c8","type":"link in","z":"fc06c4a.4b34f38","name":"move camera","links":["70f81f8.ea12be"],"x":544.1666870117188,"y":761.6666870117188,"wires":[["15168339.fcc5ed","f4a70ceb.307be"]]},{"id":"696cfa56.56eb84","type":"change","z":"4e55d630.ae2828","name":"","rules":[{"t":"set","p":"z-stack-flag","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"z-stack-start","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"aws_busy","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":405,"y":255,"wires":[["5f00eeea.760c"]]},{"id":"cbab32ee.a5e46","type":"function","z":"fc06c4a.4b34f38","name":"z-stack-check","func":"if (global.get(\"z-stack-start\") === true ){\n    global.set(\"z-stack-start\", false);\n    return [null,msg];\n}\nelse\n    return [msg,null];","outputs":2,"noerr":0,"x":168.16669464111328,"y":1186.6666259765625,"wires":[["65741099.8b934"],["fce72e28.d0edc"]]},{"id":"fce72e28.d0edc","type":"link out","z":"fc06c4a.4b34f38","name":"trigger-next-stack","links":["13ac7eea.044fe1"],"x":809.1666870117188,"y":1172.6666259765625,"wires":[]},{"id":"13ac7eea.044fe1","type":"link in","z":"4e55d630.ae2828","name":"","links":["fce72e28.d0edc"],"x":224.5,"y":391,"wires":[["5540d83a.eb8328"]]},{"id":"39829108.2035be","type":"link out","z":"4e55d630.ae2828","name":"trigger-z-start","links":["f13c4113.574e3"],"x":667.5,"y":276,"wires":[]},{"id":"f13c4113.574e3","type":"link in","z":"fc06c4a.4b34f38","name":"trigger z-stack start","links":["39829108.2035be"],"x":305.16668701171875,"y":162.6666717529297,"wires":[["fe8afee.77fe7","5a304204.0369bc"]]},{"id":"e6f4d58.b928128","type":"trigger","z":"4e55d630.ae2828","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"delay to allow motors to finish","x":752.5,"y":458,"wires":[["7ac9e93b.8c2e78"]]},{"id":"77bf75c9.f41b7c","type":"debug","z":"4e55d630.ae2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":745.5,"y":391,"wires":[]},{"id":"5f00eeea.760c","type":"trigger","z":"4e55d630.ae2828","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":572,"y":229,"wires":[["39829108.2035be","16a034eb.3d28cb"]]},{"id":"efdded6d.06168","type":"inject","z":"4e55d630.ae2828","name":"stop","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":126.5,"y":305,"wires":[["cebb101d.6f477","6c593cf0.0fe3d4"]]},{"id":"cebb101d.6f477","type":"change","z":"4e55d630.ae2828","name":"","rules":[{"t":"set","p":"z-stack-flag","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"stack-count","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"state","pt":"global","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":313,"y":315,"wires":[[]]},{"id":"7ac9e93b.8c2e78","type":"link out","z":"4e55d630.ae2828","name":"trigger z-stack next","links":["fbac947b.1b40a8"],"x":944.5,"y":463,"wires":[]},{"id":"fbac947b.1b40a8","type":"link in","z":"fc06c4a.4b34f38","name":"trigger-z-stack-next","links":["7ac9e93b.8c2e78"],"x":363.16668701171875,"y":265.6666717529297,"wires":[["fe8afee.77fe7","53b5f94a.e79ac8"]]},{"id":"97cd527f.2deef","type":"link out","z":"4e55d630.ae2828","name":"trigger z-stack end","links":["aef9ebcf.fcadf8","53b80033.4435"],"x":912.5,"y":547,"wires":[]},{"id":"8ade422c.c81ca","type":"change","z":"fc06c4a.4b34f38","name":"trigger z-stack end","rules":[{"t":"set","p":"payload","pt":"msg","to":"103","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":584.1666946411133,"y":288.6666650772095,"wires":[["3019419d.6f79ee","6bcc9655.740588","55988a38.445ba4"]]},{"id":"aef9ebcf.fcadf8","type":"link in","z":"fc06c4a.4b34f38","name":"trigger z-stack-end","links":["97cd527f.2deef"],"x":373.16668701171875,"y":301.6666564941406,"wires":[["8ade422c.c81ca","d8d64411.8cd968","bba2e5f6.df2c08"]]},{"id":"53b5f94a.e79ac8","type":"change","z":"fc06c4a.4b34f38","name":"trigger z-stack picture","rules":[{"t":"set","p":"payload","pt":"msg","to":"102","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":594.6666946411133,"y":243.66666507720947,"wires":[["3019419d.6f79ee"]]},{"id":"4c07ad85.b82fb4","type":"trigger","z":"4e55d630.ae2828","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"30","extend":false,"units":"s","reset":"","bytopic":"all","name":"delay to allow pictures to finish","x":686,"y":509,"wires":[["97cd527f.2deef"]]},{"id":"664c33b2.e1402c","type":"change","z":"fc06c4a.4b34f38","name":"trigger z-stack start","rules":[{"t":"set","p":"payload","pt":"msg","to":"101","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":585.6666870117188,"y":157.6666717529297,"wires":[[]]},{"id":"b1255d31.3febe","type":"inject","z":"fc06c4a.4b34f38","name":"test mid","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":187.66668701171875,"y":237.6666717529297,"wires":[["53b5f94a.e79ac8"]]},{"id":"e6ca4e85.d7b6","type":"inject","z":"fc06c4a.4b34f38","name":"test end","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":187.66668701171875,"y":278.6666564941406,"wires":[["8ade422c.c81ca"]]},{"id":"7a3b8d18.18d954","type":"mqtt out","z":"4f262a61.07b8b4","name":"","topic":"andy_status","qos":"","retain":"","broker":"7c9af3d7.1e97bc","x":1092.5,"y":153,"wires":[]},{"id":"c3c6f58f.5cbec8","type":"mqtt in","z":"4f262a61.07b8b4","name":"","topic":"#","qos":"1","broker":"7c9af3d7.1e97bc","x":68.5,"y":293,"wires":[["fe1b4f30.44fbf","acf27736.54a5c8"]]},{"id":"fe1b4f30.44fbf","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":184.5,"y":339,"wires":[]},{"id":"6cf02691.4c3a88","type":"function","z":"4f262a61.07b8b4","name":"get uuid and process params","func":"if (msg.payload.hasOwnProperty(\"uuid\"))\n{\n    if(msg.payload.hasOwnProperty(\"params\")){\n        for(var key in msg.payload.params){\n            if (key != \"camera_params\" && key != \"light_mode\"){\n                msg.payload.params[key] = parseInt(msg.payload.params[key])\n            }\n        }\n        global.set(\"params\", msg.payload.params)\n    }\n    global.set(\"uuid\", msg.payload.uuid);\n    global.set(\"state\", \"engaged\");\n    var params = { payload: {\"params\":msg.payload.params} };\n    msg.payload = msg.payload.uuid;\n    \n    return [msg, null, params]\n}\n\n\nelse if (msg.topic.includes(\"stop\"))\n    var uuid = global.get(\"uuid\")\n    var msg2 = { payload: uuid };\n    global.set(\"state\", \"stopped\");\n    return [null, msg2, null]\n\n","outputs":3,"noerr":0,"x":585.5,"y":238,"wires":[["fb418e5c.52caa","df243b51.d6c6e8"],["6b579d0d.93c0e4"],["c6f53c72.da815","48cf88f9.faa5c8","3a93b236.ae8c9e"]]},{"id":"df243b51.d6c6e8","type":"debug","z":"4f262a61.07b8b4","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":924.5,"y":216,"wires":[]},{"id":"9e659ccc.9fb27","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":385.5,"y":239,"wires":[["6cf02691.4c3a88"]]},{"id":"d7acecea.1ab2f","type":"exec","z":"4f262a61.07b8b4","command":"mkdir -p","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":845.5,"y":298.5,"wires":[["56f44bfc.c2d914"],["56f44bfc.c2d914"],["56f44bfc.c2d914","50fb7bfe.8bed14"]]},{"id":"56f44bfc.c2d914","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1045,"y":269,"wires":[]},{"id":"fb418e5c.52caa","type":"change","z":"4f262a61.07b8b4","name":"prepend path","rules":[{"t":"change","p":"payload","pt":"msg","from":"^","fromt":"re","to":"/home/pi/Pictures/","tot":"str"},{"t":"set","p":"experiment_path","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":663.5,"y":327,"wires":[["d7acecea.1ab2f","df243b51.d6c6e8"]]},{"id":"f6911202.ec6de","type":"inject","z":"4f262a61.07b8b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":112.5,"y":53,"wires":[["c0aff476.099d38"]]},{"id":"c0aff476.099d38","type":"file in","z":"4f262a61.07b8b4","name":"","filename":"/boot/hub-identifier.txt","format":"utf8","chunk":false,"sendError":false,"x":297.5,"y":69,"wires":[["d0b80d9d.dbca9"]]},{"id":"d0b80d9d.dbca9","type":"change","z":"4f262a61.07b8b4","name":"remove newline","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\r?\\n","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":498.5,"y":77,"wires":[["fbdc1637.ef88e8"]]},{"id":"fbdc1637.ef88e8","type":"change","z":"4f262a61.07b8b4","name":"","rules":[{"t":"set","p":"hub-id","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":686.5,"y":82,"wires":[[]]},{"id":"acf27736.54a5c8","type":"function","z":"4f262a61.07b8b4","name":"filter for hub id","func":"var hub_id = global.get(\"hub-id\") || \"boof\"\nif (msg.topic.includes(hub_id))\n    return msg;\nelse \n    return null","outputs":1,"noerr":0,"x":226.5,"y":238,"wires":[["9e659ccc.9fb27"]]},{"id":"656d8d3b.9010a4","type":"comment","z":"4f262a61.07b8b4","name":"Get and store Hub Identifier (ex, andy, buzz, etc)","info":"","x":422.5,"y":27,"wires":[]},{"id":"fc37965b.c9e408","type":"comment","z":"4f262a61.07b8b4","name":"Get and store Hub Identifier (ex, andy, buzz, etc)","info":"","x":419,"y":198,"wires":[]},{"id":"5a304204.0369bc","type":"function","z":"fc06c4a.4b34f38","name":"add uuid and timestamp","func":"var uuid = global.get(\"uuid\") || \"4-gfp-test\"\nvar date = new Date();\n//var timestamp = date.getTime();\nvar timestamp = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) + 'T' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\n\nglobal.set(\"last-timestamp\", timestamp)\nmsg.payload = {}\nmsg.payload[\"uuid\"] = uuid;\nmsg.payload[\"timestamp\"] = timestamp;\nmsg.path = \"/home/pi/Pictures/\"+uuid+\"/\"+timestamp\nreturn msg;","outputs":1,"noerr":0,"x":604.5,"y":199,"wires":[["15d42c8d.d70de3","f1f062e.dbfe3a","7804c8d6.97f2c8","8cbc9e3d.32383"]]},{"id":"7804c8d6.97f2c8","type":"json","z":"fc06c4a.4b34f38","name":"","property":"payload","action":"","pretty":false,"x":930.5,"y":326,"wires":[["3019419d.6f79ee"]]},{"id":"2a2ff78c.245478","type":"inject","z":"fc06c4a.4b34f38","name":"test stack start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":156,"y":198,"wires":[["5a304204.0369bc"]]},{"id":"cbc60ca2.8de5","type":"comment","z":"fc06c4a.4b34f38","name":"used to delay here for starting lights","info":"","x":622.1666870117188,"y":112.66667175292969,"wires":[]},{"id":"f1f062e.dbfe3a","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"path","pt":"global","to":"path","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":876.5,"y":146,"wires":[[]]},{"id":"23818b10.a54f14","type":"inject","z":"4f262a61.07b8b4","name":"","topic":"","payload":"{\"foo\":\"bar\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106,"y":386,"wires":[["d587eb8d.913578"]]},{"id":"fc200ee7.bf511","type":"inject","z":"4f262a61.07b8b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.5,"y":465,"wires":[["22ab8f98.664b4"]]},{"id":"a29bfafa.d185f8","type":"debug","z":"4f262a61.07b8b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":755.5,"y":539,"wires":[]},{"id":"60afd67c.c76a48","type":"file in","z":"4f262a61.07b8b4","name":"read manifest","filename":"","format":"utf8","chunk":false,"sendError":false,"x":338,"y":474,"wires":[["68f9afe6.5dd7e"]]},{"id":"19548bb7.a837d4","type":"file","z":"4f262a61.07b8b4","name":"update manifest","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":739,"y":611,"wires":[[]]},{"id":"68f9afe6.5dd7e","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":601.5,"y":474,"wires":[["a29bfafa.d185f8","a3ea7e78.2ff23"]]},{"id":"6bcc9655.740588","type":"link out","z":"fc06c4a.4b34f38","name":"to manifest.json","links":["c7fd9bbb.a250d8"],"x":906.5,"y":283,"wires":[]},{"id":"c7fd9bbb.a250d8","type":"link in","z":"4f262a61.07b8b4","name":"manifest.json","links":["6bcc9655.740588"],"x":93.5,"y":576,"wires":[["22ab8f98.664b4"]]},{"id":"a3ea7e78.2ff23","type":"function","z":"4f262a61.07b8b4","name":"add to manifest","func":"var timestamp = global.get(\"last-timestamp\") || null\nvar cur_uuid = global.get(\"uuid\") || null\nvar a = msg.payload.captures\n//above line is passing a reference to a js object\n//a.push(timestamp)\naddItem(timestamp)\nreturn msg;\n\n\nfunction addItem(item) {\n  var index = a.findIndex(x => x == item)\n  if (index === -1) {\n    a.push(item);\n  }else {\n    node.warn(\"object already exists: \" + timestamp )\n  }\n}","outputs":1,"noerr":0,"x":506.5,"y":535,"wires":[["a29bfafa.d185f8","41fa41d.678bfc"]]},{"id":"41fa41d.678bfc","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":377,"y":610,"wires":[["c835c35.5976f4"]]},{"id":"8cbc9e3d.32383","type":"link out","z":"fc06c4a.4b34f38","name":"add uuid to manifest","links":[],"x":960.5,"y":196,"wires":[]},{"id":"d587eb8d.913578","type":"file in","z":"4f262a61.07b8b4","name":"add initial manifest info","filename":"","format":"utf8","chunk":false,"sendError":false,"x":373,"y":433,"wires":[["87ac5fe4.78cb6"]]},{"id":"5c67c9c1.410c88","type":"function","z":"4f262a61.07b8b4","name":"add to manifest","func":"var cur_uuid = global.get(\"uuid\") || null;\n\nif(!(msg.payload.hasOwnProperty(\"uuid\"))){\n    msg.payload[\"uuid\"]=cur_uuid\n    msg.payload[\"num_wells\"]= 24\n    msg.payload[\"stack_size\"] = 15\n    msg.payload[\"captures\"]= []\n    \n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":434,"wires":[["a29bfafa.d185f8","41fa41d.678bfc"]]},{"id":"87ac5fe4.78cb6","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":603,"y":434,"wires":[["5c67c9c1.410c88"]]},{"id":"eab9e189.6fa54","type":"exec","z":"4e55d630.ae2828","command":"/home/pi/scripts/s3-copy.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"AWS cp","x":495.5,"y":34.5,"wires":[["8df2e32a.1a368"],["8df2e32a.1a368"],["8df2e32a.1a368","eba1d1e7.e6cb5","696cfa56.56eb84"]]},{"id":"8df2e32a.1a368","type":"debug","z":"4e55d630.ae2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":708,"y":29,"wires":[]},{"id":"eba1d1e7.e6cb5","type":"function","z":"4e55d630.ae2828","name":"check for success","func":"if (msg.payload.code === 0){\n    return msg\n}\nelse \n    return null;","outputs":1,"noerr":0,"x":615.5,"y":89,"wires":[["47544f92.abacf"]]},{"id":"47544f92.abacf","type":"exec","z":"4e55d630.ae2828","command":"find /home/pi/Pictures/*/* -type d | xargs -I {} mv {} /home/pi/Pictures-archive","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"move pictures to local archive","x":898.5,"y":104.5,"wires":[["8df2e32a.1a368","f95c8907.d917d8"],[],["8df2e32a.1a368"]]},{"id":"a84c8196.90f05","type":"inject","z":"4e55d630.ae2828","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":592,"y":147,"wires":[["47544f92.abacf"]]},{"id":"2ef287cb.0856d8","type":"debug","z":"4e55d630.ae2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1083,"y":146,"wires":[]},{"id":"68313ece.ea8ef","type":"inject","z":"4e55d630.ae2828","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":807,"y":245,"wires":[["5340846f.90316c"]]},{"id":"c0faf5c.49bf908","type":"exec","z":"4e55d630.ae2828","command":"mkdir -p","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":921,"y":187,"wires":[["2ef287cb.0856d8"],["2ef287cb.0856d8"],["2ef287cb.0856d8"]]},{"id":"5340846f.90316c","type":"change","z":"4e55d630.ae2828","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":754,"y":183,"wires":[["c0faf5c.49bf908"]]},{"id":"16a034eb.3d28cb","type":"trigger","z":"4e55d630.ae2828","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":572,"y":189,"wires":[["5340846f.90316c"]]},{"id":"50fb7bfe.8bed14","type":"function","z":"4f262a61.07b8b4","name":"check for success","func":"if (msg.payload.code === 0){\n    var path = global.get(\"experiment_path\")\n    msg.filename = path + \"/manifest.json\"\n    msg.payload = \"{}\"\n    return msg\n}\nelse \n    return null;","outputs":1,"noerr":0,"x":1008,"y":337,"wires":[["7b7368f.fc48398"]]},{"id":"7b7368f.fc48398","type":"file","z":"4f262a61.07b8b4","name":"make manifest","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1191.5,"y":372,"wires":[["548a1a70.5f80e4"]]},{"id":"c835c35.5976f4","type":"function","z":"4f262a61.07b8b4","name":"path to manifest","func":"var path = global.get(\"experiment_path\")\nmsg.filename = path + \"/manifest.json\"\nreturn msg\n","outputs":1,"noerr":0,"x":541,"y":612,"wires":[["19548bb7.a837d4"]]},{"id":"22ab8f98.664b4","type":"function","z":"4f262a61.07b8b4","name":"path to manifest","func":"var path = global.get(\"experiment_path\")\nmsg.filename = path + \"/manifest.json\"\nreturn msg\n","outputs":1,"noerr":0,"x":196,"y":525,"wires":[["60afd67c.c76a48"]]},{"id":"548a1a70.5f80e4","type":"function","z":"4f262a61.07b8b4","name":"path to manifest","func":"var path = global.get(\"experiment_path\")\nmsg.filename = path + \"/manifest.json\"\nreturn msg\n","outputs":1,"noerr":0,"x":387,"y":388,"wires":[["d587eb8d.913578"]]},{"id":"5cc4e991.a745a8","type":"change","z":"4e55d630.ae2828","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"uuid","tot":"global"},{"t":"set","p":"aws_busy","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":328,"y":33,"wires":[["eab9e189.6fa54"]]},{"id":"6b579d0d.93c0e4","type":"link out","z":"4f262a61.07b8b4","name":"send final stack to s3","links":["b7235a7.dbdcfa8"],"x":551.5,"y":343,"wires":[]},{"id":"b7235a7.dbdcfa8","type":"link in","z":"4e55d630.ae2828","name":"receive command for final stack","links":["6b579d0d.93c0e4"],"x":32.5,"y":147,"wires":[["1fc4f012.db7dd","6c593cf0.0fe3d4"]]},{"id":"8feb9075.8ae62","type":"exec","z":"4e55d630.ae2828","command":"/home/pi/scripts/s3-copy.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"AWS cp for end","x":376,"y":152,"wires":[[],[],["47544f92.abacf"]]},{"id":"a136cf1d.329e8","type":"inject","z":"4f262a61.07b8b4","name":"test start","topic":"","payload":"{\"uuid\":\"test\",\"timestamp\":\"boofdoof\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":379.5,"y":281,"wires":[["6cf02691.4c3a88"]]},{"id":"11487951.dd4e57","type":"mqtt in","z":"fc06c4a.4b34f38","name":"","topic":"pic-taken","qos":"2","broker":"2cab7ad.282d386","x":303,"y":1223,"wires":[["71f0e8c.2f36d18"]]},{"id":"71f0e8c.2f36d18","type":"trigger","z":"fc06c4a.4b34f38","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"wait-for-picture","x":473,"y":1223,"wires":[["d26abea3.e1885"]]},{"id":"55e11a02.9354a4","type":"inject","z":"4e55d630.ae2828","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":149.5,"y":249,"wires":[["696cfa56.56eb84"]]},{"id":"f4a70ceb.307be","type":"function","z":"fc06c4a.4b34f38","name":"motor flag","func":"if (msg.payload == \"reset\"){\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":674,"y":722,"wires":[["4883e672.7a1808"]]},{"id":"d26abea3.e1885","type":"function","z":"fc06c4a.4b34f38","name":"z-stack-check","func":"if (global.get(\"z-stack-flag\") === true ){\n    return msg\n}\nreturn null","outputs":1,"noerr":0,"x":663,"y":1210,"wires":[["fce72e28.d0edc"]]},{"id":"eb342283.85235","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"recover","color":"","bgcolor":"","icon":"","payload":"r:0","payloadType":"str","topic":"","x":155,"y":436,"wires":[["11fba1ea.17f05e","bba2e5f6.df2c08"]]},{"id":"d8d64411.8cd968","type":"change","z":"fc06c4a.4b34f38","name":"reset motor","rules":[{"t":"set","p":"payload","pt":"msg","to":"r:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":352,"y":448,"wires":[["11fba1ea.17f05e","d6058796.5753a8"]]},{"id":"f95c8907.d917d8","type":"exec","z":"4e55d630.ae2828","command":"rm -rf /home/pi/Pictures-archive/*","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"wipe local archive","x":1177,"y":90,"wires":[[],[],[]]},{"id":"1fc4f012.db7dd","type":"switch","z":"4e55d630.ae2828","name":"check aws_busy","property":"aws_busy","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":186.5,"y":150,"wires":[["8feb9075.8ae62"]]},{"id":"dc2fa705.121848","type":"file in","z":"796b600a.c4d14","name":"","filename":"/home/pi/parameters/params.json","format":"utf8","chunk":false,"sendError":false,"x":256.5,"y":209,"wires":[["2fd06456.8e410c"]]},{"id":"1c379ee8.6a8b31","type":"inject","z":"796b600a.c4d14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":102.5,"y":151,"wires":[["dc2fa705.121848"]]},{"id":"29a546e8.bf6aca","type":"function","z":"796b600a.c4d14","name":"get params","func":"global.set(\"params\",msg.payload.params)\nreturn msg;","outputs":1,"noerr":0,"x":624.5,"y":224,"wires":[[]]},{"id":"2fd06456.8e410c","type":"json","z":"796b600a.c4d14","name":"","property":"payload","action":"","pretty":false,"x":473.5,"y":209,"wires":[["29a546e8.bf6aca"]]},{"id":"d3099098.8eebe","type":"inject","z":"fc06c4a.4b34f38","name":"reset motor","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":152.5,"y":361,"wires":[["d8d64411.8cd968","bba2e5f6.df2c08"]]},{"id":"dcccd90b.cc8e88","type":"file in","z":"796b600a.c4d14","name":"","filename":"/home/pi/parameters/params.json","format":"utf8","chunk":false,"sendError":false,"x":257,"y":309,"wires":[["47f4a7e1.ded5a8"]]},{"id":"47f4a7e1.ded5a8","type":"json","z":"796b600a.c4d14","name":"","property":"payload","action":"","pretty":false,"x":473,"y":317,"wires":[["f6a436db.416738"]]},{"id":"f6a436db.416738","type":"function","z":"796b600a.c4d14","name":"update","func":"msg.payload.params[\"interval\"] = 2\nreturn msg;","outputs":1,"noerr":0,"x":604,"y":344,"wires":[["51394675.2164a8"]]},{"id":"5729cd88.207fd4","type":"inject","z":"796b600a.c4d14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":69.5,"y":260,"wires":[["dcccd90b.cc8e88"]]},{"id":"51394675.2164a8","type":"file","z":"796b600a.c4d14","name":"","filename":"/home/pi/parameters/params.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":820.5,"y":377,"wires":[[]]},{"id":"c6f53c72.da815","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":896,"y":182,"wires":[]},{"id":"48cf88f9.faa5c8","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":896,"y":148,"wires":[["9fd7a27b.bc6ff","7a3b8d18.18d954"]]},{"id":"9fd7a27b.bc6ff","type":"file","z":"4f262a61.07b8b4","name":"","filename":"/home/pi/parameters/params.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1218.5,"y":203,"wires":[[]]},{"id":"8ad05eae.68eba","type":"function","z":"4e55d630.ae2828","name":"check interval and whether system is engaged","func":"var then = context.get(\"last-stack-time\") || 0\nvar now = msg.payload\nvar interval = global.get(\"params\").interval\n\nif(isNaN(interval)){ \n    node.error(\"interval is NaN\")\n    return null\n}\n\nvar state = global.get(\"state\")||\"stopped\";\nif (state == \"stopped\"){\n    return null\n}    \nif(Math.abs(now - then) > interval*1000*60*60){\n    context.set(\"last-stack-time\",now)\n    var go = { \"payload\": true}\n    return go\n}\nelse\n    return null\n","outputs":1,"noerr":0,"x":237.5,"y":92,"wires":[["5cc4e991.a745a8"]]},{"id":"d2130b17.0613e8","type":"inject","z":"4e55d630.ae2828","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":487,"wires":[[]]},{"id":"f80ad0e9.e1dc3","type":"debug","z":"4e55d630.ae2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":513,"y":578,"wires":[]},{"id":"acd8dc01.464c4","type":"mqtt out","z":"796b600a.c4d14","name":"","topic":"camCommand","qos":"1","retain":"","broker":"2cab7ad.282d386","x":526,"y":493,"wires":[]},{"id":"d0c27a2c.5f2b88","type":"inject","z":"796b600a.c4d14","name":"","topic":"","payload":"{\"cam_params\": \"-o\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":195.5,"y":483,"wires":[["9d8e4586.704fa8"]]},{"id":"9d8e4586.704fa8","type":"json","z":"796b600a.c4d14","name":"","property":"payload","action":"","pretty":false,"x":370,"y":486,"wires":[["acd8dc01.464c4"]]},{"id":"3a93b236.ae8c9e","type":"function","z":"4f262a61.07b8b4","name":"filter for camera_params","func":"msg.payload = {\"cam_params\":msg.payload.params.camera_params}\nreturn msg;","outputs":1,"noerr":0,"x":956.5,"y":113,"wires":[["a6f67dca.2d43c"]]},{"id":"a6f67dca.2d43c","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":1135,"y":113,"wires":[["7b33d39d.c0750c","b598f44e.bb1378"]]},{"id":"b598f44e.bb1378","type":"mqtt out","z":"4f262a61.07b8b4","name":"camCommand","topic":"camCommand","qos":"","retain":"","broker":"2cab7ad.282d386","x":1282,"y":73,"wires":[]},{"id":"7b33d39d.c0750c","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1305,"y":122,"wires":[]},{"id":"6176b1e4.0f50b","type":"switch","z":"fc06c4a.4b34f38","name":"","property":"params.light_mode","propertyType":"global","rules":[{"t":"eq","v":"white","vt":"str"},{"t":"eq","v":"gfp","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":517,"y":1079,"wires":[["137c0a49.404e46"],["94a7b3b7.24cdd"]]},{"id":"e05359d.d36fca8","type":"serial out","z":"fc06c4a.4b34f38","name":"GFP-light","serial":"ca0899c6.fc0ac8","x":1011,"y":1063,"wires":[]},{"id":"7b303f4b.3f389","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"l:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":832.5,"y":1061,"wires":[["e05359d.d36fca8"]]},{"id":"94a7b3b7.24cdd","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"l:1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":832,"y":1100,"wires":[["e05359d.d36fca8"]]},{"id":"b15f7e67.532ae","type":"inject","z":"fc06c4a.4b34f38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":474.5,"y":910,"wires":[["55988a38.445ba4"]]},{"id":"9a305bf9.ac85a8","type":"mqtt out","z":"4e55d630.ae2828","name":"","topic":"andy_status","qos":"","retain":"","broker":"7c9af3d7.1e97bc","x":298,"y":200,"wires":[]},{"id":"6c593cf0.0fe3d4","type":"change","z":"4e55d630.ae2828","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":97,"y":197,"wires":[["9a305bf9.ac85a8"]]},{"id":"96100c66.b3d6f","type":"inject","z":"4e55d630.ae2828","name":"test upload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138.5,"y":16,"wires":[["5cc4e991.a745a8"]]}]