Node-Red/MicroHub-Node-Red/flows_MicroscopeHub.json
[{"id":"d57a87e2.037b18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1feb56bd.a958f9","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b0a57557.3d7f38","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"5c0f011e.a15d2","type":"ui_group","z":"","name":"Dashboard","tab":"b0a57557.3d7f38","disp":true,"width":"6","collapse":false},{"id":"47933b6e.929854","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4afd81cf.3c415","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"7ddc5c7b.65d294","type":"ui_tab","z":"","name":"Disabled","icon":"dashboard","order":2},{"id":"bfada491.dd3ff8","type":"ui_group","z":"","name":"temporary","tab":"7ddc5c7b.65d294","disp":true,"width":"6","collapse":false},{"id":"b93af33c.7a855","type":"ui_group","z":"","name":"Camera","tab":"b0a57557.3d7f38","order":2,"disp":true,"width":"7","collapse":false},{"id":"9ff0fed7.dfe31","type":"mosca in","z":"d57a87e2.037b18","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":80,"wires":[["52d1e99e.5f0c58"]]},{"id":"52d1e99e.5f0c58","type":"debug","z":"d57a87e2.037b18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":80,"wires":[]},{"id":"22980343.0e5dec","type":"mqtt in","z":"d57a87e2.037b18","name":"command","topic":"camCommand","qos":"2","broker":"1feb56bd.a958f9","x":160,"y":120,"wires":[["24379f3d.7279d"]]},{"id":"a96a5877.e84378","type":"mqtt out","z":"d57a87e2.037b18","name":"squirrel","topic":"camCommand","qos":"","retain":"","broker":"1feb56bd.a958f9","x":440,"y":260,"wires":[]},{"id":"24379f3d.7279d","type":"debug","z":"d57a87e2.037b18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":120,"wires":[]},{"id":"61e71b8f.0ca8f4","type":"ui_template","z":"d57a87e2.037b18","group":"bfada491.dd3ff8","name":"Panel 1","order":11,"width":"3","height":"5","format":"<!--<div style=\"margin-bottom:40px;\">-->\n<!-- <img id=\"latest\" src=\"http://camera5.local:1880/LatestImage.jpg\" width=\"100%\" height=\"100%\">-->\n<!--</div>-->\n<!--<div style=\"margin-bottom:40px;\">-->\n<!-- <img id=\"latest\" src=\"http://camera2.local:1880/LatestImage.jpg\" width=\"100%\" height=\"100%\">-->\n<!--</div>-->\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":80,"wires":[[]]},{"id":"723ae734.782be8","type":"ui_template","z":"d57a87e2.037b18","group":"bfada491.dd3ff8","name":"Panel 2","order":12,"width":"3","height":"5","format":"<!--<div style=\"margin-bottom:40px;\">-->\n<!-- <img id=\"latest\" src=\"http://camera3.local:1880/LatestImage.jpg\" width=\"100%\" height=\"100%\">-->\n<!--</div>-->\n<!--<div style=\"margin-bottom:40px;\">-->\n<!-- <img id=\"latest\" src=\"http://camera4.local:1880/LatestImage.jpg\" width=\"100%\" height=\"100%\">-->\n<!--</div>-->\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":120,"wires":[[]]},{"id":"bab56d0e.a9996","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"5c0f011e.a15d2","order":13,"width":0,"height":0,"passthru":false,"label":"Take Picture","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":260,"y":260,"wires":[["a96a5877.e84378"]]},{"id":"17a17aab.2824f5","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"bfada491.dd3ff8","order":1,"width":0,"height":0,"passthru":false,"label":"up 100","color":"","bgcolor":"","icon":"","payload":"q","payloadType":"str","topic":"","x":990,"y":200,"wires":[[]]},{"id":"d6559bd4.7044d8","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"bfada491.dd3ff8","order":3,"width":0,"height":0,"passthru":false,"label":"down 100","color":"","bgcolor":"","icon":"","payload":"w","payloadType":"str","topic":"","x":1000,"y":240,"wires":[[]]},{"id":"bd67d45d.fbf568","type":"serial out","z":"d57a87e2.037b18","name":"Focus","serial":"4afd81cf.3c415","x":410,"y":660,"wires":[]},{"id":"b01cef26.c8c63","type":"ui_slider","z":"d57a87e2.037b18","name":"","label":"light","group":"bfada491.dd3ff8","order":10,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"6","step":1,"x":110,"y":660,"wires":[["bd67d45d.fbf568"]]},{"id":"d1e61878.c9d228","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"bfada491.dd3ff8","order":4,"width":0,"height":0,"passthru":false,"label":"up 10","color":"","bgcolor":"","icon":"","payload":"a","payloadType":"str","topic":"","x":990,"y":280,"wires":[[]]},{"id":"4df0b9db.5509f8","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"bfada491.dd3ff8","order":5,"width":0,"height":0,"passthru":false,"label":"down 10","color":"","bgcolor":"","icon":"","payload":"s","payloadType":"str","topic":"","x":1000,"y":320,"wires":[[]]},{"id":"25f23774.a3bf58","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"bfada491.dd3ff8","order":6,"width":0,"height":0,"passthru":false,"label":"up 1","color":"","bgcolor":"","icon":"","payload":"z","payloadType":"str","topic":"","x":990,"y":360,"wires":[[]]},{"id":"af8f718f.6c06e","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"bfada491.dd3ff8","order":7,"width":0,"height":0,"passthru":false,"label":"down 1","color":"","bgcolor":"","icon":"","payload":"x","payloadType":"str","topic":"","x":1000,"y":400,"wires":[[]]},{"id":"561374d6.4854bc","type":"ui_template","z":"d57a87e2.037b18","group":"bfada491.dd3ff8","name":"iframe COMMENTED OUT","order":2,"width":"0","height":"0","format":"<!--<iframe style=\"width:800px; height:800px;\" frameborder=\"0\" scrolling=\"yes\" marginheight=\"0\" marginwidth=\"0\" src=\"http://raspberrypi.local/html/\"></iframe>-->\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1040,"y":580,"wires":[[]]},{"id":"292d890e.72337e","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"bfada491.dd3ff8","order":8,"width":0,"height":0,"passthru":false,"label":"Off","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":990,"y":460,"wires":[[]]},{"id":"6fbc620f.27eeac","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"bfada491.dd3ff8","order":9,"width":0,"height":0,"passthru":false,"label":"On","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"str","topic":"","x":990,"y":520,"wires":[[]]},{"id":"2b9bee1a.c32fa2","type":"ui_slider","z":"d57a87e2.037b18","name":"","label":"position","group":"5c0f011e.a15d2","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"5000","step":1,"x":100,"y":720,"wires":[["ed301631.c69cc8","82904dc3.339db"]]},{"id":"ed301631.c69cc8","type":"function","z":"d57a87e2.037b18","name":"motor flag","func":"msg.payload = \"m:\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":720,"wires":[["bd67d45d.fbf568","d8195ea9.97094"]]},{"id":"dadfb990.fbf138","type":"debug","z":"d57a87e2.037b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":920,"wires":[]},{"id":"d8195ea9.97094","type":"change","z":"d57a87e2.037b18","name":"","rules":[{"t":"set","p":"position","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":740,"wires":[[]]},{"id":"bcaea4aa.5c8418","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"5c0f011e.a15d2","order":1,"width":0,"height":0,"passthru":false,"label":"White On","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":80,"y":820,"wires":[["786eb338.65296c"]]},{"id":"acb72d02.55aa3","type":"http request","z":"d57a87e2.037b18","name":"","method":"POST","ret":"txt","url":"http://LEDcontroller.local","tls":"","x":490,"y":880,"wires":[[]]},{"id":"786eb338.65296c","type":"function","z":"d57a87e2.037b18","name":"","func":"var id = flow.get(\"LED_id\");\nvar com = id+\",1\";\nmsg.payload = { led: com };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":820,"wires":[["acb72d02.55aa3"]]},{"id":"b4da2ae8.8e18f8","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"5c0f011e.a15d2","order":2,"width":0,"height":0,"passthru":false,"label":"White Off","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":80,"y":860,"wires":[["c05b0f86.96187"]]},{"id":"c05b0f86.96187","type":"function","z":"d57a87e2.037b18","name":"","func":"var id = flow.get(\"LED_id\");\nvar com = id+\",0\";\nmsg.payload = { led: com };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":860,"wires":[["acb72d02.55aa3"]]},{"id":"997ed1d.3050a3","type":"ui_numeric","z":"d57a87e2.037b18","name":"","label":"","group":"5c0f011e.a15d2","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"24","step":1,"x":300,"y":1040,"wires":[["5c0dc296.d8c02c","aec1c204.f742f"]]},{"id":"5c0dc296.d8c02c","type":"ui_slider","z":"d57a87e2.037b18","name":"","label":"LED id","group":"5c0f011e.a15d2","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"24","step":1,"x":330,"y":1140,"wires":[["997ed1d.3050a3","aec1c204.f742f"]]},{"id":"aec1c204.f742f","type":"trigger","z":"d57a87e2.037b18","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":500,"y":1060,"wires":[["addf09c8.1277a8"]]},{"id":"addf09c8.1277a8","type":"change","z":"d57a87e2.037b18","name":"","rules":[{"t":"set","p":"LED_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1060,"wires":[[]]},{"id":"34146f51.8a38a","type":"inject","z":"d57a87e2.037b18","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1140,"wires":[["997ed1d.3050a3","5c0dc296.d8c02c"]]},{"id":"976115b2.2f4028","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"5c0f011e.a15d2","order":3,"width":0,"height":0,"passthru":false,"label":"All Off","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":70,"y":900,"wires":[["6d55b6e1.34c2e8"]]},{"id":"6d55b6e1.34c2e8","type":"function","z":"d57a87e2.037b18","name":"","func":"msg.payload = { led: \"100,0\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":910,"wires":[["acb72d02.55aa3"]]},{"id":"82904dc3.339db","type":"ui_numeric","z":"d57a87e2.037b18","name":"","label":"Position","group":"5c0f011e.a15d2","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"5000","step":1,"x":100,"y":780,"wires":[["2b9bee1a.c32fa2","ea03ce7d.ab0c7"]]},{"id":"e0434740.ad20e8","type":"ui_slider","z":"d57a87e2.037b18","name":"","label":"Brightness","group":"5c0f011e.a15d2","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":120,"y":1000,"wires":[["2ad8826a.2b4ffe"]]},{"id":"2ad8826a.2b4ffe","type":"function","z":"d57a87e2.037b18","name":"","func":"var msg1 = msg\nvalue = msg.payload;\nmsg1.payload = { brightness: value };\nmsg1.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg1;","outputs":1,"noerr":0,"x":310,"y":1000,"wires":[["dadfb990.fbf138","acb72d02.55aa3"]]},{"id":"5e0ee183.67f13","type":"ui_template","z":"d57a87e2.037b18","group":"b93af33c.7a855","name":"","order":0,"width":"7","height":"20","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":500,"y":420,"wires":[[]]},{"id":"39b9aa71.981666","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"5c0f011e.a15d2","order":0,"width":0,"height":0,"passthru":false,"label":"Camera1","color":"","bgcolor":"","icon":"","payload":"http://camera1.local:1880/ui/","payloadType":"str","topic":"","x":200,"y":420,"wires":[["5d21d71c.092c98"]]},{"id":"955f0da1.adf34","type":"inject","z":"d57a87e2.037b18","name":"","topic":"","payload":"http://camera1.local:1880/ui/","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":380,"wires":[["5d21d71c.092c98"]]},{"id":"5d21d71c.092c98","type":"template","z":"d57a87e2.037b18","name":"","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe width=\"350\" height=\"1600\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" \n src=\"{{payload}}\"></iframe>","output":"str","x":360,"y":420,"wires":[["5e0ee183.67f13"]]},{"id":"ea03ce7d.ab0c7","type":"trigger","z":"d57a87e2.037b18","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":300,"y":780,"wires":[["61a5e574.ca782c"]]},{"id":"61a5e574.ca782c","type":"delay","z":"d57a87e2.037b18","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":800,"wires":[["ed301631.c69cc8"]]},{"id":"c5dd7c53.c5f2f","type":"ui_button","z":"d57a87e2.037b18","name":"","group":"5c0f011e.a15d2","order":0,"width":0,"height":0,"passthru":false,"label":"Camera2","color":"","bgcolor":"","icon":"","payload":"http://www.hamsterdance.org/hamsterdance/","payloadType":"str","topic":"","x":200,"y":460,"wires":[["5d21d71c.092c98"]]}]