Linux-layer/Docker-Testing/MicroHub-Docker/data/flows.json
[{"id":"fc06c4a.4b34f38","type":"tab","label":"Main-Imaging","disabled":false,"info":""},{"id":"4e55d630.ae2828","type":"tab","label":"Z-Stack-Imaging","disabled":false,"info":""},{"id":"4f262a61.07b8b4","type":"tab","label":"AWS stuff","disabled":false,"info":""},{"id":"796b600a.c4d14","type":"tab","label":"Get params","disabled":false,"info":""},{"id":"479e74d2.b79f7c","type":"tab","label":"Queue","disabled":false,"info":""},{"id":"9ba40ab2.4e0b68","type":"tab","label":"Temperature Sensing","disabled":false,"info":""},{"id":"e10c82fa.d191","type":"tab","label":"transfer-test","disabled":true,"info":""},{"id":"b9bddf6c.07f59","type":"tab","label":"Enable all cameras","disabled":false,"info":""},{"id":"9b45dad9.22d6a8","type":"tab","label":"Update Shadow State","disabled":false,"info":""},{"id":"c5b6851a.4db048","type":"tab","label":"Livestream","disabled":false,"info":""},{"id":"db5c4358.ae13","type":"tab","label":"start tinc and nginx","disabled":true,"info":""},{"id":"b67af707.a83ae8","type":"tab","label":"Autoculture_comm_test","disabled":true,"info":""},{"id":"ac0fa539.0d2b4","type":"tab","label":"Push Updates","disabled":false,"info":""},{"id":"d6e37d9a.6a67f","type":"tab","label":"Test new broker","disabled":true,"info":""},{"id":"a069fee2.87eee","type":"tab","label":"change wifi for all cameras","disabled":false,"info":""},{"id":"a9bb8256.88dc2","type":"ui_group","name":"Default","tab":"b8e6c56e.53b4b8","order":1,"disp":false,"width":"12","collapse":false},{"id":"b8e6c56e.53b4b8","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"107dd3a5.86a78c","type":"mqtt-broker","name":"","broker":"microscopehub.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7642363e.06e4f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"70e1910e.ab59a","type":"ui_group","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"bfb44075.6ece3","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6"},{"id":"c438778e.a28198","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"fcb713a6.99bf8","type":"ui_group","name":"Performance","tab":"","disp":true,"width":"6"},{"id":"2cab7ad.282d386","type":"mqtt-broker","name":"","broker":"mqttBroker","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"135fd196.02214e","type":"ui_tab","name":"Home","icon":"dashboard","order":1},{"id":"2f3e927e.28ba7e","type":"ui_group","name":"Dashboard","tab":"135fd196.02214e","order":1,"disp":true,"width":"6","collapse":false},{"id":"ee54ca4b.427da8","type":"ui_tab","name":"Disabled","icon":"dashboard","order":2},{"id":"6fae05a3.d7742c","type":"ui_group","name":"temporary","tab":"ee54ca4b.427da8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9606b430.626f88","type":"ui_group","name":"Camera","tab":"135fd196.02214e","order":2,"disp":true,"width":"7","collapse":false},{"id":"7c9af3d7.1e97bc","type":"mqtt-broker","name":"Braingeneers","broker":"ahp00abmtph4i-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"43906f87.b8743","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"376dbcff.a3dff4","type":"tls-config","name":"aws-iot-certs","cert":"","key":"","ca":"","certname":"dev-1.cert.pem","keyname":"dev-1.private.key","caname":"root-CA.crt","servername":"","verifyservercert":false},{"id":"43906f87.b8743","type":"tls-config","name":"Evee","cert":"","key":"","ca":"","certname":"4a8d92f0da-certificate.pem.crt","keyname":"4a8d92f0da-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"ca0899c6.fc0ac8","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"a7f66471.1da628","type":"tls-config","name":"Andy","cert":"","key":"","ca":"","certname":"9c0b11f5d8-certificate.pem.crt","keyname":"9c0b11f5d8-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"e3ed42fb.96a888","type":"mqtt-broker","name":"brain-server","broker":"http://braingeneers.gi.ucsc.edu","port":"1883","clientid":"eveeeeeee","autoConnect":false,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"15d42c8d.d70de3","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":240,"wires":[]},{"id":"eb82db9c.704468","type":"mqtt in","z":"fc06c4a.4b34f38","name":"camCommand","topic":"camCommand","qos":"2","datatype":"auto-detect","broker":"2cab7ad.282d386","nl":false,"rap":false,"inputs":0,"x":120.66669464111328,"y":86.66667079925537,"wires":[["1976c586.c0edba"]]},{"id":"3019419d.6f79ee","type":"mqtt out","z":"fc06c4a.4b34f38","name":"camCommand","topic":"camCommand","qos":"","retain":"","broker":"2cab7ad.282d386","x":800,"y":380,"wires":[]},{"id":"1976c586.c0edba","type":"debug","z":"fc06c4a.4b34f38","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":322.6666946411133,"y":94.66666412353516,"wires":[]},{"id":"ea9c2ae7.d37d18","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":18,"width":0,"height":0,"passthru":false,"label":"Take Picture","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":124.33335876464844,"y":470.333309173584,"wires":[["39d3f6b9.7b4dba","fe8afee.77fe7"]]},{"id":"1e817b7e.4563f5","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"up 100","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":155.66669464111328,"y":764.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"11fba1ea.17f05e","type":"serial out","z":"fc06c4a.4b34f38","name":"Focus","serial":"ca0899c6.fc0ac8","x":1590,"y":500,"wires":[]},{"id":"41560357.45bd4c","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"light","group":"6fae05a3.d7742c","order":10,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"6","step":1,"x":90.66669845581055,"y":544.9999885559082,"wires":[["11fba1ea.17f05e","55cbd40a.b8c6fc"]]},{"id":"3c1a0489.4bc89c","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"position","group":"2f3e927e.28ba7e","order":13,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"5000","step":1,"x":168.66669464111328,"y":634.6666650772095,"wires":[["25f17217.8e2f1e"]]},{"id":"15168339.fcc5ed","type":"function","z":"fc06c4a.4b34f38","name":"motor flag","func":"if (msg.payload == \"reset\"){\n    msg.payload = \"r:0\";\n}\nelse{ \n    msg.payload = \"m:\"+msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["d6058796.5753a8","55cbd40a.b8c6fc","25cdf24f.0e093e"]]},{"id":"65741099.8b934","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":499.66668701171875,"y":1161.6666259765625,"wires":[]},{"id":"4883e672.7a1808","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"position","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":660,"wires":[[]]},{"id":"7fd612a4.c40f2c","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":5,"width":0,"height":0,"passthru":false,"label":"White On","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":115.66669464111328,"y":997.6666650772095,"wires":[["ebf5570e.d2fe08"]]},{"id":"137c0a49.404e46","type":"http request","z":"fc06c4a.4b34f38","name":"","method":"POST","ret":"txt","url":"http://LEDcontroller.local","tls":"","x":822.6666870117188,"y":1006.6666259765625,"wires":[[]]},{"id":"ebf5570e.d2fe08","type":"function","z":"fc06c4a.4b34f38","name":"","func":"var id = flow.get(\"LED_id\");\nvar com = id+\",1\";\nmsg.payload = { led: com };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":365.6666946411133,"y":973.6666650772095,"wires":[["137c0a49.404e46"]]},{"id":"49e79963.938918","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":6,"width":0,"height":0,"passthru":false,"label":"White Off","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":115.66669464111328,"y":1037.6666650772095,"wires":[["91b3f067.b12a3"]]},{"id":"91b3f067.b12a3","type":"function","z":"fc06c4a.4b34f38","name":"","func":"var id = flow.get(\"LED_id\");\nvar com = id+\",0\";\nmsg.payload = { led: com };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":362.6666946411133,"y":1011.6666650772095,"wires":[["137c0a49.404e46"]]},{"id":"80c76eb1.a61","type":"ui_numeric","z":"fc06c4a.4b34f38","name":"","label":"","group":"2f3e927e.28ba7e","order":14,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"24","step":1,"x":380,"y":1500,"wires":[["ad72c38.3c9dc4","f53d10fe.64f1d"]]},{"id":"ad72c38.3c9dc4","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"LED id","group":"2f3e927e.28ba7e","order":15,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"24","step":1,"x":374,"y":1588,"wires":[["80c76eb1.a61","f53d10fe.64f1d"]]},{"id":"f53d10fe.64f1d","type":"trigger","z":"fc06c4a.4b34f38","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":579,"y":1531,"wires":[["da2fcc4b.b0eec"]]},{"id":"da2fcc4b.b0eec","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"LED_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":767,"y":1555,"wires":[[]]},{"id":"3567a835.b55ec8","type":"inject","z":"fc06c4a.4b34f38","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":197,"y":1565,"wires":[["80c76eb1.a61","ad72c38.3c9dc4"]]},{"id":"7b33ff29.7ca5f","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":10,"width":0,"height":0,"passthru":false,"label":"All Off","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":110,"y":1080,"wires":[["55988a38.445ba4"]]},{"id":"55988a38.445ba4","type":"function","z":"fc06c4a.4b34f38","name":"turn off lights","func":"msg.payload = { led: \"100,1\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":370.66668701171875,"y":1048.6666259765625,"wires":[["137c0a49.404e46","7b303f4b.3f389"]]},{"id":"25f17217.8e2f1e","type":"ui_numeric","z":"fc06c4a.4b34f38","name":"","label":"Position","group":"2f3e927e.28ba7e","order":12,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"5000","step":1,"x":163.66669464111328,"y":708.6666650772095,"wires":[["3c1a0489.4bc89c","30237f9c.98e74"]]},{"id":"e2540324.99327","type":"ui_slider","z":"fc06c4a.4b34f38","name":"","label":"Brightness","group":"2f3e927e.28ba7e","order":17,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":119.33330535888672,"y":1516.3333349227905,"wires":[["ae7d87a3.3aa418","171501ff.e34b1e"]]},{"id":"3b11b7fa.2e3888","type":"function","z":"fc06c4a.4b34f38","name":"","func":"var msg1 = msg\nvalue = msg.payload;\nmsg1.payload = { brightness: value };\nmsg1.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg1;","outputs":1,"noerr":0,"x":569.3333053588867,"y":1456.3333349227905,"wires":[["137c0a49.404e46"]]},{"id":"30237f9c.98e74","type":"trigger","z":"fc06c4a.4b34f38","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":440,"y":720,"wires":[["4883e672.7a1808","15168339.fcc5ed","25b1421a.8ad01e"]]},{"id":"6b42149.7d9c5ec","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":11,"width":0,"height":0,"passthru":false,"label":"All On","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":103.66669464111328,"y":1110.6666259765625,"wires":[["b2985dc0.818b"]]},{"id":"b2985dc0.818b","type":"function","z":"fc06c4a.4b34f38","name":"turn on lights","func":"msg.payload = { led: \"100,0\" };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":367.66668701171875,"y":1104.6666259765625,"wires":[["6176b1e4.0f50b","4285a0b5.eebd1"]]},{"id":"ddc5b270.9141d","type":"function","z":"fc06c4a.4b34f38","name":"","func":"pos = global.get(\"position\") || 0;\nmsg.payload += pos;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":800,"wires":[["3c1a0489.4bc89c"]]},{"id":"d73f5d61.e97ee","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":2,"width":0,"height":0,"passthru":false,"label":"down 100","color":"","bgcolor":"","icon":"","payload":"-100","payloadType":"num","topic":"","x":163.66669464111328,"y":802.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"49563f5d.a217f","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":3,"width":0,"height":0,"passthru":false,"label":"up 10","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":153.66669464111328,"y":841.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"89db2c3f.67215","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":4,"width":0,"height":0,"passthru":false,"label":"down 10","color":"","bgcolor":"","icon":"","payload":"-10","payloadType":"num","topic":"","x":162.66669464111328,"y":878.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"f7925e6e.46c87","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":7,"width":0,"height":0,"passthru":false,"label":"up 1","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":153.66669464111328,"y":916.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"996447ce.c0b0b8","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":8,"width":0,"height":0,"passthru":false,"label":"down 1","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"num","topic":"","x":161.66669464111328,"y":956.6666650772095,"wires":[["ddc5b270.9141d"]]},{"id":"d6058796.5753a8","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":600,"wires":[]},{"id":"24b78cba.012e04","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":9,"width":0,"height":0,"passthru":false,"label":"set 0","color":"","bgcolor":"","icon":"","payload":"c:0","payloadType":"str","topic":"","x":91.33336639404297,"y":586.3333549499512,"wires":[["bba2e5f6.df2c08","d6058796.5753a8","11fba1ea.17f05e","55cbd40a.b8c6fc"]]},{"id":"bba2e5f6.df2c08","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330.16668701171875,"y":596.6666870117188,"wires":[["3c1a0489.4bc89c","4883e672.7a1808","25b1421a.8ad01e"]]},{"id":"7ec64965.2f3898","type":"inject","z":"fc06c4a.4b34f38","name":"take picture every so often","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":174.16668701171875,"y":323.6666564941406,"wires":[[]]},{"id":"39d3f6b9.7b4dba","type":"trigger","z":"fc06c4a.4b34f38","name":"","op1":"","op2":"100","op1type":"nul","op2type":"num","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":410,"y":360,"wires":[["3019419d.6f79ee"]]},{"id":"fe8afee.77fe7","type":"link out","z":"fc06c4a.4b34f38","name":"","links":["3295d941.316736","53b80033.4435"],"x":559.1666946411133,"y":342.6666650772095,"wires":[]},{"id":"3295d941.316736","type":"link in","z":"fc06c4a.4b34f38","name":"","links":["fe8afee.77fe7"],"x":55.16669464111328,"y":1164.6666650772095,"wires":[["b2985dc0.818b","cbab32ee.a5e46"]]},{"id":"ae7d87a3.3aa418","type":"ui_numeric","z":"fc06c4a.4b34f38","name":"","label":"brightness","group":"2f3e927e.28ba7e","order":16,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":119.33330535888672,"y":1456.3333349227905,"wires":[["e2540324.99327"]]},{"id":"171501ff.e34b1e","type":"trigger","z":"fc06c4a.4b34f38","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":349.3333053588867,"y":1456.3333349227905,"wires":[["3b11b7fa.2e3888"]]},{"id":"25b1421a.8ad01e","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"start-position","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":660,"wires":[[]]},{"id":"99165736.5f16c8","type":"link in","z":"fc06c4a.4b34f38","name":"move camera","links":["70f81f8.ea12be"],"x":544.1666870117188,"y":761.6666870117188,"wires":[["15168339.fcc5ed","f4a70ceb.307be"]]},{"id":"cbab32ee.a5e46","type":"function","z":"fc06c4a.4b34f38","name":"z-stack-check","func":"if (global.get(\"z-stack-start\") === true ){\n    global.set(\"z-stack-start\", false);\n    return [null,msg];\n}\nelse\n    return [msg,null];","outputs":2,"noerr":0,"x":168.16669464111328,"y":1186.6666259765625,"wires":[["65741099.8b934"],["fce72e28.d0edc"]]},{"id":"fce72e28.d0edc","type":"link out","z":"fc06c4a.4b34f38","name":"trigger-next-stack","links":["13ac7eea.044fe1"],"x":809.1666870117188,"y":1172.6666259765625,"wires":[]},{"id":"f13c4113.574e3","type":"link in","z":"fc06c4a.4b34f38","name":"trigger z-stack start","links":["39829108.2035be"],"x":315,"y":140,"wires":[["fe8afee.77fe7","5a304204.0369bc"]]},{"id":"fbac947b.1b40a8","type":"link in","z":"fc06c4a.4b34f38","name":"trigger-z-stack-next","links":["7ac9e93b.8c2e78"],"x":363.16668701171875,"y":265.6666717529297,"wires":[["fe8afee.77fe7","53b5f94a.e79ac8"]]},{"id":"8ade422c.c81ca","type":"change","z":"fc06c4a.4b34f38","name":"trigger z-stack end","rules":[{"t":"set","p":"payload","pt":"msg","to":"103","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":280,"wires":[["6bcc9655.740588","55988a38.445ba4"]]},{"id":"aef9ebcf.fcadf8","type":"link in","z":"fc06c4a.4b34f38","name":"trigger z-stack-end","links":["97cd527f.2deef"],"x":335,"y":300,"wires":[["8ade422c.c81ca","bba2e5f6.df2c08","1c3a6ae0.9f8f55"]]},{"id":"53b5f94a.e79ac8","type":"change","z":"fc06c4a.4b34f38","name":"trigger z-stack picture","rules":[{"t":"set","p":"payload","pt":"msg","to":"102","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[["3019419d.6f79ee","83765046.c7a2a"]]},{"id":"664c33b2.e1402c","type":"change","z":"fc06c4a.4b34f38","name":"trigger z-stack start","rules":[{"t":"set","p":"payload","pt":"msg","to":"101","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":140,"wires":[[]]},{"id":"b1255d31.3febe","type":"inject","z":"fc06c4a.4b34f38","name":"test mid","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":187.66668701171875,"y":237.6666717529297,"wires":[["53b5f94a.e79ac8"]]},{"id":"e6ca4e85.d7b6","type":"inject","z":"fc06c4a.4b34f38","name":"test end","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":187.66668701171875,"y":278.6666564941406,"wires":[["8ade422c.c81ca"]]},{"id":"5a304204.0369bc","type":"function","z":"fc06c4a.4b34f38","name":"add uuid and timestamp","func":"var uuid = global.get(\"uuid\") || \"4-gfp-test\"\nvar date = new Date();\n//var timestamp = date.getTime();\nvar timestamp = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) + 'T' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\n\nglobal.set(\"last-timestamp\", timestamp)\nmsg.payload = {}\nmsg.payload[\"uuid\"] = uuid;\nmsg.payload[\"timestamp\"] = timestamp;\nmsg.path = \"/home/pi/Pictures/\"+uuid+\"/\"+timestamp\nreturn msg;","outputs":1,"noerr":0,"x":604.5,"y":199,"wires":[["15d42c8d.d70de3","f1f062e.dbfe3a","7804c8d6.97f2c8","8cbc9e3d.32383"]]},{"id":"7804c8d6.97f2c8","type":"json","z":"fc06c4a.4b34f38","name":"","property":"payload","action":"","pretty":false,"x":930.5,"y":326,"wires":[["3019419d.6f79ee"]]},{"id":"2a2ff78c.245478","type":"inject","z":"fc06c4a.4b34f38","name":"test stack start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":156,"y":198,"wires":[["5a304204.0369bc"]]},{"id":"cbc60ca2.8de5","type":"comment","z":"fc06c4a.4b34f38","name":"used to delay here for starting lights","info":"","x":620,"y":80,"wires":[]},{"id":"f1f062e.dbfe3a","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"path","pt":"global","to":"path","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":876.5,"y":146,"wires":[[]]},{"id":"6bcc9655.740588","type":"link out","z":"fc06c4a.4b34f38","name":"to manifest.json","links":["c7fd9bbb.a250d8","e48e28bd.acf7e8","aeba1033.3def9"],"x":906.5,"y":283,"wires":[]},{"id":"8cbc9e3d.32383","type":"link out","z":"fc06c4a.4b34f38","name":"add uuid to manifest","links":[],"x":960.5,"y":196,"wires":[]},{"id":"11487951.dd4e57","type":"mqtt in","z":"fc06c4a.4b34f38","name":"","topic":"pic-taken","qos":"2","broker":"2cab7ad.282d386","inputs":0,"x":100,"y":1240,"wires":[["71f0e8c.2f36d18","f96bf5c2.b1da08"]]},{"id":"71f0e8c.2f36d18","type":"trigger","z":"fc06c4a.4b34f38","name":"wait-for-picture","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","outputs":1,"x":480,"y":1220,"wires":[["d26abea3.e1885"]]},{"id":"f4a70ceb.307be","type":"function","z":"fc06c4a.4b34f38","name":"motor flag","func":"if (msg.payload == \"reset\"){\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":720,"wires":[["4883e672.7a1808"]]},{"id":"d26abea3.e1885","type":"function","z":"fc06c4a.4b34f38","name":"z-stack-check","func":"if (global.get(\"z-stack-flag\") === true ){\n    return msg\n}\nreturn null","outputs":1,"noerr":0,"x":740,"y":1220,"wires":[["fce72e28.d0edc"]]},{"id":"eb342283.85235","type":"ui_button","z":"fc06c4a.4b34f38","name":"","group":"2f3e927e.28ba7e","order":1,"width":0,"height":0,"passthru":false,"label":"recover","color":"","bgcolor":"","icon":"","payload":"r:0","payloadType":"str","topic":"","x":101.66667175292969,"y":507.6666531562805,"wires":[["bba2e5f6.df2c08","11fba1ea.17f05e","55cbd40a.b8c6fc"]]},{"id":"d8d64411.8cd968","type":"change","z":"fc06c4a.4b34f38","name":"reset motor","rules":[{"t":"set","p":"payload","pt":"msg","to":"r:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":400,"wires":[["d6058796.5753a8","55cbd40a.b8c6fc","25cdf24f.0e093e"]]},{"id":"d3099098.8eebe","type":"inject","z":"fc06c4a.4b34f38","name":"reset motor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":152.5,"y":361,"wires":[["d8d64411.8cd968","bba2e5f6.df2c08"]]},{"id":"6176b1e4.0f50b","type":"switch","z":"fc06c4a.4b34f38","name":"legacy compatibility","property":"params.light_mode","propertyType":"global","rules":[{"t":"eq","v":"white","vt":"str"},{"t":"eq","v":"gfp","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":571,"y":1079,"wires":[["137c0a49.404e46","d759be94.7f6f4"],["94a7b3b7.24cdd"]]},{"id":"e05359d.d36fca8","type":"serial out","z":"fc06c4a.4b34f38","name":"GFP-light","serial":"ca0899c6.fc0ac8","x":1039,"y":1099,"wires":[]},{"id":"7b303f4b.3f389","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"l:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":832.5,"y":1061,"wires":[["e05359d.d36fca8","a320a954.c10448"]]},{"id":"94a7b3b7.24cdd","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"l:1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":832,"y":1100,"wires":[["e05359d.d36fca8","a320a954.c10448"]]},{"id":"b15f7e67.532ae","type":"inject","z":"fc06c4a.4b34f38","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":474.5,"y":910,"wires":[["55988a38.445ba4"]]},{"id":"882b9fb6.5925b","type":"inject","z":"fc06c4a.4b34f38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"l:0","payloadType":"str","x":301.6904411315918,"y":1672.476201057434,"wires":[["f820adcb.85d8b"]]},{"id":"f820adcb.85d8b","type":"mqtt out","z":"fc06c4a.4b34f38","name":"motorControl","topic":"motorControl","qos":"","retain":"","broker":"2cab7ad.282d386","x":779.9047164916992,"y":1675.904746055603,"wires":[]},{"id":"55cbd40a.b8c6fc","type":"mqtt out","z":"fc06c4a.4b34f38","name":"motorControl","topic":"motorControl","qos":"2","retain":"","broker":"2cab7ad.282d386","x":470,"y":480,"wires":[]},{"id":"a320a954.c10448","type":"mqtt out","z":"fc06c4a.4b34f38","name":"motorControl","topic":"motorControl","qos":"2","retain":"","broker":"2cab7ad.282d386","x":1048,"y":1031,"wires":[]},{"id":"d759be94.7f6f4","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"l:2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":835,"y":1137,"wires":[["a320a954.c10448","e05359d.d36fca8"]]},{"id":"a9ec3459.9e5eb8","type":"ui_switch","z":"fc06c4a.4b34f38","name":"","label":"white vs gfp","group":"2f3e927e.28ba7e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":114.83330535888672,"y":1731.3333349227905,"wires":[["a7177fd0.cbd88","7b303f4b.3f389"]]},{"id":"a7177fd0.cbd88","type":"switch","z":"fc06c4a.4b34f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":249.33330535888672,"y":1762.3333349227905,"wires":[["3ec0ebe3.ffb3e4","d6cad69a.7af778"],["1d833451.621cdc","e8c51f38.31e65"]]},{"id":"3ec0ebe3.ffb3e4","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"params.light_mode","pt":"global","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530.3333053588867,"y":1732.3333349227905,"wires":[[]]},{"id":"1d833451.621cdc","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"params.light_mode","pt":"global","to":"gfp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":505.3333053588867,"y":1789.3333349227905,"wires":[[]]},{"id":"d6cad69a.7af778","type":"delay","z":"fc06c4a.4b34f38","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":562.8333053588867,"y":1608.3333349227905,"wires":[["d759be94.7f6f4"]]},{"id":"e8c51f38.31e65","type":"delay","z":"fc06c4a.4b34f38","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":562.3333053588867,"y":1647.3333349227905,"wires":[["94a7b3b7.24cdd"]]},{"id":"74163096.8f9bf","type":"inject","z":"fc06c4a.4b34f38","name":"transfer speed test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test","payloadType":"str","x":170,"y":160,"wires":[["3019419d.6f79ee"]]},{"id":"cfe10bd3.e0afe8","type":"link in","z":"fc06c4a.4b34f38","name":"receive stop and reset","links":["6b579d0d.93c0e4"],"x":108.33332920074463,"y":415.0000066757202,"wires":[["d8d64411.8cd968","bba2e5f6.df2c08","55988a38.445ba4"]]},{"id":"e42e6f42.6f76c","type":"inject","z":"fc06c4a.4b34f38","name":"","repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"s:0","payloadType":"str","x":1150,"y":300,"wires":[["11fba1ea.17f05e"]]},{"id":"a5b2b957.84b1f8","type":"inject","z":"fc06c4a.4b34f38","name":"","repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"s:50","payloadType":"str","x":1270,"y":220,"wires":[["11fba1ea.17f05e"]]},{"id":"e8e7d11a.b94f","type":"serial in","z":"fc06c4a.4b34f38","name":"","serial":"ca0899c6.fc0ac8","x":1410,"y":720,"wires":[["7ff721de.86d86"]]},{"id":"7ff721de.86d86","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1630,"y":800,"wires":[]},{"id":"4cbce186.6707d","type":"inject","z":"fc06c4a.4b34f38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"t:0","payloadType":"str","x":1210,"y":260,"wires":[["11fba1ea.17f05e"]]},{"id":"e4d9fd39.bccb9","type":"debug","z":"fc06c4a.4b34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":1280,"wires":[]},{"id":"11c0080d.3e7188","type":"inject","z":"fc06c4a.4b34f38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1340,"wires":[["71f0e8c.2f36d18"]]},{"id":"637c2f70.65f55","type":"inject","z":"fc06c4a.4b34f38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":1380,"wires":[["71f0e8c.2f36d18"]]},{"id":"aae01f3c.3378b","type":"link in","z":"fc06c4a.4b34f38","name":"reset wait-for-picture","links":["6b579d0d.93c0e4"],"x":115,"y":1300,"wires":[["4156cd73.9d13b4"]]},{"id":"4156cd73.9d13b4","type":"change","z":"fc06c4a.4b34f38","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1280,"wires":[["71f0e8c.2f36d18"]]},{"id":"83765046.c7a2a","type":"trigger","z":"fc06c4a.4b34f38","name":"timeout-to-prevent-getting-stuck","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"20","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":500,"y":1260,"wires":[["d26abea3.e1885"]]},{"id":"f96bf5c2.b1da08","type":"change","z":"fc06c4a.4b34f38","name":"stop timeout","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1320,"wires":[["83765046.c7a2a"]]},{"id":"4285a0b5.eebd1","type":"switch","z":"fc06c4a.4b34f38","name":"","property":"params.light_mode","propertyType":"global","rules":[{"t":"eq","v":"Below","vt":"str"},{"t":"eq","v":"Above","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":555,"y":1123,"wires":[["137c0a49.404e46","d759be94.7f6f4"],["94a7b3b7.24cdd"]]},{"id":"ee33ba76.aeaab8","type":"link in","z":"fc06c4a.4b34f38","name":"aws-motor-command","links":["5233e7bd.cbde38"],"x":1255,"y":380,"wires":[["11fba1ea.17f05e"]]},{"id":"1c3a6ae0.9f8f55","type":"change","z":"fc06c4a.4b34f38","name":"go to zero (changed to reset)","rules":[{"t":"set","p":"payload","pt":"msg","to":"r:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":440,"wires":[["25cdf24f.0e093e"]]},{"id":"9a7271e.bce219","type":"link in","z":"fc06c4a.4b34f38","name":"set zero","links":["d134589e.38b448"],"x":1095,"y":380,"wires":[["25cdf24f.0e093e"]]},{"id":"25cdf24f.0e093e","type":"switch","z":"fc06c4a.4b34f38","name":"motor enable check","property":"Motors-Enabled","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1280,"y":460,"wires":[["11fba1ea.17f05e"]]},{"id":"30e2ba8a.17fc36","type":"ui_switch","z":"fc06c4a.4b34f38","name":"","label":"enable motors","tooltip":"","group":"2f3e927e.28ba7e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":1820,"wires":[["47e79a7e.906ce4"]]},{"id":"47e79a7e.906ce4","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"Motors-Enabled","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1860,"wires":[[]]},{"id":"bb9fe88f.8d0448","type":"inject","z":"fc06c4a.4b34f38","name":"enable motors","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":810,"y":840,"wires":[["356c6d65.95eed2"]]},{"id":"356c6d65.95eed2","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"Motors-Enabled","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":840,"wires":[[]]},{"id":"622b5561.8722ac","type":"inject","z":"fc06c4a.4b34f38","name":"enable motors","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-100","payloadType":"num","x":350,"y":860,"wires":[["ddc5b270.9141d"]]},{"id":"ea2c339c.d159a","type":"inject","z":"fc06c4a.4b34f38","name":"disable motors","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":820,"y":900,"wires":[["4f107336.f4560c"]]},{"id":"4f107336.f4560c","type":"change","z":"fc06c4a.4b34f38","name":"","rules":[{"t":"set","p":"Motors-Enabled","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":900,"wires":[[]]},{"id":"c3274924.344208","type":"inject","z":"fc06c4a.4b34f38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"c:1500","payloadType":"str","x":1350,"y":160,"wires":[["11fba1ea.17f05e"]]},{"id":"6d1478d.199ce88","type":"inject","z":"fc06c4a.4b34f38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"m:0","payloadType":"str","x":1510,"y":140,"wires":[["11fba1ea.17f05e"]]},{"id":"cf06a4e8.c1a58","type":"comment","z":"fc06c4a.4b34f38","name":"V 0.03","info":"","x":130,"y":40,"wires":[]},{"id":"d61f8fe8.a62b3","type":"inject","z":"4e55d630.ae2828","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["8ad05eae.68eba"]]},{"id":"5540d83a.eb8328","type":"function","z":"4e55d630.ae2828","name":"Move camera","func":"var pos = global.get(\"position\") || 0;\nvar parameters = global.get(\"params\");\nvar myCount = flow.get(\"stack-count\") || 1;\nvar endStack = { payload: null };\nif (myCount > parameters.stack_size){\n    //msg.payload = global.get(\"start-position\") || 0;\n    //msg.payload = \"reset\" //reset motor position \n    flow.set(\"stack-count\", 1);\n    global.set(\"z-stack-flag\", false);\n    endStack.payload = true\n    return [null,endStack]\n}\nelse{\n    //this is to compensate for making the z-stack start not take a picture\n    if(myCount > 1){\n        msg.payload = pos + parameters.step_size;\n    }\n    else{\n        msg.payload = pos + parameters.stack_offset; //for limit switch hysteresis\n        //msg.payload = pos\n        \n    }\n    myCount += 1;    \n    flow.set(\"stack-count\", myCount);\n}\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":373,"y":594,"wires":[["77bf75c9.f41b7c","70f81f8.ea12be","2cc86f38.8393f"],["97cd527f.2deef"]]},{"id":"70f81f8.ea12be","type":"link out","z":"4e55d630.ae2828","name":"move camera","links":["99165736.5f16c8"],"x":615,"y":560,"wires":[]},{"id":"696cfa56.56eb84","type":"change","z":"4e55d630.ae2828","name":"","rules":[{"t":"set","p":"z-stack-flag","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"z-stack-start","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":553.0000228881836,"y":359.3333377838135,"wires":[["5f00eeea.760c"]]},{"id":"13ac7eea.044fe1","type":"link in","z":"4e55d630.ae2828","name":"","links":["fce72e28.d0edc"],"x":175.5,"y":545,"wires":[["5540d83a.eb8328"]]},{"id":"39829108.2035be","type":"link out","z":"4e55d630.ae2828","name":"trigger-z-start","links":["f13c4113.574e3"],"x":835.5,"y":377,"wires":[]},{"id":"77bf75c9.f41b7c","type":"debug","z":"4e55d630.ae2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":520,"wires":[]},{"id":"5f00eeea.760c","type":"trigger","z":"4e55d630.ae2828","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":740,"y":330,"wires":[["39829108.2035be","16a034eb.3d28cb"]]},{"id":"efdded6d.06168","type":"inject","z":"4e55d630.ae2828","name":"stop","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":255.5,"y":420,"wires":[["cebb101d.6f477"]]},{"id":"cebb101d.6f477","type":"change","z":"4e55d630.ae2828","name":"","rules":[{"t":"set","p":"z-stack-flag","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"stack-count","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"state","pt":"global","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":420,"wires":[["335308cb.910d38"]]},{"id":"7ac9e93b.8c2e78","type":"link out","z":"4e55d630.ae2828","name":"trigger z-stack next","links":["fbac947b.1b40a8"],"x":1215,"y":620,"wires":[]},{"id":"97cd527f.2deef","type":"link out","z":"4e55d630.ae2828","name":"trigger z-stack end","links":["aef9ebcf.fcadf8","53b80033.4435"],"x":595,"y":680,"wires":[]},{"id":"2ef287cb.0856d8","type":"debug","z":"4e55d630.ae2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1278,"y":318,"wires":[]},{"id":"68313ece.ea8ef","type":"inject","z":"4e55d630.ae2828","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":975,"y":346,"wires":[["5340846f.90316c"]]},{"id":"c0faf5c.49bf908","type":"exec","z":"4e55d630.ae2828","command":"mkdir -p","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1143.9999618530273,"y":253.0000057220459,"wires":[["2ef287cb.0856d8"],["2ef287cb.0856d8"],["2ef287cb.0856d8"]]},{"id":"5340846f.90316c","type":"change","z":"4e55d630.ae2828","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"path","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":984.3333740234375,"y":294.0000114440918,"wires":[["c0faf5c.49bf908"]]},{"id":"16a034eb.3d28cb","type":"trigger","z":"4e55d630.ae2828","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":779.9999923706055,"y":281.6666679382324,"wires":[["5340846f.90316c"]]},{"id":"b7235a7.dbdcfa8","type":"link in","z":"4e55d630.ae2828","name":"receive stop","links":["6b579d0d.93c0e4"],"x":155,"y":360,"wires":[["7aaad66f.8ab9d8"]]},{"id":"55e11a02.9354a4","type":"inject","z":"4e55d630.ae2828","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":364.1666946411133,"y":360.00001335144043,"wires":[["696cfa56.56eb84"]]},{"id":"8ad05eae.68eba","type":"function","z":"4e55d630.ae2828","name":"check interval and whether system is engaged","func":"var then = context.get(\"last-stack-time\") || 0\nvar transfer = global.get(\"transferring\") \nif (transfer === undefined) {\n    transfer = false; // cant do || assignment with bool false\n}\n\nif(transfer){\n    return null //don't start until transfer is finished\n}\n\nif (msg.payload == \"reset\"){\n    context.set(\"last-stack-time\",0)\n    flow.set(\"stack-count\", 1)\n    return null\n}\n\nvar now = msg.payload\nvar interval = global.get(\"params\").interval\n\nif(interval == -1){\n    //scheduler mode\n    return null\n}\n\nif(isNaN(interval)){ \n    node.error(\"interval is NaN\")\n    return null\n}\n\nvar state = global.get(\"state\")||\"stopped\";\nif (state == \"stopped\"){\n    return null\n}    \nif(Math.abs(now - then) > interval*1000*60*60){\n    context.set(\"last-stack-time\",now)\n    var go = { \"payload\": true}\n    return go\n}\nelse\n    return null\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":475,"y":208.33332633972168,"wires":[["696cfa56.56eb84","c7fde11d.49849"]]},{"id":"d2130b17.0613e8","type":"inject","z":"4e55d630.ae2828","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":114,"y":661,"wires":[[]]},{"id":"f80ad0e9.e1dc3","type":"debug","z":"4e55d630.ae2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":506,"y":730,"wires":[]},{"id":"1a98aa89.9e0b95","type":"inject","z":"4e55d630.ae2828","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"reset","payloadType":"str","x":106.5,"y":190,"wires":[["8ad05eae.68eba","cebb101d.6f477"]]},{"id":"feea46ca.1207c8","type":"link in","z":"4e55d630.ae2828","name":"reset output","links":["5cbc5966.c7fb08"],"x":155,"y":240,"wires":[["8ad05eae.68eba"]]},{"id":"468c78ea.3b7b28","type":"change","z":"4e55d630.ae2828","name":"","rules":[{"t":"set","p":"state","pt":"global","to":"engaged","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":395.00000762939453,"y":500.50000762939453,"wires":[[]]},{"id":"c4f31a30.195b28","type":"inject","z":"4e55d630.ae2828","name":"engage state","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":176.5,"y":486,"wires":[["468c78ea.3b7b28"]]},{"id":"1f1f9762.f072f9","type":"inject","z":"4e55d630.ae2828","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"reset","payloadType":"str","x":110,"y":80,"wires":[["8ad05eae.68eba"]]},{"id":"7aaad66f.8ab9d8","type":"change","z":"4e55d630.ae2828","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":300,"wires":[["8ad05eae.68eba"]]},{"id":"c7fde11d.49849","type":"change","z":"4e55d630.ae2828","name":"","rules":[{"t":"set","p":"transferring","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":180,"wires":[[]]},{"id":"2cc86f38.8393f","type":"switch","z":"4e55d630.ae2828","name":"","property":"stack-count","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":600,"wires":[["9f344e6e.6c151"],["4423e102.21441"]]},{"id":"8ec7bb48.9e2138","type":"debug","z":"4e55d630.ae2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":480,"wires":[]},{"id":"7cb3b283.616dbc","type":"inject","z":"4e55d630.ae2828","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":460,"wires":[["9f344e6e.6c151"]]},{"id":"de6475dc.5ba628","type":"delay","z":"4e55d630.ae2828","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1060,"y":620,"wires":[["8ec7bb48.9e2138","7ac9e93b.8c2e78"]]},{"id":"9f344e6e.6c151","type":"function","z":"4e55d630.ae2828","name":"delay for motors on initial offset","func":"var parameters = global.get(\"params\");\nmsg.delay = Math.abs(parameters.stack_offset) * 10 + 2000\n//offset size * 10 gives ~ 1 second per 100 steps, 2 second additional time for safety\nmsg.payload = true\nreturn msg\n\n","outputs":1,"noerr":0,"x":870,"y":580,"wires":[["de6475dc.5ba628"]]},{"id":"4423e102.21441","type":"function","z":"4e55d630.ae2828","name":"delay for motors","func":"var parameters = global.get(\"params\");\nmsg.delay = parameters.step_size * 10 + 2000\n//offset size * 10 gives ~ 1 second per 100 steps, 2 second additional time for safety\nmsg.payload = true\nreturn msg\n\n","outputs":1,"noerr":0,"x":820,"y":620,"wires":[["de6475dc.5ba628"]]},{"id":"335308cb.910d38","type":"function","z":"4e55d630.ae2828","name":"update shadow to reflect stopped state","func":"msg.payload = {}\nmsg.payload[\"experiment-state\"] = \"stopped\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":420,"wires":[["401685b5.a5680c"]]},{"id":"401685b5.a5680c","type":"link out","z":"4e55d630.ae2828","name":"shadow experiment stopped","links":["e03002b8.70dc2"],"x":935,"y":420,"wires":[]},{"id":"606552fb.cdf424","type":"function","z":"4e55d630.ae2828","name":"handle scheduler command and check whether system is engaged","func":"var transfer = global.get(\"transferring\") \nif (transfer === undefined) {\n    transfer = false; // cant do || assignment with bool false\n}\n\nif(transfer){\n    msg.payload = \"busy\"\n    return [msg, null] //don't start until transfer is finished\n}\n\nvar interval = global.get(\"params\").interval\n\nif(interval == -1){\n    //scheduler mode\n    msg.payload = true\n    return [msg, msg]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":540,"y":140,"wires":[["17acc67b.70733a"],["c7fde11d.49849","696cfa56.56eb84"]]},{"id":"18258232.cb90e6","type":"link in","z":"4e55d630.ae2828","name":"schedule-command","links":["29dfe6fb.072892"],"x":315,"y":60,"wires":[["606552fb.cdf424"]]},{"id":"17acc67b.70733a","type":"debug","z":"4e55d630.ae2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":80,"wires":[]},{"id":"c3c6f58f.5cbec8","type":"mqtt in","z":"4f262a61.07b8b4","name":"get-imaging-commands","topic":"","qos":"1","datatype":"auto","broker":"e3ed42fb.96a888","nl":false,"rap":false,"inputs":1,"x":260,"y":660,"wires":[["acf27736.54a5c8","79d9b506.c9613c"]]},{"id":"fe1b4f30.44fbf","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":720,"wires":[]},{"id":"6cf02691.4c3a88","type":"function","z":"4f262a61.07b8b4","name":"get uuid and process params","func":"old_uuid = global.get(\"uuid\") || null\nnode.warn(\"old uuid: \" + old_uuid)\nif (msg.topic.includes(\"start\") && msg.payload.hasOwnProperty(\"uuid\"))\n{\n    if(msg.payload.hasOwnProperty(\"params\")){\n        for(var key in msg.payload.params){\n            if (key != \"camera_params\" && key != \"light_mode\"){\n                msg.payload.params[key] = parseFloat(msg.payload.params[key])\n            }\n        }\n        global.set(\"params\", msg.payload.params)\n    }\n    \n    global.set(\"uuid\", msg.payload.uuid);\n    //set stop to ensure clean reset before experiment start\n    // global.set(\"state\", \"stopped\");\n    //global.set(\"state\", \"engaged\");\n    //move state engage to after the delay\n    var params = { payload: {\"params\":msg.payload.params} };\n    msg.payload = msg.payload.uuid;\n    node.warn(\"new uuid: \" + msg.payload)\n    if (msg.payload == old_uuid){ //updated params\n        node.warn(\"update\")\n        global.set(\"state\", \"engaged\");\n        //need to set state here because updating params is not a fresh start\n        return [null, null, params, null]\n    }\n    \n    return [msg, null, params, null]\n}\n\n\nelse if (msg.topic.includes(\"stop\")){\n    var uuid = global.get(\"uuid\")\n    var msg2 = { payload: uuid };\n    global.set(\"state\", \"stopped\");\n    return [null, msg2, null, null]\n}\n\nelse if (msg.topic.includes(\"scheduled\")){\n    return [null, null, null, msg]\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":880,"y":640,"wires":[["fb418e5c.52caa","df243b51.d6c6e8","6b579d0d.93c0e4","a3d810b6.0d277","e5cfa753.9f9f28"],["6b579d0d.93c0e4","8987d4fb.f79b28"],["c6f53c72.da815","48cf88f9.faa5c8","3a93b236.ae8c9e","c4396375.033"],["29dfe6fb.072892"]]},{"id":"df243b51.d6c6e8","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1220,"y":600,"wires":[]},{"id":"9e659ccc.9fb27","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":650.5,"y":618,"wires":[["6cf02691.4c3a88"]]},{"id":"d7acecea.1ab2f","type":"exec","z":"4f262a61.07b8b4","command":"mkdir -p","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1200,"y":740,"wires":[["56f44bfc.c2d914"],["56f44bfc.c2d914"],["56f44bfc.c2d914","50fb7bfe.8bed14"]]},{"id":"56f44bfc.c2d914","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":660,"wires":[]},{"id":"fb418e5c.52caa","type":"change","z":"4f262a61.07b8b4","name":"prepend path","rules":[{"t":"change","p":"payload","pt":"msg","from":"^","fromt":"re","to":"/home/pi/Pictures/","tot":"str"},{"t":"set","p":"experiment_path","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":700,"wires":[["d7acecea.1ab2f","df243b51.d6c6e8"]]},{"id":"f6911202.ec6de","type":"inject","z":"4f262a61.07b8b4","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":160,"wires":[["c0aff476.099d38","59c350bd.9e636"]]},{"id":"c0aff476.099d38","type":"file in","z":"4f262a61.07b8b4","name":"","filename":"/boot/hub-identifier.txt","format":"utf8","chunk":false,"sendError":false,"x":477.5,"y":189,"wires":[["d0b80d9d.dbca9"]]},{"id":"d0b80d9d.dbca9","type":"change","z":"4f262a61.07b8b4","name":"remove newline","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\r?\\n","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":678.5,"y":197,"wires":[["fbdc1637.ef88e8"]]},{"id":"fbdc1637.ef88e8","type":"change","z":"4f262a61.07b8b4","name":"","rules":[{"t":"set","p":"hub-id","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":866.5,"y":202,"wires":[[]]},{"id":"acf27736.54a5c8","type":"function","z":"4f262a61.07b8b4","name":"filter for hub id","func":"var hub_id = global.get(\"hub-id\") || \"boof\"\nif (msg.topic.includes(hub_id) && !msg.topic.includes(\"shadow\"))\n    return msg;\nelse \n    return null","outputs":1,"noerr":0,"initialize":"","finalize":"","x":466.5,"y":618,"wires":[["9e659ccc.9fb27","fe1b4f30.44fbf","d7c3bbf0.4e1fb8","672abb86.c6d6a4","cb1fd033.59d7e"]]},{"id":"656d8d3b.9010a4","type":"comment","z":"4f262a61.07b8b4","name":"Get and store Hub Identifier (ex, andy, buzz, etc)","info":"","x":602.5,"y":147,"wires":[]},{"id":"fc37965b.c9e408","type":"comment","z":"4f262a61.07b8b4","name":"Get and store Hub Identifier (ex, andy, buzz, etc)","info":"","x":440,"y":580,"wires":[]},{"id":"23818b10.a54f14","type":"inject","z":"4f262a61.07b8b4","name":"","props":[{"p":"payload","v":"{\"foo\":\"bar\"}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"foo\":\"bar\"}","payloadType":"json","x":310,"y":900,"wires":[["d587eb8d.913578"]]},{"id":"fc200ee7.bf511","type":"inject","z":"4f262a61.07b8b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":354.5,"y":959,"wires":[["22ab8f98.664b4"]]},{"id":"a29bfafa.d185f8","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1096.5,"y":1033,"wires":[]},{"id":"60afd67c.c76a48","type":"file in","z":"4f262a61.07b8b4","name":"read manifest","filename":"","format":"utf8","chunk":false,"sendError":false,"x":640,"y":980,"wires":[["68f9afe6.5dd7e"]]},{"id":"19548bb7.a837d4","type":"file","z":"4f262a61.07b8b4","name":"update manifest","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":998,"y":1107,"wires":[[]]},{"id":"68f9afe6.5dd7e","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":834,"y":974,"wires":[["a29bfafa.d185f8","a3ea7e78.2ff23"]]},{"id":"c7fd9bbb.a250d8","type":"link in","z":"4f262a61.07b8b4","name":"manifest.json","links":["6bcc9655.740588"],"x":403.5,"y":1087,"wires":[["22ab8f98.664b4"]]},{"id":"a3ea7e78.2ff23","type":"function","z":"4f262a61.07b8b4","name":"add to manifest","func":"var timestamp = global.get(\"last-timestamp\") || null\nvar cur_uuid = global.get(\"uuid\") || null\nvar a = msg.payload.captures\n//above line is passing a reference to a js object\n//a.push(timestamp)\naddItem(timestamp)\nreturn msg;\n\n\nfunction addItem(item) {\n  var index = a.findIndex(x => x == item)\n  if (index === -1) {\n    a.push(item);\n  }else {\n    node.warn(\"object already exists: \" + timestamp )\n  }\n}","outputs":1,"noerr":0,"x":796.5,"y":1045,"wires":[["a29bfafa.d185f8","41fa41d.678bfc"]]},{"id":"41fa41d.678bfc","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":641,"y":1104,"wires":[["c835c35.5976f4"]]},{"id":"d587eb8d.913578","type":"file in","z":"4f262a61.07b8b4","name":"add initial manifest info","filename":"","format":"utf8","chunk":false,"sendError":false,"x":610,"y":920,"wires":[["87ac5fe4.78cb6"]]},{"id":"5c67c9c1.410c88","type":"function","z":"4f262a61.07b8b4","name":"add to manifest","func":"var cur_uuid = global.get(\"uuid\") || null;\nvar params = global.get(\"params\") || null\nvar stack_size = params.stack_size || 15\nif(!(msg.payload.hasOwnProperty(\"uuid\"))){\n    msg.payload[\"uuid\"]= cur_uuid\n    msg.payload[\"num_wells\"]= 24\n    msg.payload[\"stack_size\"] = stack_size\n    msg.payload[\"captures\"]= []\n    msg.payload[\"params\"] = params\n    \n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1040,"y":920,"wires":[["a29bfafa.d185f8","41fa41d.678bfc","119e2a97.a4df05"]]},{"id":"87ac5fe4.78cb6","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":850,"y":920,"wires":[["5c67c9c1.410c88","a29bfafa.d185f8"]]},{"id":"50fb7bfe.8bed14","type":"function","z":"4f262a61.07b8b4","name":"check for success","func":"if (msg.payload.code === 0){\n    var path = global.get(\"experiment_path\")\n    msg.filename = path + \"/manifest.json\"\n    msg.payload = \"{}\"\n    return msg\n}\nelse \n    return null;","outputs":1,"noerr":0,"x":1450,"y":720,"wires":[["7b7368f.fc48398"]]},{"id":"7b7368f.fc48398","type":"file","z":"4f262a61.07b8b4","name":"make manifest","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1500,"y":980,"wires":[["548a1a70.5f80e4"]]},{"id":"c835c35.5976f4","type":"function","z":"4f262a61.07b8b4","name":"path to manifest","func":"var path = global.get(\"experiment_path\")\nmsg.filename = path + \"/manifest.json\"\nreturn msg\n","outputs":1,"noerr":0,"x":805,"y":1106,"wires":[["19548bb7.a837d4"]]},{"id":"22ab8f98.664b4","type":"function","z":"4f262a61.07b8b4","name":"path to manifest","func":"var path = global.get(\"experiment_path\")\nmsg.filename = path + \"/manifest.json\"\nreturn msg\n","outputs":1,"noerr":0,"x":460,"y":1019,"wires":[["60afd67c.c76a48"]]},{"id":"548a1a70.5f80e4","type":"function","z":"4f262a61.07b8b4","name":"path to manifest","func":"var path = global.get(\"experiment_path\")\nmsg.filename = path + \"/manifest.json\"\nreturn msg\n","outputs":1,"noerr":0,"x":680,"y":880,"wires":[["d587eb8d.913578"]]},{"id":"6b579d0d.93c0e4","type":"link out","z":"4f262a61.07b8b4","name":"send stop","links":["b7235a7.dbdcfa8","cfe10bd3.e0afe8","1900d073.fdae","ba8d55c1.5cc188","aae01f3c.3378b"],"x":1015,"y":800,"wires":[]},{"id":"a136cf1d.329e8","type":"inject","z":"4f262a61.07b8b4","name":"test start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","payload":"{\"uuid\":\"test2\",\"timestamp\":\"boofdoof\"}","payloadType":"json","x":655,"y":676,"wires":[["6cf02691.4c3a88"]]},{"id":"c6f53c72.da815","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1190,"y":660,"wires":[]},{"id":"48cf88f9.faa5c8","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":500,"wires":[["9fd7a27b.bc6ff"]]},{"id":"9fd7a27b.bc6ff","type":"file","z":"4f262a61.07b8b4","name":"","filename":"/home/pi/parameters/params.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1420,"y":500,"wires":[[]]},{"id":"3a93b236.ae8c9e","type":"function","z":"4f262a61.07b8b4","name":"filter for camera_params","func":"msg.payload = {\"cam_params\":msg.payload.params.camera_params}\nreturn msg;","outputs":1,"noerr":0,"x":1136.5,"y":233,"wires":[["a6f67dca.2d43c"]]},{"id":"a6f67dca.2d43c","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":1315,"y":233,"wires":[["7b33d39d.c0750c","b598f44e.bb1378"]]},{"id":"b598f44e.bb1378","type":"mqtt out","z":"4f262a61.07b8b4","name":"camCommand","topic":"camCommand","qos":"","retain":"","broker":"2cab7ad.282d386","x":1483,"y":191,"wires":[]},{"id":"7b33d39d.c0750c","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1485,"y":242,"wires":[]},{"id":"5cbc5966.c7fb08","type":"link out","z":"4f262a61.07b8b4","name":"reset interval","links":["feea46ca.1207c8"],"x":615,"y":380,"wires":[]},{"id":"e5cfa753.9f9f28","type":"change","z":"4f262a61.07b8b4","name":"start experiment","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"},{"t":"set","p":"state","pt":"global","to":"engaged","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":400,"wires":[["5cbc5966.c7fb08"]]},{"id":"72a319a5.a4fca8","type":"inject","z":"4f262a61.07b8b4","name":"","repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"params","payloadType":"global","x":957.5,"y":151,"wires":[["a90adf01.50dd6","7ed5ecd4.c0f8d4"]]},{"id":"a90adf01.50dd6","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1302,"y":141,"wires":[]},{"id":"7ed5ecd4.c0f8d4","type":"function","z":"4f262a61.07b8b4","name":"filter for camera_params","func":"msg.payload = {\"cam_params\":msg.payload.camera_params}\nreturn msg;","outputs":1,"noerr":0,"x":1134,"y":189,"wires":[["d11993a1.26805"]]},{"id":"d11993a1.26805","type":"json","z":"4f262a61.07b8b4","name":"","property":"payload","action":"","pretty":false,"x":1313,"y":191,"wires":[["b598f44e.bb1378"]]},{"id":"119e2a97.a4df05","type":"link out","z":"4f262a61.07b8b4","name":"upload manifest to s3","links":["96b3e447.af49c8","66f0b4d2.f29ddc"],"x":1319.0000829696655,"y":928.9999980926514,"wires":[]},{"id":"c4396375.033","type":"link out","z":"4f262a61.07b8b4","name":"update-shadow-params-in","links":["e03002b8.70dc2"],"x":855,"y":800,"wires":[]},{"id":"8987d4fb.f79b28","type":"function","z":"4f262a61.07b8b4","name":"update shadow to reflect stopped state","func":"msg.payload = {}\nmsg.payload[\"experiment-state\"] = \"stopped\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":880,"wires":[["d66abafa.835728"]]},{"id":"d66abafa.835728","type":"link out","z":"4f262a61.07b8b4","name":"update-shadow-stopped","links":["e03002b8.70dc2"],"x":1315,"y":880,"wires":[]},{"id":"59c350bd.9e636","type":"file in","z":"4f262a61.07b8b4","name":"","filename":"/boot/group-identifier.txt","format":"utf8","chunk":false,"sendError":false,"x":470,"y":240,"wires":[["a7ea6ed1.2475b"]]},{"id":"a7ea6ed1.2475b","type":"change","z":"4f262a61.07b8b4","name":"remove newline","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\r?\\n","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":240,"wires":[["d2121e8a.ad6e9","fd129cfe.3567a"]]},{"id":"d2121e8a.ad6e9","type":"change","z":"4f262a61.07b8b4","name":"","rules":[{"t":"set","p":"group-id","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[[]]},{"id":"fd129cfe.3567a","type":"function","z":"4f262a61.07b8b4","name":"update shadow to reflect group id","func":"id = msg.payload\nmsg.payload = {}\nmsg.payload[\"group-id\"] = id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":380,"wires":[["d66abafa.835728"]]},{"id":"ed33b8dc.c20908","type":"inject","z":"4f262a61.07b8b4","name":"test shadow update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":430,"y":340,"wires":[[]]},{"id":"a3d810b6.0d277","type":"function","z":"4f262a61.07b8b4","name":"update shadow to reflect engaged state","func":"msg.payload = {}\nmsg.payload[\"experiment-state\"] = \"engaged\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":420,"wires":[["d66abafa.835728"]]},{"id":"d7c3bbf0.4e1fb8","type":"function","z":"4f262a61.07b8b4","name":"process motor command","func":"var position = global.get(\"position\") || 0\nif (msg.topic.includes(\"z100\"))\n{\n    //msg.payload = msg.payload.camera\n    position = position + 100\n    global.set(\"position\",position)\n    msg.payload = \"m:\" + position \n    return msg\n}\nelse if (msg.topic.includes(\"xRight100\"))\n{\n    //msg.payload = msg.payload.camera\n    msg.payload = \"y:100\"\n    return msg\n}\nelse if (msg.topic.includes(\"xLeft100\"))\n{\n    //msg.payload = msg.payload.camera\n    msg.payload = \"y:-100\"\n    return msg\n}\nelse if (msg.topic.includes(\"yUp100\"))\n{\n    //msg.payload = msg.payload.camera\n    msg.payload = \"x:100\"\n    return msg\n}\nelse if (msg.topic.includes(\"yDown100\"))\n{\n    //msg.payload = msg.payload.camera\n    msg.payload = \"x:-100\"//\"y:-100\"\n    return msg\n}\nelse if (msg.topic.includes(\"lAbove\"))\n{\n    //msg.payload = msg.payload.camera\n    msg.payload = \"l:1\"\n    return msg\n}\nelse if (msg.topic.includes(\"lBelow\"))\n{\n    //msg.payload = msg.payload.camera\n    msg.payload = \"l:2\"\n    return msg\n}\nelse if (msg.topic.includes(\"lOff\"))\n{\n    //msg.payload = msg.payload.camera\n    msg.payload = \"l:0\"\n    return msg\n}\nelse if (msg.topic.includes(\"reset\"))\n{\n    position = 0\n    global.set(\"position\",position)\n    msg.payload = \"r:\" + position\n    return msg\n}    \nreturn null\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":760,"wires":[["c46e82f3.6bd2f","da2d9565.604ad8"]]},{"id":"c46e82f3.6bd2f","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":840,"wires":[]},{"id":"5233e7bd.cbde38","type":"link out","z":"4f262a61.07b8b4","name":"parse-aws-motor","links":["fbc87b67.263908","ee33ba76.aeaab8"],"x":815,"y":740,"wires":[]},{"id":"672abb86.c6d6a4","type":"function","z":"4f262a61.07b8b4","name":"process camera switch command","func":"if (msg.topic.includes(\"switch\"))\n{\n    return msg\n}\nreturn null\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":800,"wires":[["a06037cb.b3e4e8","c46e82f3.6bd2f"]]},{"id":"a06037cb.b3e4e8","type":"link out","z":"4f262a61.07b8b4","name":"switch-liveview","links":["c2ad8aab.857988"],"x":675,"y":800,"wires":[]},{"id":"da2d9565.604ad8","type":"trigger","z":"4f262a61.07b8b4","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":700,"y":760,"wires":[["5233e7bd.cbde38"]]},{"id":"cb1fd033.59d7e","type":"function","z":"4f262a61.07b8b4","name":"process stream stop command","func":"if (msg.topic.includes(\"sOff\"))\n{\n    msg.payload = \"all\"\n    return msg\n}\nreturn null\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":840,"wires":[["6912bcc5.6461c4"]]},{"id":"6912bcc5.6461c4","type":"link out","z":"4f262a61.07b8b4","name":"stop livestream","links":["1e11c7cd.c9b098","daf04517.aae6f8"],"x":615,"y":840,"wires":[]},{"id":"29dfe6fb.072892","type":"link out","z":"4f262a61.07b8b4","name":"scheduled-command","links":["18258232.cb90e6"],"x":1075,"y":700,"wires":[]},{"id":"79d9b506.c9613c","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":520,"wires":[]},{"id":"2b099a49bf44766d","type":"exec","z":"4f262a61.07b8b4","command":"cat /home/pi/.aws/credentials | grep -A 4 braingeneers-mqtt","addpay":false,"append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":340,"y":1360,"wires":[["28f0ce2f17902cdc","4f1eb0e4d0c209d6"],[],[]]},{"id":"4f1eb0e4d0c209d6","type":"function","z":"4f262a61.07b8b4","name":"","func":"var token = msg.payload.split('\\n')\nvar config = \"\"\nmsg[\"broker\"] = {}\nmsg[\"action\"] = \"connect\"\nvar dict_sub = {\"profile-id\":\"username\", \"profile-key\": \"password\", \"endpoint\":\"broker\"}\nvar key = \"\"\nfor(var i in token){\n    // node.warn(token[i]);\n    config = token[i].split('=')\n    if (config.length == 2){\n        // node.warn(\"config0 \" + config[0])\n        // node.warn(\"config1 \" + config[1])\n        // flow.set(config[0].trim(), config[1].trim())\n        key = config[0].trim()\n        // substitute values to fit mqtt config requirements\n        if (key in dict_sub) key = dict_sub[key]\n        msg.broker[key] = config[1].trim()\n    }\n}\nmsg.payload = null\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1360,"wires":[["28f0ce2f17902cdc","c3c6f58f.5cbec8"]]},{"id":"28f0ce2f17902cdc","type":"debug","z":"4f262a61.07b8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":1280,"wires":[]},{"id":"993c4ad3b1912381","type":"inject","z":"4f262a61.07b8b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1240,"wires":[["2b099a49bf44766d"]]},{"id":"bea8523ef9159126","type":"inject","z":"4f262a61.07b8b4","name":"","props":[{"p":"action","v":"subscribe","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"imaging/#","x":130,"y":580,"wires":[["c3c6f58f.5cbec8"]]},{"id":"dc2fa705.121848","type":"file in","z":"796b600a.c4d14","name":"","filename":"/home/pi/parameters/params.json","format":"utf8","chunk":false,"sendError":false,"x":256.5,"y":209,"wires":[["2fd06456.8e410c"]]},{"id":"1c379ee8.6a8b31","type":"inject","z":"796b600a.c4d14","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":102.5,"y":151,"wires":[["dc2fa705.121848"]]},{"id":"29a546e8.bf6aca","type":"function","z":"796b600a.c4d14","name":"get params","func":"global.set(\"params\",msg.payload.params)\nreturn msg;","outputs":1,"noerr":0,"x":624.5,"y":224,"wires":[[]]},{"id":"2fd06456.8e410c","type":"json","z":"796b600a.c4d14","name":"","property":"payload","action":"","pretty":false,"x":473.5,"y":209,"wires":[["29a546e8.bf6aca"]]},{"id":"dcccd90b.cc8e88","type":"file in","z":"796b600a.c4d14","name":"","filename":"/home/pi/parameters/params.json","format":"utf8","chunk":false,"sendError":false,"x":257,"y":309,"wires":[["47f4a7e1.ded5a8"]]},{"id":"47f4a7e1.ded5a8","type":"json","z":"796b600a.c4d14","name":"","property":"payload","action":"","pretty":false,"x":473,"y":317,"wires":[["f6a436db.416738"]]},{"id":"f6a436db.416738","type":"function","z":"796b600a.c4d14","name":"update","func":"msg.payload.params[\"interval\"] = 2\nreturn msg;","outputs":1,"noerr":0,"x":604,"y":344,"wires":[["51394675.2164a8"]]},{"id":"5729cd88.207fd4","type":"inject","z":"796b600a.c4d14","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":69.5,"y":260,"wires":[["dcccd90b.cc8e88"]]},{"id":"51394675.2164a8","type":"file","z":"796b600a.c4d14","name":"","filename":"/home/pi/parameters/params.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":820.5,"y":377,"wires":[[]]},{"id":"acd8dc01.464c4","type":"mqtt out","z":"796b600a.c4d14","name":"","topic":"camCommand","qos":"1","retain":"","broker":"2cab7ad.282d386","x":526,"y":493,"wires":[]},{"id":"d0c27a2c.5f2b88","type":"inject","z":"796b600a.c4d14","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cam_params\": \"-o\"}","payloadType":"json","x":195.5,"y":483,"wires":[["9d8e4586.704fa8"]]},{"id":"9d8e4586.704fa8","type":"json","z":"796b600a.c4d14","name":"","property":"payload","action":"","pretty":false,"x":370,"y":486,"wires":[["acd8dc01.464c4"]]},{"id":"8a3dcedb.716e1","type":"delay","z":"479e74d2.b79f7c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":660,"y":360,"wires":[["7358ddd2.207c14"]]},{"id":"bd98ec6.dd9711","type":"function","z":"479e74d2.b79f7c","name":"","func":"x = flow.get(\"x\") || 2;\ny = flow.get(\"y\") || 1;\ndone = flow.get(\"done\");\nif (done === undefined) {\n    done = true; // cant do || assignment with bool false\n}\n\nindex = String(x) + String(y);\n\nmsg.topic = \"trigger-send\"\nif(done === false){\n    msg.payload = index\n    \n    y = y%6 + 1\n    if ( y == 1 ){\n        x = x%4 + 1\n    }\n\n// msg.payload[\"x\"] = x\n// msg.payload[\"y\"] = y\n    flow.set(\"x\",x)\n    flow.set(\"y\",y)\n    flow.set(\"index\",index)\n    return msg;\n}\nreturn null","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":320,"wires":[["f2ba85b1.9c2e38","8a3dcedb.716e1","a6c7221a.b0073","146a219c.30ffde"]]},{"id":"f2ba85b1.9c2e38","type":"debug","z":"479e74d2.b79f7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":320,"wires":[]},{"id":"f5f23aa2.7b1da8","type":"inject","z":"479e74d2.b79f7c","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"kill","payloadType":"str","x":85,"y":269.99999046325684,"wires":[["a6c7221a.b0073","fc2ce1c4.76195"]]},{"id":"304cb383.99f41c","type":"mqtt in","z":"479e74d2.b79f7c","name":"camCommand/ack","topic":"camCommand/ack","qos":"2","broker":"2cab7ad.282d386","inputs":0,"x":310,"y":120,"wires":[["82484d8.8baacb"]]},{"id":"82484d8.8baacb","type":"function","z":"479e74d2.b79f7c","name":"get acknowledgement","func":"index = flow.get(\"index\") || null\nactive = flow.get(\"active-cameras\") || []\nif (msg.payload == index){\n    flow.set(\"ack\",index)\n    active.push(index)\n}\nreturn msg\n","outputs":1,"noerr":0,"x":600,"y":140,"wires":[["f2ba85b1.9c2e38"]]},{"id":"6077477d.f33da8","type":"inject","z":"479e74d2.b79f7c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":394.99998474121094,"y":178.33333587646484,"wires":[["82484d8.8baacb"]]},{"id":"7358ddd2.207c14","type":"function","z":"479e74d2.b79f7c","name":"get acknowledgement","func":"ack = flow.get(\"ack\") || null\nindex = flow.get(\"index\") || null\nfinish = flow.get(\"finish\") || null\n\nif(ack == index)\n    return [null, null]\n\n   \nif (index == \"46\"){\n    flow.set(\"done\",true)\n    return [msg, msg]\n}\n    \nreturn [msg, null]\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":460,"wires":[["bd98ec6.dd9711"],["a430624d.5856e"]]},{"id":"a6c7221a.b0073","type":"mqtt out","z":"479e74d2.b79f7c","name":"","topic":"camCommand/sync","qos":"2","retain":"false","broker":"2cab7ad.282d386","x":860,"y":240,"wires":[]},{"id":"e9fd1bb7.f1d1f8","type":"mqtt in","z":"479e74d2.b79f7c","name":"camCommand/finish","topic":"camCommand/finish","qos":"2","broker":"2cab7ad.282d386","inputs":0,"x":310,"y":60,"wires":[["afde9ead.ca054","f2ba85b1.9c2e38"]]},{"id":"afde9ead.ca054","type":"function","z":"479e74d2.b79f7c","name":"get finish flag","func":"index = flow.get(\"index\") || null\nif (msg.payload == index){\n    flow.set(\"finish\",index)\n    if (index == \"46\"){\n        flow.set(\"done\",true)\n        return [msg,msg]\n    }\n    return [msg,null]\n}\nreturn [null,null]\n\n","outputs":2,"noerr":0,"x":590,"y":80,"wires":[["bd98ec6.dd9711"],["a430624d.5856e"]]},{"id":"6362317a.fc8d6","type":"debug","z":"479e74d2.b79f7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":720,"wires":[]},{"id":"fc2ce1c4.76195","type":"function","z":"479e74d2.b79f7c","name":"init context objects","func":"x = flow.set(\"x\",1)\ny = flow.set(\"y\",1);\nflow.set(\"done\",false);\nflow.set(\"active-cameras\",[])\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":320,"wires":[["bd98ec6.dd9711","ed0b3cde.b28bd"]]},{"id":"bfbd015a.80726","type":"function","z":"479e74d2.b79f7c","name":"time data transfer","func":"if(msg.payload === \"start\"){\n    context.set(\"transfer_start\", Date.now())\n}\ndone = flow.get(\"done\")\nactive = flow.get(\"active-cameras\")\n//var timestamp = date.getTime();\ntimestamp = global.get(\"last-timestamp\") || \"error\"\nuuid = global.get(\"uuid\") || \"error\"\npath = global.get(\"experiment_path\") + \"/transfer-log.txt\"\n\nif(done){\n    var start = context.get(\"transfer_start\")\n    var elapsed = Date.now() - start\n    // var host = flow.get(\"hostname\")\n    // var uuid = global.get(\"cur_uuid\")\n    // msg.payload[\"host\"]= host\n    // msg.payload.uuid = uuid\n    msg.filename = path\n    msg.payload = {}\n    msg.payload.timestamp = timestamp\n    msg.payload.uuid = uuid\n    msg.payload.time = {}\n    msg.payload.time.elapsed = elapsed\n    msg.payload.time.seconds = elapsed/1000\n    msg.payload.time.minutes = elapsed/(1000*60)\n    msg.payload.active_cameras = active\n    msg.payload.num_cameras = active.length\n    return msg\n}\nreturn null;","outputs":1,"noerr":0,"x":530,"y":560,"wires":[["f83366cf.71f078","66171c2a.c3ade4"]]},{"id":"ba33eb0a.e4e208","type":"file","z":"479e74d2.b79f7c","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":590,"y":640,"wires":[[]]},{"id":"ed0b3cde.b28bd","type":"change","z":"479e74d2.b79f7c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":520,"wires":[["bfbd015a.80726"]]},{"id":"4a9c6ff.479369","type":"file in","z":"479e74d2.b79f7c","name":"","filename":"/home/pi/transfer_test_log.txt","format":"utf8","chunk":false,"sendError":false,"x":390,"y":720,"wires":[["6362317a.fc8d6"]]},{"id":"5e0d2506.f9c91c","type":"inject","z":"479e74d2.b79f7c","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"kill","payloadType":"str","x":150,"y":700,"wires":[["4a9c6ff.479369"]]},{"id":"e48e28bd.acf7e8","type":"link in","z":"479e74d2.b79f7c","name":"","links":["6bcc9655.740588"],"x":145.00000095367432,"y":223.33333778381348,"wires":[["fc2ce1c4.76195"]]},{"id":"f2518c35.38d2e","type":"exec","z":"479e74d2.b79f7c","command":"/home/pi/scripts/s3-copy.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"AWS cp","x":620,"y":860,"wires":[["e318aa34.b9f048"],["e318aa34.b9f048"],["e318aa34.b9f048","6156cae0.de7224","bfbd015a.80726","978d52e3.7b39e"]]},{"id":"e318aa34.b9f048","type":"debug","z":"479e74d2.b79f7c","name":"prp upload","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","statusVal":"","statusType":"auto","x":930,"y":860,"wires":[]},{"id":"6156cae0.de7224","type":"function","z":"479e74d2.b79f7c","name":"check for success","func":"if (msg.payload.code === 0){\n    return msg\n}\nelse \n    return null;","outputs":1,"noerr":0,"x":710,"y":960,"wires":[["c2d46c0f.a278"]]},{"id":"a430624d.5856e","type":"change","z":"479e74d2.b79f7c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"uuid","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":860,"wires":[["f2518c35.38d2e"]]},{"id":"c2d46c0f.a278","type":"exec","z":"479e74d2.b79f7c","command":"find /home/pi/Pictures/*/* -type d | xargs -I {} mv {} /home/pi/Pictures-archive","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"move pictures to local archive","x":990,"y":960,"wires":[["e318aa34.b9f048"],[],["e318aa34.b9f048","3311e6a9.1f48ca"]]},{"id":"cfab5552.cf2548","type":"inject","z":"479e74d2.b79f7c","name":"test upload","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":860,"wires":[["a430624d.5856e"]]},{"id":"3311e6a9.1f48ca","type":"exec","z":"479e74d2.b79f7c","command":"rm -rf /home/pi/Pictures-archive/*","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"wipe local archive","x":1290,"y":940,"wires":[[],[],[]]},{"id":"99e1d046.dc978","type":"inject","z":"479e74d2.b79f7c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":780,"y":1020,"wires":[["c2d46c0f.a278"]]},{"id":"146a219c.30ffde","type":"trigger","z":"479e74d2.b79f7c","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":830,"y":180,"wires":[["c223cbf8.55d858"]]},{"id":"8e6af42b.2b5ba8","type":"debug","z":"479e74d2.b79f7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":80,"wires":[]},{"id":"c223cbf8.55d858","type":"function","z":"479e74d2.b79f7c","name":"camera error","func":"done = flow.get(\"done\");\nif (done === undefined) {\n    done = true; // cant do || assignment with bool false\n}\nif (done){\n    return null\n}\nmsg.payload = \"kill\"\nflow.set(\"ack\",\"error\");\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":180,"wires":[["7358ddd2.207c14","a6c7221a.b0073"]]},{"id":"96b3e447.af49c8","type":"link in","z":"479e74d2.b79f7c","name":"","links":["119e2a97.a4df05"],"x":169.99999999999997,"y":956.6666666666665,"wires":[["d9f315ad.df7f18"]]},{"id":"1900d073.fdae","type":"link in","z":"479e74d2.b79f7c","name":"","links":["6b579d0d.93c0e4"],"x":135,"y":180,"wires":[["d37303b6.94755","98270ad.45d9af8","29bab48f.87e92c"]]},{"id":"d37303b6.94755","type":"change","z":"479e74d2.b79f7c","name":"kill","rules":[{"t":"set","p":"payload","pt":"msg","to":"kill","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["a6c7221a.b0073"]]},{"id":"98270ad.45d9af8","type":"change","z":"479e74d2.b79f7c","name":"kill","rules":[{"t":"set","p":"kill","pt":"msg","to":"SIGINT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":429.9999694824219,"y":813.3333129882812,"wires":[["f2518c35.38d2e","978d52e3.7b39e"]]},{"id":"53855634.8f52d8","type":"exec","z":"479e74d2.b79f7c","command":"/home/pi/scripts/s3-copy.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"AWS cp manifest","x":544.9999389648438,"y":1009.999979019165,"wires":[[],[],[]]},{"id":"d9f315ad.df7f18","type":"change","z":"479e74d2.b79f7c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"uuid","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":335.0000114440918,"y":956.6666021347046,"wires":[["53855634.8f52d8"]]},{"id":"978d52e3.7b39e","type":"change","z":"479e74d2.b79f7c","name":"","rules":[{"t":"set","p":"transferring","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":939.9999389648438,"y":789.9999389648438,"wires":[[]]},{"id":"5681ab7d.a931d4","type":"inject","z":"479e74d2.b79f7c","name":"kill prp upload","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":799.9999389648438,"wires":[["98270ad.45d9af8"]]},{"id":"fbc93a5a.4dc138","type":"inject","z":"479e74d2.b79f7c","name":"in case of power loss during transfer","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":950,"y":700,"wires":[["978d52e3.7b39e"]]},{"id":"75bbcbe8.dbeed4","type":"inject","z":"479e74d2.b79f7c","name":"stop","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":140,"wires":[["d37303b6.94755","98270ad.45d9af8","29bab48f.87e92c"]]},{"id":"29bab48f.87e92c","type":"change","z":"479e74d2.b79f7c","name":"","rules":[{"t":"set","p":"done","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":400,"wires":[[]]},{"id":"f83366cf.71f078","type":"file","z":"479e74d2.b79f7c","name":"","filename":"/home/pi/Pictures/transfer-test/log.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":810,"y":600,"wires":[[]]},{"id":"66171c2a.c3ade4","type":"link out","z":"479e74d2.b79f7c","name":"active-camera-state-update","links":["e03002b8.70dc2"],"x":735,"y":480,"wires":[]},{"id":"5ee80800.36faa","type":"inject","z":"479e74d2.b79f7c","name":"test shadow update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":600,"wires":[["bfbd015a.80726"]]},{"id":"5bef7ba9.a86aa4","type":"inject","z":"9ba40ab2.4e0b68","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"t:0","payloadType":"str","x":190,"y":160,"wires":[["c21233b9.a626c"]]},{"id":"bacf51a9.c3a0f","type":"debug","z":"9ba40ab2.4e0b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":471.5,"y":330,"wires":[]},{"id":"c21233b9.a626c","type":"serial out","z":"9ba40ab2.4e0b68","name":"Focus","serial":"ca0899c6.fc0ac8","x":474,"y":136,"wires":[]},{"id":"9e4573d5.5b5c5","type":"serial in","z":"9ba40ab2.4e0b68","name":"","serial":"ca0899c6.fc0ac8","x":232.5,"y":337,"wires":[["bacf51a9.c3a0f"]]},{"id":"2268b4dc.e7e90c","type":"inject","z":"9ba40ab2.4e0b68","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"s:0","payloadType":"str","x":201,"y":116,"wires":[["c21233b9.a626c"]]},{"id":"d45d2a8d.37ab58","type":"inject","z":"9ba40ab2.4e0b68","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"s:50","payloadType":"str","x":203,"y":70,"wires":[["c21233b9.a626c"]]},{"id":"45f611f.30eadf","type":"delay","z":"e10c82fa.d191","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":980,"y":640,"wires":[["5ddffc59.b49b24"]]},{"id":"2a3ec59f.b06ada","type":"function","z":"e10c82fa.d191","name":"","func":"x = flow.get(\"x\") || 2;\ny = flow.get(\"y\") || 1;\ndone = flow.get(\"done\");\nif (done === undefined) {\n    done = true; // cant do || assignment with bool false\n}\n\nindex = String(x) + String(y);\n\n\nif(done === false){\n    msg.payload = index\n    \n    y = y%6 + 1\n    if ( y == 1 ){\n        x = x%4 + 1\n    }\n\n// msg.payload[\"x\"] = x\n// msg.payload[\"y\"] = y\n    flow.set(\"x\",x)\n    flow.set(\"y\",y)\n    flow.set(\"index\",index)\n    return msg;\n}\nreturn null","outputs":1,"noerr":0,"x":820,"y":600,"wires":[["463b454.ffac1bc","45f611f.30eadf","382ee7de.561fc8","b1566e8d.972bd"]]},{"id":"463b454.ffac1bc","type":"debug","z":"e10c82fa.d191","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":600,"wires":[]},{"id":"291f7a0f.5b1a56","type":"inject","z":"e10c82fa.d191","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"kill","payloadType":"str","x":370,"y":520,"wires":[["382ee7de.561fc8","2339d166.bdb9be"]]},{"id":"ad14d701.230af8","type":"mqtt in","z":"e10c82fa.d191","name":"camCommand/ack","topic":"camCommand/ack","qos":"2","broker":"2cab7ad.282d386","inputs":0,"x":650,"y":400,"wires":[["fa60aefc.dc23"]]},{"id":"fa60aefc.dc23","type":"function","z":"e10c82fa.d191","name":"get acknowledgement","func":"index = flow.get(\"index\") || null\nactive = flow.get(\"active-cameras\") || []\nif (msg.payload == index){\n    flow.set(\"ack\",index)\n    active.push(index)\n}\nreturn msg\n","outputs":1,"noerr":0,"x":960,"y":400,"wires":[["463b454.ffac1bc"]]},{"id":"8b3657b8.f8d528","type":"inject","z":"e10c82fa.d191","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":734.9999847412109,"y":458.33333587646484,"wires":[["fa60aefc.dc23"]]},{"id":"5ddffc59.b49b24","type":"function","z":"e10c82fa.d191","name":"get acknowledgement","func":"ack = flow.get(\"ack\") || null\nindex = flow.get(\"index\") || null\n\nif(ack == index)\n    return [null, null]\n    \nif (index == \"46\"){\n    flow.set(\"done\",true)\n    return [msg, msg]\n}\n    \nreturn [msg, null]\n","outputs":2,"noerr":0,"x":800,"y":740,"wires":[["2a3ec59f.b06ada"],[]]},{"id":"382ee7de.561fc8","type":"mqtt out","z":"e10c82fa.d191","name":"","topic":"camCommand/sync","qos":"1","retain":"false","broker":"2cab7ad.282d386","x":1200,"y":520,"wires":[]},{"id":"84fff3c2.98b57","type":"mqtt in","z":"e10c82fa.d191","name":"camCommand/finish","topic":"camCommand/finish","qos":"2","broker":"2cab7ad.282d386","inputs":0,"x":650,"y":340,"wires":[["9d191c43.f393"]]},{"id":"9d191c43.f393","type":"function","z":"e10c82fa.d191","name":"get finish flag","func":"index = flow.get(\"index\") || null\nif (msg.payload == index){\n    flow.set(\"finish\",index)\n    if (index == \"46\"){\n        flow.set(\"done\",true)\n        return [msg,msg]\n    }\n    return [msg,null]\n}\nreturn [null,null]\n\n","outputs":2,"noerr":0,"x":930,"y":360,"wires":[["2a3ec59f.b06ada"],["eca4b423.b8e548"]]},{"id":"929f9917.6054e8","type":"debug","z":"e10c82fa.d191","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1000,"wires":[]},{"id":"bc5ff167.f687b","type":"function","z":"e10c82fa.d191","name":"init context objects","func":"x = flow.set(\"x\",1)\ny = flow.set(\"y\",1);\nflow.set(\"done\",false);\nflow.set(\"active-cameras\",[])\nreturn msg\n","outputs":1,"noerr":0,"x":570,"y":600,"wires":[["2a3ec59f.b06ada","96ee5f37.b6363"]]},{"id":"eca4b423.b8e548","type":"function","z":"e10c82fa.d191","name":"time data transfer","func":"if(msg.payload === \"start\"){\n    context.set(\"transfer_start\", Date.now())\n}\ndone = flow.get(\"done\")\nactive = flow.get(\"active-cameras\")\n//var timestamp = date.getTime();\ntimestamp = global.get(\"last-timestamp\") || \"error\"\nuuid = global.get(\"uuid\") || \"error\"\npath = global.get(\"experiment_path\") + \"/transfer-log.txt\"\n\nx = flow.get(\"x1\") || 1;\ny = flow.get(\"y1\") || 1;\nindex = String(x) + String(y);\n\nif(done){\n    var start = context.get(\"transfer_start\")\n    var elapsed = Date.now() - start\n    // var host = flow.get(\"hostname\")\n    // var uuid = global.get(\"cur_uuid\")\n    // msg.payload[\"host\"]= host\n    // msg.payload.uuid = uuid\n    msg.disable = index\n    \n    y = y%6 + 1\n    if ( y == 1 ){\n        x = x%4 + 1\n    }\n    flow.set(\"x1\",x)\n    flow.set(\"y1\",y)\n    \n    msg.filename = path\n    msg.payload = {}\n    // msg.payload.timestamp = timestamp\n    // msg.payload.uuid = uuid\n    //msg.payload.time = {}\n    //msg.payload.time.elapsed = elapsed\n    //msg.payload.time.seconds = elapsed/1000\n    //msg.payload.time.minutes = elapsed/(1000*60)\n    //msg.payload.active_cameras = active\n    msg.payload.minutes = elapsed/(1000*60)\n    msg.payload.num_cameras = active.length\n    return msg\n}\nreturn null;","outputs":1,"noerr":0,"x":870,"y":840,"wires":[["7d10b11f.0275b","bc5ff167.f687b","3ca6a15f.96b28e","e64c926f.35f3a"]]},{"id":"e1ec7fc0.87a2","type":"file","z":"e10c82fa.d191","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":930,"y":920,"wires":[[]]},{"id":"96ee5f37.b6363","type":"change","z":"e10c82fa.d191","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":780,"wires":[["eca4b423.b8e548"]]},{"id":"d9b8115d.9a5c","type":"file in","z":"e10c82fa.d191","name":"","filename":"/home/pi/transfer_test_log.txt","format":"utf8","chunk":false,"sendError":false,"x":730,"y":1000,"wires":[["929f9917.6054e8"]]},{"id":"6e740e42.d65b5","type":"inject","z":"e10c82fa.d191","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"kill","payloadType":"str","x":490,"y":980,"wires":[["d9b8115d.9a5c"]]},{"id":"aeba1033.3def9","type":"link in","z":"e10c82fa.d191","name":"","links":["6bcc9655.740588"],"x":475,"y":500,"wires":[["bc5ff167.f687b"]]},{"id":"b1566e8d.972bd","type":"trigger","z":"e10c82fa.d191","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":1170,"y":460,"wires":[["3cf66b7d.d7c114"]]},{"id":"332a1f08.2e445","type":"debug","z":"e10c82fa.d191","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1510,"y":360,"wires":[]},{"id":"3cf66b7d.d7c114","type":"function","z":"e10c82fa.d191","name":"camera error","func":"done = flow.get(\"done\");\nif (done === undefined) {\n    done = true; // cant do || assignment with bool false\n}\nif (done){\n    return null\n}\nmsg.payload = \"kill\"\nflow.set(\"ack\",\"error\");\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":460,"wires":[["5ddffc59.b49b24","382ee7de.561fc8"]]},{"id":"ba8d55c1.5cc188","type":"link in","z":"e10c82fa.d191","name":"","links":["6b579d0d.93c0e4"],"x":475,"y":460,"wires":[["7a60c54c.c033cc"]]},{"id":"7a60c54c.c033cc","type":"change","z":"e10c82fa.d191","name":"kill","rules":[{"t":"set","p":"payload","pt":"msg","to":"kill","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610.8333282470703,"y":506.6666717529297,"wires":[["382ee7de.561fc8"]]},{"id":"b1d42b57.d80ac8","type":"inject","z":"e10c82fa.d191","name":"stop","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":430,"y":420,"wires":[["7a60c54c.c033cc","43fb207c.dc0bd"]]},{"id":"43fb207c.dc0bd","type":"change","z":"e10c82fa.d191","name":"","rules":[{"t":"set","p":"done","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":680,"wires":[[]]},{"id":"7d10b11f.0275b","type":"file","z":"e10c82fa.d191","name":"","filename":"/home/pi/Pictures/transfer-test/log2.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1170,"y":880,"wires":[[]]},{"id":"3ca6a15f.96b28e","type":"change","z":"e10c82fa.d191","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":780,"wires":[["53a38155.cea4c"]]},{"id":"53a38155.cea4c","type":"mqtt out","z":"e10c82fa.d191","name":"","topic":"camCommand/disable","qos":"1","retain":"false","broker":"2cab7ad.282d386","x":1360,"y":740,"wires":[]},{"id":"e64c926f.35f3a","type":"switch","z":"e10c82fa.d191","name":"","property":"disable","propertyType":"msg","rules":[{"t":"eq","v":"46","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":780,"wires":[["b22a4034.910f5"]]},{"id":"5373b06e.b98bd","type":"delay","z":"e10c82fa.d191","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":300,"y":720,"wires":[["43fb207c.dc0bd"]]},{"id":"2339d166.bdb9be","type":"function","z":"e10c82fa.d191","name":"","func":"flow.set(\"x1\",1);\nflow.set(\"y1\",1);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":580,"wires":[["bc5ff167.f687b"]]},{"id":"7801f0f4.f1a77","type":"function","z":"e10c82fa.d191","name":"","func":"if(msg.payload === \"start\"){\n    context.set(\"done\",false)\n}\nx = context.get(\"x\") || 1;\ny = context.get(\"y\") || 1;\nindex = String(x) + String(y);\ndone = context.get(\"done\")\nif (done === undefined) {\n    done = true; // cant do || assignment with bool false\n}\nmsg.payload = index\nif(!done){ \n    y = y%6 + 1\n    if ( y == 1 ){\n        x = x%4 + 1\n    }\n\n    if (x == 4 && y == 6){\n        context.set(\"done\",true)\n    }\n    \n    context.set(\"x\",x)\n    context.set(\"y\",y)\n    return msg;\n}\nreturn null\n\n","outputs":1,"noerr":0,"x":840,"y":1200,"wires":[["a1837db.6bfd68","2512385.5e3f7c8","1d230986.699746"]]},{"id":"2512385.5e3f7c8","type":"function","z":"e10c82fa.d191","name":"","func":"return msg;","outputs":1,"noerr":0,"x":850,"y":1260,"wires":[["7801f0f4.f1a77"]]},{"id":"a1837db.6bfd68","type":"debug","z":"e10c82fa.d191","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":1240,"wires":[]},{"id":"74be724b.b21cdc","type":"inject","z":"e10c82fa.d191","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":650,"y":1200,"wires":[["7801f0f4.f1a77"]]},{"id":"1d230986.699746","type":"mqtt out","z":"e10c82fa.d191","name":"","topic":"camCommand/enable","qos":"1","retain":"false","broker":"2cab7ad.282d386","x":1100,"y":1180,"wires":[]},{"id":"b22a4034.910f5","type":"change","z":"e10c82fa.d191","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1060,"wires":[["7801f0f4.f1a77"]]},{"id":"7d5fb5f4.e95d2c","type":"function","z":"b9bddf6c.07f59","name":"","func":"if(msg.payload === \"start\"){\n    context.set(\"done\",false)\n}\nx = context.get(\"x\") || 0;\ny = context.get(\"y\") || 0;\n\ndone = context.get(\"done\")\nif (done === undefined) {\n    done = true; // cant do || assignment with bool false\n}\n\nif(!done){ \n    y = y%6 + 1\n    if ( y == 1 ){\n        x = x%4 + 1\n    }\n\n    if (x == 4 && y == 6){\n        context.set(\"done\",true)\n    }\n    \n    index = String(x) + String(y);\n    msg.payload = index\n    \n    context.set(\"x\",x)\n    context.set(\"y\",y)\n    return msg;\n}\nreturn null\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":80,"wires":[["52e2b1e4.ea387","dda3d9c9.f647f8","dae727a1.870278"]]},{"id":"dda3d9c9.f647f8","type":"function","z":"b9bddf6c.07f59","name":"","func":"return msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["7d5fb5f4.e95d2c"]]},{"id":"52e2b1e4.ea387","type":"debug","z":"b9bddf6c.07f59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":120,"wires":[]},{"id":"58b567b0.8fdaf8","type":"inject","z":"b9bddf6c.07f59","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":80,"wires":[["7d5fb5f4.e95d2c"]]},{"id":"dae727a1.870278","type":"mqtt out","z":"b9bddf6c.07f59","name":"","topic":"camCommand/enable","qos":"1","retain":"false","broker":"2cab7ad.282d386","x":580,"y":60,"wires":[]},{"id":"d72b86fe.0de668","type":"mqtt out","z":"b9bddf6c.07f59","name":"","topic":"camCommand/startStream","qos":"1","retain":"false","broker":"2cab7ad.282d386","x":620,"y":320,"wires":[]},{"id":"ee91dbb9.c83778","type":"inject","z":"b9bddf6c.07f59","name":"start all livestreams","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"all","payloadType":"str","x":250,"y":320,"wires":[["d72b86fe.0de668"]]},{"id":"3f5223b5.0e708c","type":"inject","z":"b9bddf6c.07f59","name":"stop all livestreams","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"all","payloadType":"str","x":250,"y":360,"wires":[["64819321.011ccc"]]},{"id":"64819321.011ccc","type":"mqtt out","z":"b9bddf6c.07f59","name":"","topic":"camCommand/stopStream","qos":"1","retain":"false","broker":"2cab7ad.282d386","x":620,"y":380,"wires":[]},{"id":"43a19844.d8da68","type":"inject","z":"9b45dad9.22d6a8","name":"","props":[{"p":"payload","v":"{\"state\":{\"reported\":{\"boof\":\"darff\"}}}","vt":"str"},{"p":"topic","v":"$aws/things/Ducky/shadow/update","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"$aws/things/Ducky/shadow/update","payload":"{\"state\":{\"reported\":{\"boof\":\"darff\"}}}","payloadType":"str","x":220.5,"y":190,"wires":[[]]},{"id":"cf260199.067c5","type":"debug","z":"9b45dad9.22d6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":552.5,"y":118,"wires":[]},{"id":"64bd8333.faad8c","type":"function","z":"9b45dad9.22d6a8","name":"update shadow state","func":"id = global.get(\"hub-id\") || null\nuuid = global.get(\"uuid\") || \"error\"\nexperiment_state = global.get(\"state\") || \"error\"\n\nif (id === null) return null\n\n\nelse {\n    msg.topic = \"$aws/things/\"+id+\"/shadow/update\"\n    state = msg.payload\n    msg.payload = {}\n    msg.payload[\"state\"]= {}\n    msg.payload[\"state\"][\"reported\"] = state\n    msg.payload[\"state\"][\"reported\"][\"uuid\"] = uuid\n    msg.payload[\"state\"][\"reported\"][\"experiment-state\"] = experiment_state\n    msg.payload[\"state\"][\"reported\"][\"connected\"] = Date.now()\n    \n    var strapi_msg = {payload:{}}\n    // strapi_msg[\"payload\"] = {}\n    strapi_msg.payload = msg.payload[\"state\"][\"reported\"]\n}\n\n\nreturn [msg, strapi_msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["cf260199.067c5"],["6ee9877e.206a08","ae27b1ba.cc4988"]]},{"id":"e03002b8.70dc2","type":"link in","z":"9b45dad9.22d6a8","name":"update-shadow-out","links":["c4396375.033","66171c2a.c3ade4","d636f68c.860fd8","401685b5.a5680c","d66abafa.835728"],"x":202.5,"y":288,"wires":[["64bd8333.faad8c","cf260199.067c5"]]},{"id":"b0b95d51.d5311","type":"json","z":"9b45dad9.22d6a8","name":"","property":"payload","action":"","pretty":false,"x":810,"y":260,"wires":[["cf260199.067c5"]]},{"id":"2cd6c895.c95e","type":"http request","z":"9b45dad9.22d6a8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":520,"wires":[["38899d66.ea8332","b5283e6c.c0315"]]},{"id":"f9e95cb5.4894e","type":"debug","z":"9b45dad9.22d6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":820,"wires":[]},{"id":"1951a811.66e0f8","type":"inject","z":"9b45dad9.22d6a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":840,"wires":[[]]},{"id":"68df9da0.50d9dc","type":"change","z":"9b45dad9.22d6a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":920,"wires":[[]]},{"id":"45ef05bd.accff4","type":"exec","z":"9b45dad9.22d6a8","command":"cat ~/.aws/credentials | grep -A 3 strapi","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":920,"wires":[["f9e95cb5.4894e","c2bb44f8.37281"],[],[]]},{"id":"19d6559c.9097da","type":"inject","z":"9b45dad9.22d6a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":840,"wires":[["45ef05bd.accff4"]]},{"id":"c2bb44f8.37281","type":"function","z":"9b45dad9.22d6a8","name":"","func":"var token = msg.payload.split('\\n')\nvar config = \"\"\nfor(var i in token){\n    node.warn(token[i]);\n    config = token[i].split('=')\n    if (config.length == 2){\n        // node.warn(\"config0 \" + config[0])\n        // node.warn(\"config1 \" + config[1])\n        flow.set(config[0].trim(), config[1].trim())\n    }\n}\nmsg.payload = token\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":900,"wires":[["f9e95cb5.4894e","9907d362.7f67c"]]},{"id":"9907d362.7f67c","type":"function","z":"9b45dad9.22d6a8","name":"get strapi id number","func":"const endpoint = flow.get(\"endpoint\")\nconst api_key = flow.get(\"api_key\")\nconst hub_id = global.get(\"hub-id\")\nmsg.headers = {\n                    'Authorization': `Bearer `+api_key\n              }\nmsg.url = endpoint + \"/interaction-things?filters[name][$eq]=\" + hub_id\n// msg.url = endpoint + \"/interaction-things/\" + hub_id\n// const temp = msg.payload\n// msg.payload = {\"data\" : temp\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":520,"wires":[["2cd6c895.c95e"]]},{"id":"38899d66.ea8332","type":"debug","z":"9b45dad9.22d6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":620,"wires":[]},{"id":"b5283e6c.c0315","type":"function","z":"9b45dad9.22d6a8","name":"store shadow","func":"if (msg.statusCode == 200){\n    var response = JSON.parse(msg.payload)[\"data\"][0]\n    var id = response[\"id\"]\n    flow.set(\"strapi_id\", id)\n    flow.set(\"shadow\",response[\"attributes\"][\"shadow\"])\n    node.warn(\"received\")\n}\nreturn msg\n\n// const endpoint = flow.get(\"endpoint\")\n// const api_key = flow.get(\"api_key\")\n// msg.headers = {\n//                     'Authorization': `Bearer `+api_key\n//               }\n// msg.url = endpoint + \"/interaction-things/\" + id\n// msg.payload = {\"shadow\":{\"test_from_node_red_eeveeeeee\" : \"barfnugget\"} }\n// const temp = msg.payload\n// msg.payload = {\"data\" : temp}\n\n// return msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":520,"wires":[["b3aae65a.412418"]]},{"id":"2c0116e6.5c92e2","type":"http request","z":"9b45dad9.22d6a8","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1650,"y":460,"wires":[["4f9d5819.a6725"]]},{"id":"9175a400.859c08","type":"function","z":"9b45dad9.22d6a8","name":"update shadow","func":"const endpoint = flow.get(\"endpoint\")\nconst api_key = flow.get(\"api_key\")\nconst id = flow.get(\"strapi_id\")\nvar shadow = flow.get(\"shadow\") || {}\nmsg.headers = {\n                    'Authorization': `Bearer `+ api_key\n              }\nmsg.url = endpoint + \"/interaction-things/\" + id\n\nfor (var i in msg.payload){\n    // node.warn(i)\n    // node.warn(msg.payload[i])\n    //update values\n    shadow[i] = msg.payload[i]\n}\n// msg.payload = {\"shadow\":{\"test_from_node_red_eeveeeeee\" : \"barfnugget\"} }\n// const temp = msg.payload\nmsg.payload = {\"data\" : {\"shadow\": shadow}}\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":440,"wires":[["c8c24653.72bca","2c0116e6.5c92e2"]]},{"id":"c8c24653.72bca","type":"debug","z":"9b45dad9.22d6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1590,"y":360,"wires":[]},{"id":"ccf980c3.267a18","type":"inject","z":"9b45dad9.22d6a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"barf\" : \"tool\" , \"garf\" : \"snarf\"}","payloadType":"json","x":650,"y":440,"wires":[[]]},{"id":"6ee9877e.206a08","type":"change","z":"9b45dad9.22d6a8","name":"","rules":[{"t":"set","p":"pending_update","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":360,"wires":[["45ef05bd.accff4"]]},{"id":"b3aae65a.412418","type":"change","z":"9b45dad9.22d6a8","name":"process pending update","rules":[{"t":"set","p":"payload","pt":"msg","to":"pending_update","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":420,"wires":[["9175a400.859c08","102b8ec1.089291"]]},{"id":"91867fd2.f85118","type":"comment","z":"9b45dad9.22d6a8","name":"removing link to aws","info":"","x":650,"y":280,"wires":[]},{"id":"7d7f9d.5bb3c864","type":"comment","z":"9b45dad9.22d6a8","name":"used to be an aws mqtt output node, removed","info":"","x":1100,"y":240,"wires":[]},{"id":"790ebac3.c9eba4","type":"inject","z":"9b45dad9.22d6a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":400,"wires":[["64bd8333.faad8c","ae27b1ba.cc4988"]]},{"id":"ae27b1ba.cc4988","type":"debug","z":"9b45dad9.22d6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":460,"wires":[]},{"id":"4f9d5819.a6725","type":"debug","z":"9b45dad9.22d6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1810,"y":520,"wires":[]},{"id":"102b8ec1.089291","type":"debug","z":"9b45dad9.22d6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":340,"wires":[]},{"id":"fbc87b67.263908","type":"link in","z":"c5b6851a.4db048","name":"livestream-motor","links":["5233e7bd.cbde38"],"x":255,"y":260,"wires":[["be3c29f6.c82638"]]},{"id":"be3c29f6.c82638","type":"mqtt out","z":"c5b6851a.4db048","name":"camCommand/move","topic":"camCommand/move","qos":"","retain":"","broker":"2cab7ad.282d386","x":420,"y":300,"wires":[]},{"id":"2ee10768.f8acc8","type":"debug","z":"c5b6851a.4db048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":360,"wires":[]},{"id":"c2ad8aab.857988","type":"link in","z":"c5b6851a.4db048","name":"switch-liveview","links":["a06037cb.b3e4e8"],"x":155,"y":440,"wires":[["f53a4595.401598","bb3af76a.a86cd8","67505e29.e82b3"]]},{"id":"f53a4595.401598","type":"function","z":"c5b6851a.4db048","name":"","func":"groupId = global.get(\"group-id\") || null\ncameraString = \"camera\"+groupId+msg.payload\nmsg.payload = cameraString\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":380,"wires":[["6b208fa3.6fa81"]]},{"id":"6b208fa3.6fa81","type":"debug","z":"c5b6851a.4db048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":420,"wires":[]},{"id":"bb3af76a.a86cd8","type":"mqtt out","z":"c5b6851a.4db048","name":"","topic":"camCommand/startStream","qos":"1","retain":"false","broker":"2cab7ad.282d386","x":400,"y":460,"wires":[]},{"id":"d2b1e46e.5a6238","type":"mqtt out","z":"c5b6851a.4db048","name":"","topic":"camCommand/stopStream","qos":"1","retain":"false","broker":"2cab7ad.282d386","x":560,"y":520,"wires":[]},{"id":"67505e29.e82b3","type":"trigger","z":"c5b6851a.4db048","name":"","op1":"","op2":"all","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":290,"y":520,"wires":[["d2b1e46e.5a6238"]]},{"id":"daf04517.aae6f8","type":"link in","z":"c5b6851a.4db048","name":"stop stream","links":["6912bcc5.6461c4"],"x":195,"y":620,"wires":[["d2b1e46e.5a6238"]]},{"id":"ca22b037.36cda","type":"exec","z":"db5c4358.ae13","command":"sudo tincd -d -D -n netname --pidfile /tmp/tinc.pid &","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":500,"y":120,"wires":[[],[],[]]},{"id":"4c08a702.6ecc58","type":"inject","z":"db5c4358.ae13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["ca22b037.36cda","c1d13943.8fa9b8"]]},{"id":"e8056a60.9b42a8","type":"exec","z":"db5c4358.ae13","command":"sudo nginx","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":240,"wires":[[],[],[]]},{"id":"c1d13943.8fa9b8","type":"trigger","z":"db5c4358.ae13","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"30","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":330,"y":240,"wires":[["e8056a60.9b42a8"]]},{"id":"a317240.68745e","type":"inject","z":"db5c4358.ae13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":340,"wires":[["e8056a60.9b42a8"]]},{"id":"a7c68bae.1ca918","type":"debug","z":"b67af707.a83ae8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":160,"wires":[]},{"id":"dc8da0ec.3a15a","type":"mqtt in","z":"b67af707.a83ae8","name":"","topic":"spencer","qos":"1","datatype":"auto","broker":"7c9af3d7.1e97bc","inputs":0,"x":110,"y":100,"wires":[["a7c68bae.1ca918"]]},{"id":"62af56dd.eced58","type":"mqtt out","z":"b67af707.a83ae8","name":"","topic":"AutoCultCommand","qos":"1","retain":"","broker":"2cab7ad.282d386","x":630,"y":280,"wires":[]},{"id":"4416e05d.c059e","type":"inject","z":"b67af707.a83ae8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"barf","payloadType":"str","x":370,"y":300,"wires":[["62af56dd.eced58"]]},{"id":"e29dcfce.7c283","type":"inject","z":"ac0fa539.0d2b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":420,"wires":[["1639bae2.103435"]]},{"id":"e7d90bd7.51278","type":"function","z":"ac0fa539.0d2b4","name":"","func":"var name = global.get(\"hub-id\")\n\nDate.now()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":280,"wires":[[]]},{"id":"a51bfc1b.baa22","type":"file in","z":"ac0fa539.0d2b4","name":"get current version number","filename":"/home/pi/Picroscope-firmwares/Linux-layer/MicroHub-Node-Red/version-log.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":860,"y":520,"wires":[["526ac13a.f2dff8","ee0eb8cf.ea876"]]},{"id":"526ac13a.f2dff8","type":"debug","z":"ac0fa539.0d2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":600,"wires":[]},{"id":"ee0eb8cf.ea876","type":"function","z":"ac0fa539.0d2b4","name":"","func":"var version = msg.payload.split(\",\")\nif (version.length == 2){\n    msg.payload = +(version[0])\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":520,"wires":[["79f580ac.a60f18"]]},{"id":"3ae1e719.edf78","type":"debug","z":"ac0fa539.0d2b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1430,"y":600,"wires":[]},{"id":"79f580ac.a60f18","type":"trigger","z":"ac0fa539.0d2b4","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1340,"y":540,"wires":[["3ae1e719.edf78","3f79481e.92c24"]]},{"id":"3f79481e.92c24","type":"function","z":"ac0fa539.0d2b4","name":"","func":"var name = global.get(\"hub-id\")\nmsg.payload += 0.0001\nmsg.payload += (\",\" + name)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":540,"wires":[["3ae1e719.edf78","18a12ee7.b49ef1"]]},{"id":"18a12ee7.b49ef1","type":"file","z":"ac0fa539.0d2b4","name":"write incremented version","filename":"/home/pi/Picroscope-firmwares/Linux-layer/MicroHub-Node-Red/version-log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1710,"y":640,"wires":[["48c6fd82.7fd88c","43bd32aa.eebbdc"]]},{"id":"1639bae2.103435","type":"exec","z":"ac0fa539.0d2b4","command":"/home/pi/Picroscope-firmwares/Linux-layer/MicroHub-Scripts/scripts/add-hub-flows-to-repo.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"add flows to repo","x":590,"y":500,"wires":[["a51bfc1b.baa22"],[],[]]},{"id":"43bd32aa.eebbdc","type":"exec","z":"ac0fa539.0d2b4","command":"/home/pi/Picroscope-firmwares/Linux-layer/MicroHub-Scripts/scripts/commit-changes.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"commit changes","x":1970,"y":480,"wires":[["e7aa20ed.39ce"],["e7aa20ed.39ce"],["e7aa20ed.39ce"]]},{"id":"9d5cfd2a.1ff7d8","type":"inject","z":"ac0fa539.0d2b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1620,"y":360,"wires":[["43bd32aa.eebbdc"]]},{"id":"e7aa20ed.39ce","type":"debug","z":"ac0fa539.0d2b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2190,"y":460,"wires":[]},{"id":"55fc5301.33e0ac","type":"trigger","z":"ac0fa539.0d2b4","name":"","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1270,"y":240,"wires":[[]]},{"id":"48c6fd82.7fd88c","type":"debug","z":"ac0fa539.0d2b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1950,"y":680,"wires":[]},{"id":"ebb1932b.7d8ef8","type":"exec","z":"ac0fa539.0d2b4","command":"cd /home/pi/Picroscope-firmwares/ && git push -u origin master","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"push","x":1690,"y":900,"wires":[["48c6fd82.7fd88c"],["48c6fd82.7fd88c"],["48c6fd82.7fd88c"]]},{"id":"dbe3b550.bf5fc","type":"inject","z":"ac0fa539.0d2b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1440,"y":920,"wires":[["ebb1932b.7d8ef8"]]},{"id":"eb7f3596.7deef","type":"mqtt out","z":"d6e37d9a.6a67f","name":"","topic":"barf","qos":"2","retain":"","broker":"e3ed42fb.96a888","x":530,"y":520,"wires":[]},{"id":"859767ff.d3b28","type":"mqtt in","z":"d6e37d9a.6a67f","name":"","topic":"imaging/#","qos":"0","datatype":"auto","broker":"e3ed42fb.96a888","inputs":0,"x":600,"y":400,"wires":[["153dc4c6.9304ab"]]},{"id":"153dc4c6.9304ab","type":"debug","z":"d6e37d9a.6a67f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":440,"wires":[]},{"id":"5f3d7989.8ff77","type":"inject","z":"d6e37d9a.6a67f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":580,"wires":[["eb7f3596.7deef"]]},{"id":"3c885597.501bda","type":"mqtt out","z":"a069fee2.87eee","name":"","topic":"camCommand/wifi","qos":"","retain":"","broker":"2cab7ad.282d386","x":850,"y":420,"wires":[]},{"id":"92ab2cdf.894a48","type":"inject","z":"a069fee2.87eee","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Braingeneers-IoT:cxzUptb4BdHciBXuttUdUCph5kRdd6jEKQSKTGE5:10","payloadType":"str","x":530,"y":360,"wires":[["3c885597.501bda","f614529c.ff08b"]]},{"id":"3e214863.335da","type":"exec","z":"a069fee2.87eee","command":"sudo /home/pi//Picroscope-firmwares/Linux-layer/CameraEnd-Scripts/scripts/add-network.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":540,"wires":[["2666d746.f9be6"],["2666d746.f9be6"],["2666d746.f9be6"]]},{"id":"f614529c.ff08b","type":"function","z":"a069fee2.87eee","name":"parse payload","func":"msg.payload = msg.payload.replace(/:/g, \" \");\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":520,"wires":[["3e214863.335da"]]},{"id":"2666d746.f9be6","type":"debug","z":"a069fee2.87eee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1710,"y":520,"wires":[]}]