Node-Red/CameraEnd-Node-Red/flows.json
[{"id":"6ea7014a.9fc36","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9bb8256.88dc2","type":"ui_group","z":"","name":"Default","tab":"b8e6c56e.53b4b8","disp":false,"width":"6","collapse":false},{"id":"b8e6c56e.53b4b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"107dd3a5.86a78c","type":"mqtt-broker","z":"","name":"","broker":"microscopehub.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7642363e.06e4f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f2a13443.6baa18","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"70e1910e.ab59a","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"bfb44075.6ece3","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6"},{"id":"c438778e.a28198","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"fcb713a6.99bf8","type":"ui_group","z":"","name":"Performance","tab":"","disp":true,"width":"6"},{"id":"5a2e4ca5.bb2df4","type":"camerapi-takephoto","z":"6ea7014a.9fc36","filemode":"1","filename":"photo1.JPEG","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"night","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Take photo","x":670,"y":460,"wires":[["7d364f1b.c6bcc","6b0b884a.ff1108"]]},{"id":"a59cb803.ec6c18","type":"ui_template","z":"6ea7014a.9fc36","group":"a9bb8256.88dc2","name":"","order":4,"width":"6","height":"9","format":"<!--<div ng-bind-html=\"msg.payload\"></div>-->\n\n<script>\nvar value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  //var file = flow.get(\"filename\"),\n  var source = '/LatestImage.jpg',\n  //source = '/'+file,\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"latest\").src = newUrl;\n}\n\n    (function(scope) {\n        console.log('Position 1');\n        console.dir(scope);\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            setTimeout(updateF(), 5000)\n        });\n    })(scope);\n\n</script>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 5000);\" style=\"padding:40px; margin-bottom: 40px;\" >\n Take a photo<br>\n</md-button>\n\n\n\n<div style=\"margin-bottom:40px;\">\n <img id=\"latest\" src=\"/LatestImage.jpg\" width=\"100%\" height=\"100%\">\n</div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":160,"y":460,"wires":[["fd7e7ff9.c62a9"]]},{"id":"6620fcbe.93d494","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":120,"wires":[]},{"id":"44b7505.d4876b","type":"exec","z":"6ea7014a.9fc36","command":"hostname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":500,"y":300,"wires":[["2af80a91.f52ae6","fd80f6fe.089ac8"],[],[]]},{"id":"2a06b30d.42aa3c","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":340,"wires":[["44b7505.d4876b","24818357.4cafcc","d80c24f5.b46b08"]]},{"id":"2af80a91.f52ae6","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"hostname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":260,"wires":[[]]},{"id":"fd7e7ff9.c62a9","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"hostname","tot":"flow"},{"t":"change","p":"filename","pt":"msg","from":"(\\r\\n|\\r|\\n)","fromt":"re","to":"-","tot":"str"},{"t":"set","p":"tstamp","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":460,"wires":[["914c7b0c.1e39a8","29b469f8.3da5f6"]]},{"id":"24818357.4cafcc","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[[]]},{"id":"914c7b0c.1e39a8","type":"function","z":"6ea7014a.9fc36","name":"","func":"var filename = msg.filename+msg.tstamp+'.jpg';\nmsg.filename = filename.replace(/:/g, '-');\nflow.set(\"filename\", msg.filename);\nvar x = flow.get(\"count\")||0;\nx += 1\nflow.set(\"count\", x);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":460,"wires":[["5a2e4ca5.bb2df4","e1848759.6fc1d8"]]},{"id":"dea873d8.bca63","type":"exec","z":"6ea7014a.9fc36","command":"~/copySend.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1060,"y":460,"wires":[[],[],[]]},{"id":"2d4413a1.c0933c","type":"inject","z":"6ea7014a.9fc36","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":540,"wires":[["fd7e7ff9.c62a9"]]},{"id":"429bc9f8.12b178","type":"mqtt in","z":"6ea7014a.9fc36","name":"","topic":"camCommand","qos":"2","broker":"107dd3a5.86a78c","x":100,"y":340,"wires":[["fd655753.733e38"]]},{"id":"7d364f1b.c6bcc","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".jpg","fromt":"str","to":".jpg hostname","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"hostname","fromt":"str","to":"hostname","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"(\\r\\n|\\r|\\n)","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":460,"wires":[["dea873d8.bca63"]]},{"id":"1d19e6b7.1dfb99","type":"daemon","z":"6ea7014a.9fc36","name":"Video Feed","command":"python3","args":"-u /home/pi/Video/rpi_vid.py","autorun":true,"cr":false,"redo":false,"op":"string","closer":"SIGKILL","x":430,"y":760,"wires":[[],[],[]]},{"id":"29b469f8.3da5f6","type":"function","z":"6ea7014a.9fc36","name":"Stop","func":"msg.kill = \"SIGKILL\"\nreturn msg","outputs":1,"noerr":0,"x":170,"y":700,"wires":[["1d19e6b7.1dfb99"]]},{"id":"6b0b884a.ff1108","type":"function","z":"6ea7014a.9fc36","name":"Start","func":"msg.start = true;\nreturn msg","outputs":1,"noerr":0,"x":170,"y":760,"wires":[["1d19e6b7.1dfb99"]]},{"id":"d80c24f5.b46b08","type":"trigger","z":"6ea7014a.9fc36","op1":"/loading.gif","op2":"http://camera1.local:8000/stream.mjpg","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":860,"y":600,"wires":[["25e686a3.7fc4aa"]]},{"id":"75dd8584.e4a57c","type":"trigger","z":"6ea7014a.9fc36","op1":"","op2":"http://camera1.local:8000/stream.mjpg","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":860,"y":560,"wires":[[]]},{"id":"2ccb03c6.e3494c","type":"serial out","z":"6ea7014a.9fc36","name":"","serial":"f2a13443.6baa18","x":380,"y":100,"wires":[]},{"id":"9c034ccc.2e28f","type":"ui_switch","z":"6ea7014a.9fc36","name":"","label":"switch","group":"a9bb8256.88dc2","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1:1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0:1","offvalueType":"str","officon":"","offcolor":"","x":150,"y":120,"wires":[["2ccb03c6.e3494c"]]},{"id":"27c7f1d9.08f06e","type":"ui_button","z":"6ea7014a.9fc36","name":"","group":"a9bb8256.88dc2","order":6,"width":0,"height":0,"passthru":false,"label":"GFP","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":200,"wires":[["cdd5bd8e.a544f","94a3a3d8.43f38"]]},{"id":"cdd5bd8e.a544f","type":"trigger","z":"6ea7014a.9fc36","op1":"1:0","op2":"0:0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":280,"y":180,"wires":[["2ccb03c6.e3494c"]]},{"id":"94a3a3d8.43f38","type":"trigger","z":"6ea7014a.9fc36","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":280,"y":240,"wires":[["fd7e7ff9.c62a9"]]},{"id":"1405d09e.67e5ef","type":"ui_template","z":"6ea7014a.9fc36","group":"a9bb8256.88dc2","name":"Display image","order":2,"width":"6","height":"6","format":"","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1260,"y":600,"wires":[[]]},{"id":"881f010a.fc0bc","type":"trigger","z":"6ea7014a.9fc36","op1":"/loading.gif","op2":"","op1type":"str","op2type":"nul","duration":"5","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":870,"y":640,"wires":[[]]},{"id":"323f162.3a5a3ea","type":"trigger","z":"6ea7014a.9fc36","op1":"/loading.gif","op2":"http://camera1.local:8000/stream.mjpg","op1type":"str","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":870,"y":680,"wires":[[]]},{"id":"23a09bb5.327d44","type":"ui_text","z":"6ea7014a.9fc36","group":"a9bb8256.88dc2","order":1,"width":0,"height":0,"name":"","label":"Camera id:","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":300,"wires":[]},{"id":"25e686a3.7fc4aa","type":"template","z":"6ea7014a.9fc36","name":"","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"16\" height=\"16\" alt=\"stream test\" src=\"{{payload}}\" />","output":"str","x":1080,"y":600,"wires":[["1405d09e.67e5ef"]]},{"id":"e1848759.6fc1d8","type":"debug","z":"6ea7014a.9fc36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":400,"wires":[]},{"id":"56499502.7f186c","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"set","p":"id_number","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":300,"wires":[["23a09bb5.327d44"]]},{"id":"fd80f6fe.089ac8","type":"change","z":"6ea7014a.9fc36","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"camera","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":300,"wires":[["56499502.7f186c"]]},{"id":"fd655753.733e38","type":"function","z":"6ea7014a.9fc36","name":"","func":"var id = flow.get(\"id_number\")||\"0\";\nvar count = flow.get(\"count\") || 0;\n\nif (msg.payload == id || msg.payload == \"100\"){\n    msg.payload = count\n    count++\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":150,"y":400,"wires":[["fd7e7ff9.c62a9","a59cb803.ec6c18"]]}]